{% extends "erp_admin/base.html" %}
{% load static tz  %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

.textboxhighlight {
   border-color: #f44336;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 126, 0.6);
}
}







</style>
{% endblock css %}
{% block content %}
 <div class="alert alert-danger cntcterr" hidden="hidden">
            <strong>Please enter a valid zipcode</strong>
 </div>
<div class="banner">
    <h2>
        <a href="{% url 'customer:list' %}">Customers</a>
        <i class="fa fa-angle-right"></i>
		<span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
{% if appointment == "appointment" %}
<form class="" action="{{form_url}}?create=appointment" method="post" id="qForm">
{% else %}
<form class="" action="{{form_url}}" method="post" id="qForm">
{% endif %}
    <div class="blank">
        <div class="grid-form1">

            <div class="tab-content">
                <div class="tab-pane active">
                    {% csrf_token %}
                    {{ customer_form.non_field_errors }}
                    {{ customer_form.field_errors }}
                    {{ customer_address_form.non_field_errors }}
                    {{ customer_form.field_errors }}

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.name.errors }}{{ customer_form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Gender<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.gender.errors }}{{ customer_form.gender }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Phone No.<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.phone.errors }}{{ customer_form.phone }}{{ customer_form.phone.help_text }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Email<span class="req"></span></label>
                                <div class="">
                                    {{ customer_form.email.errors }}{{ customer_form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ customer_address_form.addressline1.label }} <span
                                        class="req">*</span></label>
                                <div class="">
                                    {{ customer_address_form.addressline1 }}
                                    {{ customer_address_form.addressline1.errors }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label class="control-label">{{ customer_address_form.addressline2.label }} <span class="req">*</span></label>
                            {{ customer_address_form.addressline2 }}
                            {{ customer_address_form.addressline2.errors }}
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{{ customer_address_form.country.label }} <span class="req">*</span></label>
                            {{ customer_address_form.country }}
                            {{ customer_address_form.country.errors }}
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <label class="control-label">{{ customer_address_form.state.label }} <span class="req">*</span></label>
                            {{ customer_address_form.state }}
                            {{ customer_address_form.state.errors }}
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{{ customer_address_form.city.label }} <span class="req">*</span></label>
                            {{ customer_address_form.city }}
                            {{ customer_address_form.city.errors }}
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{{ customer_address_form.zipcode.label }}<span class="req"></span></label>
                            {{ customer_address_form.zipcode }}
                            {{ customer_address_form.zipcode.errors }}
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% if type == "Create" %}
    <div class="blank">
        <div class="grid-form1">
            <h4 style="margin-top:20px;">
                Create First Appointment
            </h4>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ appointment_form.non_field_errors }}
                    {{ appointment_form.field_errors }}
                    {{ appointment_form.field_errors }}

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label tdate">Date</label>
                                <div class="tdate">
                                    {{ appointment_form.appointment_date_time.errors }}
                                    {{ appointment_form.appointment_date_time }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <div class="">
                                    {{ appointment_form.status.errors }}{{ appointment_form.status}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{ service_formset.field_errors }}
                        {{ service_formset.management_form }}
                        <div id="products">

                            <h4 style="margin-top:20px;margin-left: 18px;margin-bottom: 17px;">Services</h4>
                            <div class="table-responsive">
                                <table class="table">

                                    <tbody>
                                    {% for item_form in service_formset %}
                                    <tr class="item">
                                        <td style="padding-left: 15px;">

                                            {{ item_form.id }}
                                            Service
                                            {{ item_form.service }}
                                            {{ item_form.service.errors }}

                                        </td>
                                        <td>
                                            Employee
                                            {{ item_form.employee }}
                                            {{ item_form.employee.errors }}

                                        </td>

                                        <td style="padding: 30px;">{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="blank">
        <div class="grid-form1">
            <div class="row" style="padding-left:2%;">
                {% if type == "Create" %}
                    <button style="float:right;display:none" class="btn-primary btn pull-right" type="submit" id="buttonid1">Save and add a product</button>
                    <button class="btn-primary btn pull-right" id="buttonid2" type="submit">Save Appointment</button>
                {%  else %}
                    <button class="btn-primary btn pull-right">Submit</button>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}

<script type="text/javascript">

        $('#buttonid1').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                $('#qForm').attr('action', '/customers/create/?product=product');

                if( $('#customer_name').val() == '' || $('#id_gender').val() == '' || $('#id_phone').val() == '' || $('#addressline1').val() == '' ){
                    $('#customer_name').focus()
                }else{
                    $('#qForm').submit();
                }
            });

        $('#buttonid2').click(function(e) {
                e.preventDefault();
                e.stopPropagation();

                $('#qForm').attr('action', '/customers/create/');

                if( $('#customer_name').val() == '' || $('#id_gender').val() == '' || $('#id_phone').val() == '' || $('#addressline1').val() == '' ){
                    $('#customer_name').focus()
                }else{
                    $('#qForm').submit();
                }
            });

        $(document).ready(function() {



              $('#zipcode').change(function () {
              var zip = $('#zipcode').val();

              if ((zip.length)< 5 || (zip.length)>10 ){

              $('#zipcode').addClass("textboxhighlight");
              $(this).attr("placeholder", "Please enter valid zipcode");
              $('#zipcode').val('')

              }
              else
              {
                $('#zipcode').removeClass("textboxhighlight");
              }


            });

             $('.item').formset({
                prefix: '{{ service_formset.prefix }}',
                addText: '<input type="button" class="btn btn-primary btn-xs" value="Add">',
                deleteText: '<font color="red">REMOVE</font>',
             });

            var $date_inputs = $('.tdate')
          var date_format = 'YYYY-MM-DD HH:mm';
            $date_inputs.daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: true,
                autoApply: true,
                showDropdowns: true,
                timePicker: true,
                startDate: new Date(),
                timePicker24Hour:true,
                locale: {
                    format: date_format,
                },
                    // calender_style: "picker_4",
                }, function(start, end, label) {
                });

                $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
                });

                $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });


                 if($('select[name="status"] option:selected').html() == "New"){
               $('select[name="status"]').prop('disabled', true);
               $('form').bind('submit', function () {
                  $('select[name="status"]').prop('disabled', false);
                 });
            }

            $('#state').val($("#state option:contains('Dubai')").val());
            $('#city').val($("#city option:contains('Dubai')").val());
            $('#country').val($("#country option:contains('UAE')").val());


      });





</script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>


{% endblock jsscript %}
