{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}




</style>
{% endblock head %}
{% block content %}

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6 col-xs-12">
                <h3>
                    Packages Redeemed
                </h3>
            </div>
            <div class="col-sm-6 col-xs-12">
                <a class="btn pull-right btn-success" href="{% url 'package:list' %}">Buy Package<i class="fa fa-shopping-cart"></i> </a>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Customer
                        </th>
                        <th>
                            Package
                        </th>
                        <th>Redeem Services</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in purchased %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'customer:detail' customer.invoice.customer.pk %}">
                                {{ customer.invoice.customer}}
                            </a>
                        </td>
                        <td>
                            {{ customer.package.name }}
                        </td>
                        <td>
                            <a class="btn" href="{% url 'invoice:detail' customer.invoice.pk %}">Redeem</a>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No Packages</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                <div id="pagination">
                    {{pagination|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>

$('form.delete').submit( function (e){
    e.preventDefault()
    e.stopPropagation()
    if(confirm('Are you sure?')){
        this.submit()
    }
})

$(document).ready(function(){

    $('[data-toggle="tooltip"]').tooltip();

    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)

        var query_string = ""
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)

            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')

            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }

        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }

        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));
    }

    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()

        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)

    })

});

$('#search').on('input', function() {
  $('form#search-form').submit();
});

jQuery.fn.putCursorAtEnd = function() {

  return this.each(function() {

    // Cache references
    var $el = $(this),
        el = this;

    // Only focus if input isn't already
    if (!$el.is(":focus")) {
     $el.focus();
    }

    // If this function exists... (IE 9+)
    if (el.setSelectionRange) {

      // Double the length because Opera is inconsistent about whether a carriage return is one character or two.
      var len = $el.val().length * 2;

      // Timeout seems to be required for Blink
      setTimeout(function() {
        el.setSelectionRange(len, len);
      }, 1);

    } else {

      // As a fallback, replace the contents with itself
      // Doesn't work in Chrome, but Chrome supports setSelectionRange
      $el.val($el.val());

    }

    // Scroll to the bottom, in case we're in a tall textarea
    // (Necessary for Firefox and Chrome)
    this.scrollTop = 999999;

  });

};

(function() {

  var searchInput = $("#search");

  searchInput
    .putCursorAtEnd() // should be chainable
    .on("focus", function() { // could be on any event
      searchInput.putCursorAtEnd()
    });

})();




</script>
{% endblock jsscript %}