{% load staticfiles %}
{% load static i18n account %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Jawdrop | Sinora{% block title %} {% endblock title %} </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/jawdrop_icon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
    addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
    window.scrollTo(0, 1);
    }

    </script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/jawdrop_style.css' %}" rel='stylesheet' type='text/css'/>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <style>
        body{
       background:url('/static/images/Jawdrop-Background.jpg') no-repeat center center!important;
           height: -webkit-fill-available;
            padding: 15px;
    background-size: cover;
}
  div.login-box {
    /*margin-bottom: 8em;*/
    /*margin-top: 3em;*/
    background-color: #fff;
    padding: 2em 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .fa{
        color: #4e1c5a!important;
        }

    </style>
</head>
<body>
<div class="">
    <div class="messages container">
        <div class="row">
            <div class="col-xs-12">

                {% if messages %}

                {% for message in messages %}
                {% if message.tags %}{% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" id="warning-alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success " id="success-alert">
                    <strong> {{ message }}</strong>
                </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info" id="info-alert">
                    <strong> {{ message }}</strong>
                </div>
                {% endif %}
                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
    <div class="login">
        <!--<h1><a href="#">ERP </a></h1>-->
        <div class="login-box col-xs-12 col-sm-4 col-sm-offset-4">
            <h1 style="margin: 0px 0px -90px;">
                        <image src="{% static 'images/Sinora-beauty-purple-logo.jpg'%}"></image>
                    </h1>
            {{ form.non_field_errors }}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h1></h1>
                    <div class="login-mail">
                        {{ form.login.errors }}
                        {{form.login}}
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        {{ form.password.errors }}
                        {{ form.password }}
                        <i class="fa fa-lock"></i>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                </div>
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 login-do">

                    <label class="hvr-shutter-in-horizontal login-sub"></label>
                    <input type="submit" value="{% trans 'Login' %}" style="background-color:#46166a; color:#fff;">

                </div>


            </form>
        </div>


        <div class="clearfix"></div>

    </div>
</div>
<div class="clearfix"></div>


<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}">
</script>
<script type="text/javascript">
    $('document').ready(function() {
    // body...
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
    $("#success-alert").slideUp(700);
    });
    $("#info-alert").fadeTo(2000, 500).slideUp(500, function() {
    $("#info-alert").slideUp(700);
    });
    $("#warning-alert").fadeTo(2000, 700).slideUp(700, function() {
    $("#info-alert").slideUp(700);
    });
});

</script>
</body>
</html>