{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.btn{
text-align: left!important;
}
.cl{
padding:30px;
border: 1px solid rgb(234, 234, 234);
margin-left:3px;
}
.cl1{
padding:20px;
border: 1px solid rgb(234, 234, 234);
margin-left:20px;
margin-right:20px;
margin-top:0px!important;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 430px!important;
}
</style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'supplier:list' %}">Supplier</a>
        <i class="fa fa-angle-right"></i>
		<span>{{supplier}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">


                <div class="profile">
                    <div class="profile-bottom">
                        <h3><i class="fa fa-user"></i>{{ supplier.name }}</h3>
                         <a href="{% url 'supplier:edit' supplier.pk %}" class="btn btn-link pull-right">
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                        </a>
                        <div class="profile-bottom-top">
                            <div class="col-md-4 profile-bottom-img">
                                <img src="{% static 'images/user.png' %}"  width="130px" height="130px">
                                {# <i class="fa fa-user-circle fa-10"></i> #}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                                
                                <table class="col-xs-12">
                                    
                                    <tr><td>Phone No :
                                        <!-- <td>:</td> -->
                                        {{ supplier.phone }}</td>
                                    </tr>
                                    
                                        <tr>
                                            <td>Email :
                                                <!-- <td> :</td> -->
                                                {% if supplier.email %}
                                                    {{ supplier.email }}
                                                {% endif %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>WhatsApp No. :
                                                <!-- <td>:</td> -->
                                                {% if supplier.whatsup_no %}
                                                    {{ supplier.whatsup_no }}
                                                {% endif %}

                                            </td>
                                        </tr>

                                </table>
                            </div>
                            <div class="clearfix">
                                
                            </div>
                        </div>           
                    </div>
                    
                    
                    <div class="col-sm-12">
                        <h4>Address</h4>
                        {% for addrss in address.all %}
                        <ul class="list-group">
                                
                            <li v-for="(addrss, index) in contact.addresses" class="list-group-item">
                                {% if  addrss.addressline1 %}<span> {{ addrss.addressline1 }}, </span><br>{% endif %}
                                {% if  addrss.addressline2  %}<span> {{ addrss.addressline2 }}, </span>{% endif %}
                                {% if  addrss.area  %}<span> {{ addrss.area }}, </span><br>{% endif %}
                                {% if  addrss.country.name  %}<span> {{ addrss.country.name }}, </span>{% endif %}
                                {% if  addrss.state.name  %}<span> {{ addrss.state.name }}, </span>{% endif %}
                                {% if  addrss.city.name  %}<span> {{ addrss.city.name }}, </span>{% endif %}
                                {% if  addrss.zipcode  %}<span> {{ addrss.zipcode }} </span>{% endif %}
                                
                            </li>
                        </ul>
                        {% endfor %}
                        
                    </div>
                </div>             
        </div>

    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}

</script>

{% endblock jsscript %}
