{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock css %}
{% block content %}
<form class="" action="{{form_url}}" method="post" id="qForm">
    <div class="blank">
        <div class="grid-form1">
            <a href="{% url 'invoice:location_listing' %}"> Cancel </a>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ location_form.non_field_errors }}
                    {{ location_form.field_errors }}
                    {{ customer_address_form.non_field_errors }}
                    {{ location_form.field_errors }}
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Country<span class="req">*</span></label>
                                <div class="">
                                    {{ location_form.country }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">State<span class="req">*</span></label>
                                <div class="">
                                    {{ location_form.state }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">City<span class="req">*</span></label>
                                <div class="">
                                    {{ location_form.city }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Area<span class="req">*</span></label>
                                <div class="">
                                    {{ location_form.area }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left:2%;">
                            <button type="submit" class="btn-primary btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}
