{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.grid-form1{
    border: 0px;
}

.row{
    padding-bottom: 1%;
}




</style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'invoice:list' %}">Invoice</a>
        <i class="fa fa-angle-right"></i>
        <span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<form method="post" action="{{form_url}}">{% csrf_token %}
    <input type="hidden" value={{appointment_pk}} name="appointment_pk">
    <div class="blank">
        <div class="grid-form1">
            <div class="row">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Invoice Code<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.code.errors }}{{ invoice_form.code }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Customer<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.customer.errors }}{{ invoice_form.customer}}
                        </div>
                        {% if type != "Edit" %}
                        <a href="{% url 'invoice:createcustomer' %}" class="btn btn-link">
                            <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Employee<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.supervisor.errors }}{{ invoice_form.supervisor }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Paid Date <span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.paid_date.errors }}{{ invoice_form.paid_date}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Date <span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.date.errors }}{{ invoice_form.date}}
                        </div>
                    </div>
                </div>
            </div>


        </div>

        {{ product_formset.management_form }}


        {% if product_formset.non_form_errors %}
        {% for error in item_formset.non_form_errors %}
        <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
        {% endfor %}
        {% endif %}
        <!--00-->
        <div id="products" style="display:none;">
            <div class="grid-form1">
                <label style="">Products</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                        <table class="table table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Unit Price(AED)</th>
                                <th>Quantity</th>
                                <th>Total(AED)</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product_form in product_formset %}
                            <tr class="item">

                                <td style="min-width: 250px;">
                                    <div>
                                        {{ product_form.id }}

                                        <select class="form-control product" id="{{ product_form.prdt.auto_id }}"
                                                name="{{ product_form.prdt.html_name }}"
                                                style="width: 100%;">
                                            <option value="">select</option>


                                            {% for product in products %}

                                            <option value="{{product.id}}"
                                                    data-price="{{product.price}}"
                                                    {% compare_uuid product.id product_form.prdt.value %}
                                            >{{product}}
                                            </option>

                                            {% endfor %}
                                        </select>
                                        {{ product_form.prdt.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ product_form.unit_price }}
                                        {{ product_form.unit_price.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ product_form.hours_or_sqfeet }}
                                        {{ product_form.hours_or_sqfeet.errors }}
                                    </div>
                                </td>
                                <td>{{ product_form.total_price }}</td>
                                <td class="item_prod_del">{% if product_form.instance.pk %}{{ product_form.DELETE }}{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


        <!--service-->
        {{ service_formset.management_form }}

        {% if service_formset.non_form_errors %}
        {% for error in service_formset.non_form_errors %}
        <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
        {% endfor %}
        {% endif %}
        <!--00-->
        <div id="services">
            <div class="grid-form1">
                <label style="">Service</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                        <table class="table table-bordered table-responsive" id="service_table">
                            <thead>
                            <tr>
                                <th>Item</th>
                                 <th>Employee</th>
                                <th>Unit Price(AED)</th>
                                <th>Hours</th>
                                <th>Total(AED)</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for service_form in service_formset %}
                            <tr class="serviceitem">

                                <td style="min-width: 250px;">
                                    <div>
                                        {{ service_form.id }}

                                        <select class="form-control service" id="{{ service_form.service_prdt.auto_id}}"
                                                name="{{service_form.service_prdt.html_name}}" style="width: 100%;">
                                            <option value="">select</option>

                                            {% for product in services %}
                                            <option value="{{product.id}}"
                                                    data-price="{{product.price_hour}}"
                                                    {% compare_uuid product.id service_form.service_prdt.value %}
                                            >{{product}}
                                            </option>

                                            {% endfor %}
                                        </select>
                                        {{ service_form.service_prdt.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ service_form.employee }}
                                        {{ service_form.employee.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ service_form.unit_price }}
                                        {{ service_form.unit_price.errors }}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ service_form.hours_or_sqfeet }}
                                        {{ service_form.hours_or_sqfeet.errors }}
                                    </div>
                                </td>

                                <td>{{ service_form.total_price }}</td>
                                <td class="item_del">{% if service_form.instance.pk %}{{ service_form.DELETE }}{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="discount_percentage">

                 <div class="row" style="padding-top:10px;">
                      <div class="col-md-9 offset-md-3" align="right">Sub Total : </div>
                      <div class="col-md-3"> <input type="text" class="form-control" id="excluding_tax"></div>
                 </div>
                 <div class="row">
                      <div class="col-md-9 offset-md-3" align="right">VAT : </div>
                      <div class="col-md-3"> <input type="text" class="form-control" id="tax"></div>
                 </div>

                 <div class="row">
                      <div class="col-md-9 offset-md-3" align="right">Sub Total + VAT : </div>
                      <div class="col-md-3"> <input type="text" class="form-control" id="total_cost_price"></div>
                 </div>


                 <div class="row">
                      <div class="col-md-9 offset-md-3" align="right">Discount <span id="disc_percen"></span>: </div>
                      <div class="col-md-3"> <input type="text" class="form-control" id="discount_value"></div>
                 </div>

                 <div class="row" id="grand_total">
                      <div class="col-md-9 offset-md-3" align="right">After Discount : </div>
                      <div class="col-md-3">
                        <input type="number" class="form-control" id="including_tax" step="0.0001">
                      </div>
                 </div>



                <div class="row">

                    <div class="col-md-9 offset-md-3" align="right">

                       Adjustment
                   </div>

                    <div class="col-md-3">

                        <input type="text" class="form-control" id="adjustment">

                    </div>


                </div>
                 <div class="row" style="display:none;">

                    <div class="col-md-9 offset-md-3" align="right">

                        Select Option
                   </div>

                    <div class="col-md-3">

                        <input type="radio" name="action" value="1">+<br>
                        <input type="radio" name="action" value="0" checked>-<br>

                    </div>


                </div>

                <div class="row">

                    <div class="col-md-9 offset-md-3" align="right">

                      Total Amount
                   </div>

                    <div class="col-md-3">

                        {{ invoice_form.after_adjustment }}

                    </div>


                </div>

                <div class="row">

                    <div class="col-md-9 offset-md-3" align="right">

                      Discount
                   </div>

                    <div class="col-md-3">

                        {{ invoice_form.discount.errors }}{{ invoice_form.discount}}

                    </div>


                </div>




                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
$(document).ready(function() {

        $('form').submit(function () {
        var cost_price = $.trim($('#excluding_tax').val());


        // Check if empty of not
        if (cost_price  == 0) {
            alert('Cost price should be greater than zero');
            return false;

        }

    });


    var grand_total = 0
    var remove_value=0
    var prod_remove_value=0
    $('.item').formset({
      prefix: '{{product_formset.prefix}}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="ADD PRODUCT">',
      deleteText: '<font color="red"><i class="fa fa-trash" aria-hidden="true"></i></font>',
      added: initializeFields,
      removed: setTotalAmount,

    });
    $('.serviceitem').formset({
      prefix: '{{service_formset.prefix}}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="ADD SERVICE">',
      deleteText: '<font color="red"><i class="fa fa-trash" aria-hidden="true"></i></font>',
      added: service_initializeFields,
      removed: setTotalAmount,

    });
    function initializeFields(row){
        var quantity = row.find(".quantity");
        attachSelect2(row.find("select.product"));

    }
    function service_initializeFields(row){
        var quantity = row.find(".service_quantity");
        attachSelect2(row.find("select.service"));

    }
    attachSelect2($('select.product'));
    attachSelect2($('select.service'));



    function attachSelect2(select_box){
        select_box.select2({
          placeholder: "Select",
          allowClear: true
        });
    }

    var products = $("#products");
    var round_off = $("#adjustment");
    var check_box = $("input[name='action']");
    var discount_percentage = $("#discount_percentage");
    var discount_value = $("#discount_value");

    products.on('change input', function (event) {
        var ele = event.target;
        var table_row = $(ele).parents('tr');
        var content_type = table_row.find("select.content_type");
        var product = table_row.find("select.product");
        var unit_price = product.find("option:selected").data("price");

        var quantity_input = table_row.find(".quantity");
        var total_input = table_row.find(".total_price");
        // rate_input.val(unit_price)

        if  (!quantity_input.val())

        {
            quantity_input.val(1);

        }


        var quantity = quantity_input.val()
        var rate_input = table_row.find(".unit_price")

            if (!rate_input.val() || rate_input.val() <= 0 || $(ele).is("select.product"))
            rate_input.val(unit_price)
            var rate = rate_input.val()


            a = parseFloat(rate * quantity)
            total_input.val(a)
            setTotalAmount()




    });

    function setTotalAmount(){
       <!--console.log("$(subTotal)")-->


        grand_total=0;

		sub_totals = $('#products').find(".total_price")
	    var amount = 0;
	    sub_totals.each(function(index,subTotal){
	    	var st = $(subTotal).val();
	    	amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
	    	console.log("$(subTotal)",$(subTotal).val())

	    });
	    console.log("amount",amount)

	    service_sub_totals= $('#services').find(".service_total_price")

	    service_sub_totals.each(function(index,subTotal){
	    	var st = $(subTotal).val();
	    	amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
	    });

        grand_total+=amount;
        grand_total-=parseFloat(remove_value)
        grand_total-=parseFloat(prod_remove_value)

         tax=grand_total*.05;

	    $('#excluding_tax').val(grand_total);
	    $('#tax').val(tax);
	    console.log("remove_value",remove_value)

	    including_tax=grand_total+tax
	    grand_total=including_tax

	    discount_value=grand_total*(discount_percentage.val()/100)

	    grand_total-=discount_value

	    $('#discount_value').val(discount_value);


	   $('#total_cost_price').val(including_tax);

	     $('#including_tax').val(grand_total);


	     after_adjustment();
    }


    var services = $("#services");
    services.on('change input', function (event) {
        var ele = event.target
        var table_row = $(ele).parents('tr')
        var content_type = table_row.find("select.content_type")
        var product = table_row.find("select.service")
        var unit_price = product.find("option:selected").data("price")
        var quantity_input = table_row.find(".service_quantity")
        var total_input = table_row.find(".service_total_price")
        // rate_input.val(unit_price)

        if  (!quantity_input.val())

        {
            quantity_input.val(1)

        }


        var quantity = quantity_input.val()
        var rate_input = table_row.find(".service_unit_price")
        // var rate_input = table_row.find(".price")
        if (!rate_input.val() || rate_input.val() <= 0 || $(ele).is("select.service"))
        rate_input.val(unit_price);
        var rate = rate_input.val();


        a = parseFloat(rate * quantity);
        total_input.val(a);
        setTotalAmount();
    });


    check_box.click(function(){
        after_adjustment()
    });
    function after_adjustment(){

            var action = $("input[name='action']:checked").val()
            if (round_off.val())
            {
                if (action == 0)
                {
                    total = parseFloat(grand_total) -parseFloat(round_off.val());
                    $('#after_adjustment').val(total.toFixed(2));
                }
                else
                {
                    total = parseFloat(grand_total)+parseFloat(round_off.val());
                    $('#after_adjustment').val(total.toFixed(2));
                }
            }
            else
            {
                total = parseFloat(grand_total);
                $('#after_adjustment').val(total.toFixed(2));
            }
    }

    $('.pldate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {format: 'YYYY-MM-DD',},
        }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $("#discount").change(function(event){

       var discount_pk = $(this).children("option:selected").val();
       var customer_pk = $("#customer").val();
       console.log(customer_pk);
       if (discount_pk && customer_pk)
        {
           $.ajax(
           {
               url : '/invoice/discount/' + discount_pk + '/'+ customer_pk + '/',
               type: "GET",
               data: {

                'service_count': $("#service_table > tbody").children().length-1,
                'total_amount':$("#excluding_tax").val(),


               },
               success:function(data)
               {
                   if (data.is_true == true)
                   {
                        alert("This offer is not available");
                         $("#discount_percentage").val(0);
                         setTotalAmount();

                        $('#discount option').prop('selected', function() {
                            return this.defaultSelected;
                        });

                    }

                   else{

                          $("#discount_percentage").val(data.percentage);
                           setTotalAmount();
                        }
               },
               error: function(jqXHR, textStatus, errorThrown)
               {

                   $("#discount_percentage").val(0);
                   setTotalAmount();
               }
           });
       }
       else
       {
            alert("Please Select the customer ");
            return false;
        }
    });
    $("#customer").change(function(event){
            var customer_pk = $(this).children("option:selected").val();
            var discount_pk = $("#discount").val();
            console.log(discount_pk);
            if (discount_pk && customer_pk)
            {
                $.ajax(
                {
                    url : '/invoice/discount/' + discount_pk + '/'+ customer_pk + '/',
                    type: "GET",
                    data: {
                        'service_count': $("#service_table > tbody").children().length-1,
                        'total_amount':$("#excluding_tax").val(),
                    },
                    success:function(data)
                        {
                           if (data.is_true == false) {
                                alert("This offer is not available")
                                $("#discount_percentage").val(0)
                                setTotalAmount();
                                $('#discount option').prop('selected', function() {
                                    return this.defaultSelected;
                                });
                           }
                           else{
                                $("#discount_percentage").val(data.percentage)
                                setTotalAmount();
                           }
                        },
                    error: function(jqXHR, textStatus, errorThrown)
                    {

                        $("#discount_percentage").val(0)
                        setTotalAmount();
                    }
                });
            }

     });


    $(".item_del").children().on('click', function (event) {
            remove_value=0

            $(".item_del").children().find( '#service_total_price')
            <!--console.log("yuuu",$(".item_del").children().find( '#service_total_price'))-->
              <!--console.log("yuuu",$(".item_del").children().find( 'tr #service_total_price').val())-->
              <!--console.log($(".item_del").closest('tr'));-->
              remove_amount=$(".item_del").closest('tr').find('#service_total_price').val()
              console.log("remove_amount",remove_amount)

             <!--removeItem(remove_amount)-->
             remove_value+=parseFloat(remove_amount)
             setTotalAmount()



            <!--alert("yu")-->
        <!--$('#total_cost_price').val(0);-->
      });


     $(".item_prod_del").children().on('click', function (event) {
            prod_remove_value=0

            $(".item_prod_del").children().find( '#total_price')

              remove_amount=$(".item_prod_del").closest('tr').find('#total_price').val()
              console.log("remove_amount",remove_amount)

             <!--removeItem(remove_amount)-->
             prod_remove_value+=parseFloat(remove_amount)
             setTotalAmount()



            <!--alert("yu")-->
        <!--$('#total_cost_price').val(0);-->
      });


    setTotalAmount()








});

</script>
{% endblock jsscript %}
