{% extends "erp_admin/base.html" %}
{% load static %}

{% block head %}
<style>
.status-open {
    background-color:#afeeee;
    font-size:11px;
}
.status-rejected {
    background-color:#00bfff;
    font-size: 11px;
}




</style>
{% endblock head %}

{% block content %}


<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">

                <div class="col-sm-12 col-md-12">
                    <h2>Daily Sales: {{from_date}}</h2>
                    {% if date %}<h4>Generated {{date}}</h4>{% endif %}
                </div>

                <form id="form" action="/sales/daily/report/" method="get">
                    {% csrf_token %}
                    <div class="col-sm-4">

                        <input type="text" class="form-control date" name="date">

                    </div>

                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button>
                        <a href="{% url 'invoice:daily_report' %}" class="btn btn-primary"> <i
                                class="fa fa-refresh"></i></a>
                    </div>
                </form>
                <div class="col-sm-4">
                    <div class="dropdown">


                    </div>

                </div>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ITEM TYPE</th>
                            <th>SALES QTY</th>
                            <th>GROSS TOTAL(AED)</th>


                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>Services</td>
                            <td>
                                {% if services_invoices.hours_or_sqfeet__sum %}
                                {{services_invoices.hours_or_sqfeet__sum}}
                                {% else %}
                                0
                                {% endif %}
                            </td>
                            <td>
                                {% if services_invoices.total_price__sum %}
                                {{services_invoices.total_price__sum}}
                                {% else %}
                                0
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Products</td>
                            <td>
                                {% if products_invoices.hours_or_sqfeet__sum %}
                                {{products_invoices.hours_or_sqfeet__sum}}
                                {% else %}
                                0
                                {% endif %}
                            </td>
                            <td>
                                {% if products_invoices.total_price__sum %}
                                {{products_invoices.total_price__sum}}
                                {% else %}
                                0
                                {% endif %}
                            </td>


                        </tr>


                        <tr>

                            <td>Total Cost Price</td>
                            <td></td>
                            <td>
                                {% if invoices.total_cp %}
                                    {{invoices.total_cp}}
                                {% else %}0{% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td></td>
                            <td>
                                {% if invoices.total_tax %}
                                    {{invoices.total_tax}}
                                {% else %}0{% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Discount</td>
                            <td></td>
                            <td>
                                {% if invoices.total_discount %}
                                    {{invoices.total_discount}}
                                {% else %}0{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Total Selling Price</td>
                            <td></td>
                            <td>{% if invoices.total_sp %}
                                    {{invoices.total_sp}}
                                {% else %}0{% endif %}
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function() {
    $('.date').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
    
});


</script>

{% endblock jsscript %}
