
<html>
{% load staticfiles %}
<head>

<style>
.row{
  
}
.pd_size{
  font-size:18px;

}
.pd_size1{
  font-size:15px;

}

th,td{
  padding:5px;
}
.table{
  width:auto;
}

.signature {
    border: 0;
    border-bottom: 1px solid #000;
}

</style>

    <!-- <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
     --><!-- Custom Theme files -->
    <!-- <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">
 -->
</head>

<body>





<section>

  <div class="container">

      <div class="row">
          <div class="col-md-12">
          <p style="font-size:40px;" align="center">DELIVERY NOTE</p>
          </div>

      </div>
      <div class="row">
          <div class="col-md-12">
          <p class="pd_size" align="right">
            <strong>Date : {{invoice.created_at|date:'d/m/Y'}} </strong>
            
          </p>

          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-6">
              <h4 style="font-size:20px;">#{{delivery_note.code}}  </h4>
              <span style="font-size:17px;"> 
                Balance Due :
                {% if invoice.paid %}
                   <i class="fa fa-inr"></i> 0.00
                {% else %}
                  <i class="fa fa-inr"></i>{{invoice.quotation.amount}}
                {% endif %}
              </span> 
          </div>
          
      </div>
      
      <div class="row">
          <div class="col-sm-12">
                <h4 style="font-size:20px;">
                    Bill To : {{invoice.contact.name}} ,{{invoice.contact.customer.name}}
                </h4>
               <p class="pd_size">
                 {{quotation.contact.designation}}
                </p>

                <p style="margin-top:15px;" class="pd_size">
                  Phone : {{invoice.contact.phone}},
                  {{invoice.customer.contact.alternate_phone}}
                </p>

                 <p style="margin-top:15px;" class="pd_size"> 
                  Email : {{invoice.contact.email}}
                  </p>
            </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="">
            <h3 style="font-size:20px;">Descriptions</h3>
                <table class="table table-bordered" border="1" style="margin-top:20px;">
                  <thead>
                      
                  </thead>
                  <tbody>
                          <tr>
                              <th class="pd_size" align="left">Total Batches</th>
                              <th class="pd_size1"  align="left">{{delivery_note.item_quantity}}</th>
                          </tr>
                          <tr>
                              <th class="pd_size" align="left">Unit Of Materials</th>
                              <th <th class="pd_size1" align="left">{{delivery_note.unit_of_materials}}</th>
                          </tr>
                         
                          <tr>
                              <th class="pd_size" align="left">Mode Of Transport</th>
                              <th <th class="pd_size1" align="left">{{delivery_note.mode_of_transport}}</th>
                          </tr>
                          <tr>
                              <th class="pd_size" align="left">Vehicle No.</th>
                              <th <th class="pd_size1" align="left">{{delivery_note.vehicle_no}}</th>
                          </tr>
                          <tr>
                              <th class="pd_size" align="left">Courier Details</th>
                              <th <th class="pd_size1" align="left">{{delivery_note.courier_details}}</th>
                          </tr>
                          <tr>
                              <th class="pd_size" align="left">Returnable</th>
                              <th <th class="pd_size1" align="left">
                                  {% if delivery_note.returnable %}
                                      Yes
                                  {% else %}
                                   No
                                  {% endif %}
                              </th>
                          </tr>
                    </tbody>
                  </table>
            </div>
      </div>

      {% if not onlyinventory %}
        <div class="row">
          <div class="col-sm-12 col-xs-12" style="">
            <h3 style="font-size:20px;">Batch Details {{ ONLY_INVENTORY }}</h3>
            <table class="table" border="1" style="margin-top:20px;font-size:18px;">
                <thead>
                    <tr>
                        <td><strong>Batches</strong></td>
                    </tr>
                </thead>
                <tbody>
                  {% for batch in batches %}
                    <tr>
                    <td>{{batch.code}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      {% endif %}

        <div class="row">
              <div class="col-sm-12 col-xs-12" style="">
                <h3 style="font-size:20px;">Item Details</h3>
                <table class="table" border="1" style="margin-top:20px;font-size:18px;">
                        <thead>
                            <tr>
                                <td><strong>Product</strong></td>
                                <td><strong>Expected Delivery Date</strong></td>
                                <td><strong>Price</strong></td>
                                <td><strong>Quantity</strong></td>
                                <td><strong>Total</strong></td>
                            </tr>
                        </thead>
                        <tbody>

                          {% for product in products %}
                            <tr>
                            <td>{{product.product}}</td>
                            <td>{{product.expected_date}}</td>
                            <td><i class="fa fa-inr"></i>{{product.price}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.total_price}}</td>
                            </tr>
                          {% endfor %}
                            <tr>
                              <td colspan="4"><h4>Shipping Charge</h4></td>
                              <td><h4>
                              <i class="fa fa-inr"></i>{{invoice.shipping_charges}}
                              </h4></td>
                            </tr>
                            <tr>
                              <td colspan="4"><h4>Tax</h4></td>
                              <td><h4>
                              <i class="fa fa-inr"></i>{{invoice.tax}}
                              </h4></td>
                            </tr>
                            <tr>
                              <td colspan="4"><h4>Amount</h4></td>
                              <td><h4>
                              <i class="fa fa-inr"></i>{{invoice.quotation.amount}}
                              </h4></td>
                            </tr>
                        </tbody>
                  </table>
              </div>
        </div>
        <div class="row" style="padding-top:30px;">
          <p style="font-size:15px;">Note : {{delivery_note.item_description}}</p>
          <p style="font-size:18px;">Thanks for your business</p>
          <p style="font-size:18px;">Authorized Signature</p>
          <input type="text" class="signature"/>
        </div>
</section>
    
    


</body>
 
</html>