{% extends "erp_admin/base.html" %} {% load static gst %}
{% block head %}

<style>


    .grid-form{
        padding:2em;
    }
    .tpad{
        padding: 0.3em 1em;
    }
     .grid-form3{
        padding:1em;
    }



@media screen and (max-width:768px) {
  .dropdown-menu {
    left: -2em!important;
}
}
 @media print {
         .employee {display:none;}
         .redeem-btn{display:none;}
         .adjustment{display:none;}


      }


.dropbtn {
  color: #ee1a67;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}


</style>
{% endblock head %}
{% block content %}
<div class="banner">
    <h2>
        <a href="{% url 'invoice:list' %}">Invoice</a>
        <i class="fa fa-angle-right"></i>
        <span>{{invoice.customer}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
<div class="banner" style="margin-top:20px;">
    <div class="serv grid-form1">
        <div class="but_list">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    More Options
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        {% if invoice.package_invoice %}
                        <a href="{% url 'package:editpackage' invoice.id %}">Edit</a>
                        {% else %}
                        <a href="{% url 'invoice:edit' invoice.id %}">Edit</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'invoice:invoice_pdf' invoice.id %}" id="createpdf"
                           target="__blank">Download</a></li>
                </ul>
            </div>

            <a onclick="printDiv()" target="__blank"> <i class="fa fa-print fa-fw"></i>
            </a>
            <div class="dropdown">
                <a class="dropbtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                <div class="dropdown-content">
                    <a href="{% url 'calendarapp:send_whatsapp' invoice=invoice.pk %}"
                       style="background-color:#25D366;"><i class="fa fa-whatsapp" aria-hidden="true"
                                                            style="color:#fff;">&nbsp; WhatsApp</i></a>
                    <a href="{% url 'invoice:invoice_mail' invoice.pk %}" style="background-color:#D44638;"><i
                            class="fa fa-envelope" aria-hidden="true" style="color:#fff;">&nbsp; Email</i></a>
                    <a href="{% url 'calendarapp:send_sms' invoice=invoice.pk %}" style="background-color:#73726c;"><i
                            class="fa fa-comment" aria-hidden="true" style="color:#fff;">&nbsp; SMS</i></a>
                </div>
            </div>

        </div>


    </div>


    <form class="form" id="print_receipt">
        <div class="row grid-form3">
            <div class="grid-form">
                <div class="serv">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        {% if logo %}
                        <h3>
                            <img src="{{ logo.logo.url }}">
                        </h3>
                        {% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        <p style="margin-left: 50px;"><i class="fa fa-home"></i> &nbsp {{ logo.buildingno|safe }},</br>
                            Tel:+{{ logo.phone_number}}
                            {% if logo.alternate_phone %}/{{ logo.alternate_phone}}{% endif %}
                            {% if logo.email %},</br> E mail:{{ logo.email }}{% endif %}
                            {% if logo.website %},</br>{{ logo.website }}{% endif %}
                        </p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h3 align="center" style="padding-top:2%;padding-bottom:3%;font-size:35px;">Tax Invoice </h3>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">

                        <p><i class="fa fa-user"></i> &nbsp {{ invoice.customer.name }}</p>
                        <p>
                            <i class="fa fa-calendar"></i>
                            &nbsp {{ invoice.date | date:"D, d M Y" }}
                        </p>
                        <p><i class="fa fa-phone"></i> &nbsp {{ invoice.customer.phone }}</p>
                        <p><i class="fa fa-envelope"></i> &nbsp {{ invoice.customer.email }}</p>
                        <br><br>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <p>INV NO : &nbsp {{ invoice.code }}</p>
                        <p>Staff Name: &nbsp
                            {{ invoice.supervisor.user.first_name }}
                        </p>
                        <p>
                            TRN NO :
                            &nbsp {{ location.trn_no }}
                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product/Service</th>
                                    <th>Item</th>
                                    <th class="employee">Employee</th>
                                    <th>Unit Price</th>
                                    <th>Quantity/Hours</th>
                                    <th>Total (AED)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in services %}
                                <tr>
                                    <td style="color:#000;">{{forloop.counter}}</td>
                                    <td style="color:#000;">{{service.content_type}}</td>
                                    <td style="color:#000;">{{service.content_object}}</td>
                                    <td style="color:#000;" class="employee">{{service.employee}}</td>
                                    <td style="color:#000;">{{service.unit_price}}</td>
                                    <td style="color:#000;">{{service.hours_or_sqfeet}}</td>
                                    <td style="color:#000;">{{service.total_price}}</td>
                                    {% if not service.completed %}
                                    <td class="redeem-btn" style="border: none;">
                                        <button type="button" class="btn btn-danger redeem" data-toggle="modal"
                                                data-target="#myModal" id="redeem{{ service.pk }}"
                                                data-id="{{ service.pk }}">Redeem
                                        </button>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6" align="right" class="col-ali"><h5>Gross Total</h5></td>
                                    <td colspan="6" class="col-ali"><h5>{{invoice.amount}}</h5></td>
                                </tr>
                                <tr>
                                    <td colspan="6" align="right" class="col-ali"><h5>Discount</h5></td>
                                    <td colspan="6" class="col-ali">
                                        <h5>
                                            {% if invoice.discount_amount %}
                                            {{invoice.discount_amount}} ( {{invoice.discount_percentage}} %)
                                            {% else %}
                                            0
                                            {% endif %}
                                        </h5>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="6" align="right" class="col-ali"><h5>Net off Discount</h5></td>
                                    <td colspan="6" class="col-ali"><h5>{{invoice.after_discount}}</h5></td>
                                </tr>
                                <tr>

                                    <td colspan="6" align="right" class="col-ali"><h5>VAT 5%</h5></td>
                                    <td colspan="6" class="col-ali"><h5>{{invoice.tax_amount}}</h5></td>
                                </tr>

                                <!--<tr>-->

                                    <!--<td colspan="6" align="right" class="col-ali"><h5>Sub Total + VAT</h5></td>-->
                                    <!--<td colspan="6" class="col-ali"><h5>{{invoice.total_cost_price}} (5%)</h5></td>-->
                                <!--</tr>-->

                                <!--{% if invoice.discount %}-->

                                <!--<tr>-->
                                    <!--<td colspan="6" align="right" class="col-ali"><h5>Discount Type</h5></td>-->
                                    <!--<td colspan="6" class="col-ali">-->
                                        <!--<h5>-->
                                            <!--{{invoice.discount}}-->
                                        <!--</h5>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--{% endif %}-->



                                <tr class="adjustment">

                                    <td colspan="6" align="right" class="col-ali"><h5>Round off Amount</h5></td>
                                    <td colspan="6" class="col-ali"><h5>{{invoice.calculate_adjustment}}</h5></td>
                                </tr>
                                <tr>

                                    <td colspan="6" align="right" class="col-ali"><h5>Total</h5></td>
                                    <td colspan="6" class="col-ali"><h5>{{invoice.after_adjustment}}</h5></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add the Employee who did the service</h4>
            </div>
            <form action="{% url 'invoice:redeem' %}" method="post" id="formredeem">
                {% csrf_token %}
            <div class="modal-body">

                    <label>Select Employee</label>
                    <select class="form-control" name="employee">
                        {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee }}</option>
                        {% endfor %}
                    </select>
                    <input name="servicename" value="" id="serviceem" type="hidden">

            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-default">
            </div>
            </form>
        </div>

    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jspdf.min.js' %}"></script>
<script src="{% static 'js/html2canvas.min.js' %}"></script>
<script>
    var form = $('.form');
    cache_width = form.width();
    a4 = [595.28, 841.89]; // for a4 size paper width and height
    $('#create_pdf').on('click', function()
    {

        alert("hi");
      	$('body').scrollTop(0);
       	$(".employee").css("display", "none");
        $(".redeem-btn").css("display", "none");
        $(".adjustment").css("display", "none");
       	$("td.col-ali").attr('colspan',5);
      	createPDF();
    });
    //create pdf
    function createPDF()
    {
    	getCanvas().then(function(canvas)
    	{
        	var img = canvas.toDataURL("image/png"),
          	doc = new jsPDF(
          	{
            	unit: 'px',
            	format: 'a4',
          	});
        	doc.addImage(img, 'JPEG', 20, 20);
        	doc.save('{{invoice.customer}}.pdf');
        	form.width(cache_width);
      	});
    }
    // create canvas object
    function getCanvas()
    {
    	form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');
      	return html2canvas(form, {imageTimeout: 2000,removeContainer: true,});
    }


  $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Are you sure?')){
            this.submit()
        }
    })

    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     $("td.col-ali").attr('colspan',5);
     window.print();
     document.body.innerHTML = originalContents;
    }




$(document).on("click", ".redeem", function () {
     var myBookId = $(this).data('id');
     $("#serviceem").val( myBookId );
    $('#myModal').modal('show');
});

</script>

{% endblock jsscript %}