{% extends "erp_admin/base.html" %}
{% load static tz %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

<style>
.row{
    margin-left:35px;
    margin-right:35px;
}
td span{
	font-size: 1em;
	padding: 0px;
}

 .form-inline .form-control{
        width: 100%!important;
    }
  .ad_charge{
  	margin-top:15px;
  	margin-bottom:20px;

  }

.cl {
	margin-bottom:10px!important;
    padding-top: 30px;
    padding-bottom:30px;
    margin-left:20px;
    margin-right:30px;
    border: 1px solid rgb(234, 234, 234);
    background-color:#ffffff;
}
.select2-container--default .select2-selection--multiple{
    border-radius:0px!important;
   
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 0px!important;
    border: 1px solid #ccc!important;
}

.select2-container .select2-selection--single {
    
    height: 34px!important;
 }
 .pleft{
 	padding-left:40px;
 }
 .pleft1{
 	padding-left:20px;
 }
 .req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}

{% block content %}

	<div class="panel-body cl">
		<div class="row">
			<div class="col-sm-6">
				  {% if not edit %}
					<a href="{% url 'invoice:code_settings' %}"><i class="fa fa-pencil"></i>Manage code</a>
				  {% endif %}
			</div>
			<div class="col-sm-6" align="right">
				<a href="{% url 'invoice:list' %}">Cancel</a>
			</div>
		</div>

		  			{% if not edit %}
				  	     <h3 style="margin-top:20px;margin-left:30px;">Create Invoice</h3>
				  	 {% else %}
				  	     <h3 style="margin-top:20px;margin-left:30px;">Edit Invoice</h3>

				  	 {% endif %}

	</div>

	<form class="form-horizontal" action="{{form_url}}" method="post">{% csrf_token %}
		{{ invoice_form.non_field_errors }}
		{{ invoice_form.field_errors }}	
	
		<div class="panel-body cl">
			<h3 style="margin-left:30px;">Details</h3>
						
						<div class="row">
							<div class="form-group">
								<div class="form-inline">
									{% if edit != "edit" %}
				                        <label class="col-md-2 control-label">Invoice Code<span class="req">*</span></label>
				                        <div class="col-md-5">
				                            {{ invoice_form.code.errors }}{{ invoice_form.code }}
				                        </div>
				                    {% else %}
				                    	<label class="control-label pleft"><h4>Invoice No. : </h4> <span class="req">*</span></label>
				                    	<label class="control-label pleft1"><h4>{{invoice.code}}</h4></label>
			                       		 
			                        {% endif %}
			                    </div>

			                </div>
			            </div>
			            
			           
				          <div class="row" style="">
									<div class="form-group">
										<div class="form-inline">
										   {% if edit != "edit" %}
						                        <label class="col-md-2 control-label">Employee<span class="req">*</span></label>
						                        <div class="col-md-5">
						                            {{ invoice_form.sales_person.errors }}{{ invoice_form.sales_person }}
						                        </div>
						                    {% else %}
						                       <label class="control-label pleft"><h4>Employee : </h4> </label>
						                       <label class="control-label pleft1"><h4>{{invoice.sales_person }}</h4></label>
						                        
						                    {% endif %}
					                    </div>
					                </div>
					       </div>

					       <div class="row">
							<div class="form-group">
								<div class="form-inline">
									
				                        <label class="col-md-2 control-label">Due Date:</label>
				                        <div class="col-md-5">
				                            {{ invoice_form.due_date.errors }}{{ invoice_form.due_date }}
				                        </div>
				                    
			                    </div>

			                </div>
			            </div>
			            <div class="row">
							<div class="form-group">
								<div class="form-inline">
									
				                        <label class="col-md-2 control-label">Credit Period(in days):</label>
				                        <div class="col-md-5">
				                            {{ invoice_form.credit_periods.errors }}{{ invoice_form.credit_periods }}
				                        </div>
				                    
			                    </div>

			                </div>
			            </div>
			            <div class="row">
							<div class="form-group">
								<div class="form-inline">
									
				                        <label class="col-md-2 control-label">Additional Charge</label>
				                        <div class="col-md-5">
				                            {{ invoice_form.additional_charge.errors }}{{ invoice_form.additional_charge }}
				                        </div>
				                    
			                    </div>

			                </div>
			            </div>
		    </div>	
					
			<div class="panel-body cl">
				<h3 style="margin-left:30px;">Payment Terms</h3>
		            <div class="row" style="margin-top:30px;">
		                <div class="form-group">
		                    <div class="form-inline">
		                        <label class="col-md-3 col-xs-8 control-label">Select payment terms</label>
			                        {% if edit %}
				                        <div class="col-md-4 col-xs-10">
				                            <select name="payment" class="form-control" id="payment_term" multiple="true">
				                            	{% for payment_term in payment_terms %}
					                            	{% if payment_term.payments.all %}
					                            		{% for payment in payment_term.payments.all %}
					                            			{% if payment.invoice == invoice %}
					                            				<option value="{{payment_term.id}}" selected>{{payment_term}}</option>
					                            			{% endif %}
					                            		{% endfor %}
					                            	{% else %}
					                            		<option value="{{payment_term.id}}">{{payment_term}}</option>
					                            	{% endif %}
				                            	{% endfor %}
				                            </select>
				                        </div>
				                     {% else %}
				                     	<div class="col-md-4 col-xs-10">
				                            <select name="payment" class="form-control" id="payment_term" multiple="true">
				                            	{% for payment_term in payment_terms %}
				                            		<option value="{{payment_term.id}}">{{payment_term}}</option>
					                           {% endfor %}
				                            </select>
				                        </div>
				                    {% endif %}
		                    </div>
		                </div>
	                </div>
	                <div class="row" style="margin-top:30px;">
					<div class="form-group">
						<div class="col-sm-12">
    						<p align="right"><button class="btn-primary btn pull-right">Submit</button></p>
    					</div>
    				</div>
				</div>
	        </div>



		
		
						
	</form>
					
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {

	$("#payment_term").select2({
	maximumSelectionLength: 10,
	
	});

	$("#contact").select2({
	maximumSelectionLength: 10,
	
	});
	$("#sales_person").select2({
	maximumSelectionLength: 10,
	
	});
	
	

	var products = $("#products");
	products.on('change', function (event) {
		console.log(this, event)
		var ele = event.target
		var table_row = $(ele).parents('tr')
		// console.log('product:', table_row.find("select.product"))
		var a = 0;
		var product = table_row.find("select.product")
		var unit_price = product.find("option:selected").data("price")
		
		// table_row.find(".unit_price").html(unit_price)
		var rate_input = table_row.find(".price")
		if (!rate_input.val() || rate_input.val() == 0 || $(ele).is("select.product"))
			rate_input.val(unit_price)
		
		var quantity_input = table_row.find(".quantity")
		var discount_input = table_row.find(".discount")
		var after_discount_input = table_row.find(".after_discount")
		var discount_type_input = table_row.find(".discount_type")
		var total_input = table_row.find(".total")

		if(!quantity_input.val())
			quantity_input.val(1)

		if(!discount_input.val())
			discount_input.val(0)

		var rate = rate_input.val()
			quantity = quantity_input.val()
			discount = table_row.find(".discount").val()
			discount_type = table_row.find(".discount_type").val()
			
		if (product.val()) {
			a = parseFloat(rate * quantity)
			
			after_discount_input.text(applyDiscount(parseFloat(rate_input.val()), discount, discount_type))

			var total_val = applyDiscount(parseFloat(rate * quantity), discount, discount_type)
			total_input.val(total_val)
		    
		    setTotalAmount()
		}

		function applyDiscount(amount, discount_val, discount_type) {
			amount = amount || 0
			if(discount_type == "percentage")
				amount *= ( 1 - parseFloat(discount_val) / 100 )
			else 
				amount -= parseFloat(discount_val)

			return amount.toFixed(2)
		}
	});


	function setTotalAmount(){
		sub_totals = $('#products').find(".total")
	    var amount = 0;
	    sub_totals.each(function(index, subTotal){
	    	var st = $(subTotal).val();
	    	amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
	    });

	    $("#sub-total").text(amount)
	    console.log(amount);
	}
		
	products.find("tr.item").each(function(index, item){
		initializeFields($(item))
	});

	var additional_charges = $("#additional_charges");
	additional_charges.on('change', function(e){
		setTotalAmount()		
	})
	


	function attachDateRangePicker(input_date){
		input_date.daterangepicker({
			singleDatePicker: true,
			showDropdowns: true,
			minDate:new Date(),
			locale: {
				format: 'YYYY-MM-DD',
			},
		}, function(start, end, label) {
			console.log(start.toISOString(), end.toISOString(), label);
		});
	}

	attachDateRangePicker($('#duedate'))
});

</script>











{% endblock jsscript %}