<!--Last Modified By:REMYA M S-->
<div class="panel-body cl"> 
 			<h2 style="margin-top:20px;">Product Details</h2>
		        <div class="row" style="margin-top:20px;">
		           <div class="col-xs-12 table-responsive">
							
						<div id="products">	  

    						<table class="table table-bordered" style="margin-top:20px;">
                            <thead>
                                <tr>
                                    <th><h4>Product</h4></th>
                                    <th><h4>Expected Delivery Date</h4></th>
                                    <th><h4>Price(Excluding Tax)</h4></th>
                                    <th><h4>Tax(%)</h4></th>
                                    <th><h4>Price After Discount</h4></th>
                                    <th><h4>Quantity</h4></th>
                                    <th><h4>Total</h4></th>
                                </tr>
                            </thead>
                            <tbody>


                                {% for prod in quote_products.all %}

                                <tr style="font-size:20px;">
                                    <td>{{prod.product}}</td>
                                    <td>{{prod.expected_date}}</td>
                                    <td><i class="fa fa-inr"></i>{{prod.priceExclusiveOfTax}}</td>
                                    <td>{{prod.totalTaxRate}}</td>
                                    <td><i class="fa fa-inr"></i>{{prod.after_discount}}</td>
                                    <td>{{prod.quantity}}</td>
                                    <td>{{prod.total_price}}</td>
                                </tr>
                                {% endfor %}
    	                            
    	                        <tr>
    	                            <td colspan="6"><h4 align="right">Sub Total<br>(including shipping charge and tax)</h4></td>
    	                            <td>
    	                                <h4><i class="fa fa-inr"></i>{{quotation.amount}}</h4>
    	                            </td>
    	                        </tr>
                            </tbody>
                        </table>   
                    </div>       
								
				</div>
		</div>
</div>
