<!--Last Modified By:REMYA M S-->
{% load util %}

  
  <div class="panel-body cl">	

  <h3 style="margin-left:30px;">Serivce Details</h3>
			{{ service_formset.management_form }}
			{% if service_formset.non_form_errors %}
				{% for error in service_formset.non_form_errors %}
					<div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
				{% endfor %}
			{% endif %}
			
			<div id="products">
				<div class="grid-form1">
					<h4 style="margin-top:20px;">Add Services</h4>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Service</th>
									<th>Price</th> 
									<th>Discount/unit</th>
									<th>After Discount</th>
									<th>Quantity</th>
									<th>Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for item_form in service_formset %}
								<tr class="item">
									<td style="min-width: 250px;">
										<div>
											{{ item_form.id }}
											{{ item_form.service }}
											{{ item_form.service.errors }}
										</div>
										<div>
											{{ item_form.expected_date }}
											{{ item_form.expected_date.errors }}
										</div>
									</td>
									<!--<td>
										<div class="unit_price">
											{% for product in products %}
												{% if product.id == item_form.product.value %}{{product.price}}{% endif %}
											{% endfor %}
										</div>
									</td>-->
									<td>
										<div>
											{{ item_form.price }}
											{{ item_form.price.errors }}
										</div>
									</td>
									<td>
										<div class="gutter-0 row">
											<div class="col-sm-6">
												{{ item_form.discount }}
											</div>
											<div class="col-sm-6">
												{{ item_form.discount_type }}
											</div>
										</div>
									</td>
									<td>
										<div class="after_discount">
											{{ item_form.price.value }}
										</div>
									</td>
									<td>
										<div>
											{{ item_form.quantity.errors }}
											{{ item_form.quantity }}
										</div>
									</td>
									<td>{{ item_form.total_price }}</td>
									<td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
								</tr>
								{% endfor %}
								
							</tbody>
							<tfoot>
								<tr>
									<td colspan="5">sub total</td>
									<td id="sub-total"></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
												
					</div>
				</div>
			</div>
</div>
		

