{% extends "erp_admin/base.html" %}
{% load static %} 
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		<div class="col-sm-8">
	 		<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	 		</div>
	 		
	 	  	
	 	 </div>
	 	 <div class="row" id="print_receipt">
		 	<div class="col-sm-2">
		  		
		  	</div>
		  	<div class="col-sm-6">

	  	       <h4 style="margin-top:20px;" align="center">Shipping and Billing Address</h4>
	  	        <div class="tab-content">
	  	        
					<div class="tab-pane active" id="horizontal-form" style="margin-top:30px;margin-bottom:50px;">

						<table class="table table-bordered">
		                    <thead>
		                        <tr>
		                            <th>Shipping Address</th>
		                            <th>Billing Address</th>
		                            
		                        </tr>
		                    </thead>
		                    <tbody>
		                        
		                        <tr>
		                            <td>{{invoice.shipping_address.addressline1}},<br>
                                        {{invoice.shipping_address.addressline2}}<br>
                                        {{invoice.shipping_address.area}},
                                        {{invoice.shipping_address.city}}<br>
                                        {{invoice.shipping_address.state}}<br>
                                        {{invoice.shipping_address.country}} -
                                        {{invoice.shipping_address.zipcode}}
                                    </td>
		                            <td>
		                            	{{invoice.billing_address.addressline1}},<br>
                                        {{invoice.billing_address.addressline2}}<br>
                                        {{invoice.billing_address.area}},
                                        {{invoice.billing_address.city}}<br>
                                        {{invoice.billing_address.state}}<br>
                                        {{invoice.billing_address.country}} -
                                        {{invoice.billing_address.zipcode}}
		                            </td>
		                            
		                       </tr>
		                        
		                    </tbody>
	                    </table>
								
					</div>
				</div>
			</div>
		</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}