<!--Last Modified By:REMYA M S-->
<div class="panel-body cl">	
		<h2 style="margin-top:20px;">Product Details</h2>
		        <div class="row" style="margin-top:20px;">
		           <div class="col-xs-12 table-responsive">
							
						<div id="products">	  

							<table class="table table-bordered" style="margin-top:20px;">
		                        <thead>
		                            <tr>
		                                <th><h4>Product</h4></th>
		                                <th><h4>Price</h4></th>
		                                <th><h4>Quantity</h4></th>
		                                <th><h4>Total</h4></th>
		                            </tr>
		                        </thead>
	                        <tbody>


	                            {% for prod in enquiry_products.all %}

	                            <tr style="font-size:20px;">
	                                <td>{{prod.product}}</td>
	                                <td>{{prod.price}}</td>
	                                <td>{{prod.quantity}}</td>
	                                <td>{{prod}}</td>
	                            </tr>
	                            {% endfor %}
		                            
		                        <tr>
		                            <td colspan="3"><h4 align="right">Amount</h4></td>
		                            
		                            <td>
			                            {% if quotation.amount %}
			                                <h4>{{quotation.amount}}</h4>
			                          
			                            {% else %}
			                            
			                                <h4>{{enquiry_amount}}</h4>
			                             {% endif %}
		                            </td>
		                            
		                        </tr>
	                        </tbody>
	                    </table>   
                    </div>       
								
				</div>
		</div>
</div>