<html>
{% load staticfiles %}
<head>

    <style>
    .pd_size{
        font-size:15px;
    }
    th,td{
        padding:5px;
    }




    </style>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr>
                        <td>
                            {% if logo %}
                            <h3 align="center"><img src="data:image/gif;base64,{{ logo.get_logobase64 }}"></h3>
                            {% endif %}
                        </td>
                        <td>
                            <p style="font-size:18px;" align="justify">{{ logo.buildingno|safe }},</br>
                            Tel:+{{ logo.phone_number}}
                            {% if logo.alternate_phone %}/{{ logo.alternate_phone}}{% endif %}
                            {% if logo.email %},</br> E mail:{{ logo.email }}{% endif %}
                            {% if logo.website %},</br>{{ logo.website }}{% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="font-size:30px;" align="center">TAX INVOICE </p>
            </div>
        </div>
        <div class="row col-md-12">

            <table>
                <tr>
                    <td>
                        <p class="pd_size">Customer : {{invoice.customer.name}} </p>
                    </td>
                    <td>
                        <p class="pd_size">INV NO: {{invoice.code}} </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pd_size"><strong>Date : {{invoice.date}} </strong></p>
                    </td>
                    <td>
                        <p class="pd_size">Staff Name: {{ invoice.supervisor.user.first_name }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pd_size">Phone : {{invoice.customer.phone}}</p>
                    </td>
                    <td>
                        <p class="pd_size">TRN NO :{{ location.trn_no }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pd_size"> Email : {{invoice.customer.email}}</p>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">

        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<h4 style="font-size:20px;">Customer : {{invoice.customer.name}} </h4>-->
                <!--<p style="margin-top:15px;" class="pd_size">Phone : {{invoice.customer.phone}}</p>-->
                <!--<p style="margin-top:15px;" class="pd_size"> Email : {{invoice.customer.email}}</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="">

                <h3 style="font-size:20px;">Service Details</h3>

                <div style="">

                    <table class="table" border="1" style="margin-top:20px;font-size:13px;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Unit</br> Price</th>
                            <th>Quantity/</br>Hours</th>
                            <th>Total (AED)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{service.content_object}}</td>
                            <td>{{service.unit_price}}</td>
                            <td>{{service.hours_or_sqfeet}}</td>
                            <td>{{service.total_price}}</td>
                        </tr>
                        {% endfor %}


                        <tr>
                            <td  colspan="4" align="right"><h5>Gross Total</h5></td>
                            <td><h5>{{invoice.amount}}</h5></td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right"><h5>Discount</h5></td>
                            <td>
                                <h5>
                                    {% if invoice.discount_amount %}
                                    {{invoice.discount_amount}} ( {{invoice.discount_percentage}} %)
                                    {% else %}
                                    0
                                    {% endif %}
                                </h5>
                            </td>
                        </tr>
                        <tr>

                            <td  colspan="4" align="right"><h5>Net off Discount</h5></td>
                            <td><h5>{{invoice.after_discount}}</h5></td>
                        </tr>
                        <tr>

                            <td  colspan="4" align="right"><h5>VAT 5%</h5></td>
                            <td><h5>{{invoice.tax_amount}} </h5></td>
                        </tr>

                        <!--<tr>-->

                            <!--<td  colspan="4" align="right"><h5>Sub Total + VAT</h5></td>-->
                            <!--<td><h5>{{invoice.total_cost_price}} (5%)</h5></td>-->
                        <!--</tr>-->

                        <!--{% if invoice.discount %}-->

                        <!--<tr>-->
                            <!--<td  colspan="4" align="right"><h5>Discount Type</h5></td>-->
                            <!--<td>-->
                                <!--<h5>-->
                                    <!--{{invoice.discount}}-->
                                <!--</h5>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--{% endif %}-->
                        <!--<tr>-->

                            <!--<td  colspan="4" align="right"><h5>After Discount</h5></td>-->
                            <!--<td><h5>{{invoice.grand_total}}</h5></td>-->
                        <!--</tr>-->
                        <tr class="adjustment">

                            <td  colspan="4" align="right"><h5>Round off Amount</h5></td>
                            <td><h5>{{invoice.calculate_adjustment}}</h5></td>
                        </tr>
                        <tr>

                            <td  colspan="4" align="right"><h5>Total</h5></td>
                            <td><h5>{{invoice.after_adjustment}} AED</h5></td>
                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>


    </div>


</section>


</body>
</html>