{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	  <a href="/">Cancel</a>
  	       
  	      
  	       <h3 style="margin-top:20px;">Select Quotation</h3>

  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="" method="post">{% csrf_token %}
							
						
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label">Quotation</label>
									<div class="col-sm-4">

										<select id="quotation" name="quotation" class="form-control js-data-quotation-ajax">
											<option value="" selected="selected">Select</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-4">
                						<button class="btn-primary btn" class="form-control">Submit</button>
                					</div>
                				</div>

								
							</form>
						</div>
			</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {

	// $("#quotation").select2({
	// 		placeholder: "Select",
	// 		allowClear: true
	// 		});
	
	$(".js-data-quotation-ajax").select2({
	ajax: {
	url: "/invoice/quotation_select2_list/",
	dataType: 'json',
	delay: 250,
	data: function (params) {
	return {
	quotation_code: params.term, // search term
	};
	},
	processResults: function (data) {
	// parse the results into the format expected by Select2
	// since we are using custom formatting functions we do not need to
	// alter the remote JSON data, except to indicate that infinite
	// scrolling can be used
	console.log(data);
	return {
	results: data,
	};
	},
	cache: true
	},
	escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
	minimumInputLength: 3,
	});
	
	});
</script>

{% endblock jsscript %}