{% extends "erp_admin/base.html" %} {% load guardian_tags %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.customer.label }}</label>
                            {{ filter.form.customer }}
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            {{ filter.form.created_at }}
                            <div id="created_at" class="pull-right"
                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span>{% if from_date %}{{from_date}}{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b
                                    class="caret"></b>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-sm-12" style="padding-top:2%;">

                        <button type="submit" class="btn btn-primary pull-right">Submit</button>


                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">

                <div class="col-sm-6 col-md-6 col-xs-12">
                        <h2>
                            Invoices
                            <a href="{% url 'invoice:createinvoice' %}" class="btn btn-link">
                                <i class="fa fa-plus-square-o fa-2x"></i>
                            </a>
                        </h2>

                </div>
                <div class="col-sm-6 col-md-6 col-xs-12" align="right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="dropdown">
                        <a href="{% url 'invoice:list' %}" class="btn btn-primary"><i class="fa fa-refresh"></i></a>

                    </div>
                    <div class="dropdown">
                        <a href="{% url 'invoice:code_settings' %}" class="btn btn-primary"> <i class="fa fa-cog"> </i></a>

                    </div>


                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer</th>
                            <th>Invoice Date</th>
                            <th>Net Amount</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td><a href="{% url 'invoice:detail' invoice.pk %}">{{ invoice.code }}</a></td>
                            <td>{{invoice.customer}}</td>
                            <td>{{invoice.created_at|date:'d/m/y'}}</td>
                            <td>AED {{invoice.grand_total}}</td>
                            <td>{% if invoice.package_invoice %}
                                <a href="{% url 'package:editpackage' invoice.id %}"><i class="fa fa-edit"></i></a>
                                {% else %}
                                <a href="{% url 'invoice:edit' invoice.id %}"><i class="fa fa-edit"></i></a>
                                {% endif %}
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="8">No Invoices</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
      $("#id_customer").select2({
            maximumSelectionLength: 10,
            
            });


</script>


<script>
  $(document).ready(function(){

    var format = 'YYYY-MM-DD'
    function cb(start, end) {
      $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));
    }
    $('#filter-modal').on('shown.bs.modal', function () {
      console.log(moment($("#id_created_at_0").val()))
      var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
      var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
    
      $('#created_at').daterangepicker({
        startDate: start_date,
        endDate: end_date,
        showDropdowns: true,
        locale: {
          format: format,
        },
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);
      cb(start_date, end_date)
    })
  });


</script>

{% endblock jsscript %}
