{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
textarea.form-control {
    height: 250px;
}
</style>
{% endblock head %}

{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 <div class="row">

	 	<div class="col-sm-12">
	 	  		<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	 	  	</div>
	 	</div>
	 		
  	       <h3 style="margin-top:20px;">Mail</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="{% url 'invoice:invoice_mail' invoice.id %}" method="post">{% csrf_token %}
							
								
								<div class="form-group">
									
									<label class="col-sm-2 control-label">From</label>
									<div class="col-sm-8">
										<input type="text" name="source" class="form-control" value="{{request.user.email}}" required="required">
									</div>
								</div>
								<div class="form-group">
									
									<label class="col-sm-2 control-label">To</label>
									<div class="col-sm-8">
										<input type="text" name="destination" class="form-control" value="{{invoice.contact.email}}" required="required">
									</div>
								</div>

								<div class="form-group">
									
									<label class="col-sm-2 control-label">CC</label>
									{% if mail_settings %}
										<div class="col-sm-8">
											<input type="email" name="cc" class="form-control" value="{{mail_settings.cc.user.email}}" required="required">
										</div>
									{% else %}
										<div class="col-sm-8">
											<input type="email" name="destination" class="form-control">
										</div>

									{% endif %}
								</div>
								<div class="form-group">
									
									<label class="col-sm-2 control-label">Subject</label>
									<div class="col-sm-8">
									{% if mail_settings %}
										<input type="text" name="subject" class="form-control" required="required" value="{{mail_settings.subject}}">
									
									{% else %}
									<input type="text" name="subject" class="form-control" required="required">
									{% endif %}
									
									
									</div>
								</div>
								<div class="form-group">
									
									<label class="col-sm-2 control-label">Content</label>
									<div class="col-sm-8">
									{% if mail_settings %}
										<textarea class="form-control" name="message" required="required">{{mail_settings.content}}
										</textarea>
									{% else %}

								<textarea class="form-control" name="message" required="required" placeholder="[[Content]]"></textarea>
								
								{% endif %}


									</div>
								</div>
								<!-- <div class="form-group">
									
									<label class="col-sm-2 control-label">Attachement</label>
									<div class="col-sm-8">
										<input type="file" name="attachement">
									</div>
								</div>
								 -->
								<div class="form-group">
									<div class="col-sm-8">
                						<button class="btn-primary btn">Submit</button>
                					</div>
                				</div>

								
							</form>
						</div>
					</div>
					
	</div>
</div>

{% endblock content %}
{% block jsscript %}





{% endblock jsscript %}
