{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
.tab_style{
	color:#000;
   }
 mark {
    background-color:#f0ad4e;
    color:#ffffff;
}

</style>
{% endblock head %} 
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		<div class="col-sm-8">
	 		<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	 		</div>
	 	</div>
	 	 <div class="row" id="print_receipt">
		 	
		  	<div class="col-sm-12 col-xs-12 col-md-12">

	  	       <h3 style="margin-top:20px;" align="center">PAYMENT DETAILS</h3>
	  	        <div class="tab-content">
	  	        
					<div class="table-responsive tab-pane active" id="horizontal-form" style="margin-top:30px;margin-bottom:50px;">

						<table class="table table-bordered">
		                    <thead>
		                        <tr>
		                            <th><span class="tab_style">Payment </span></th>
		                            <th><span class="tab_style">Total Amount</span></th>
		                            <th><span class="tab_style">Total Amount Paid</span></th>
		                            <th><span class="tab_style">Remaining Balance</span></th>
		                            <th><span class="tab_style">Status</span></th>
		                            
		                            
		                        </tr>
		                    </thead>
		                    <tbody>
		                    {% for payment in invoice.payment_term.all %}
		                        
		                       <tr>
		                        <td>{{payment}}</td>
		                        <td>{{payment.amount}}</td>
		                        <td>{{payment.totalAmountPaid}}</td>
		                        <td>{{payment.balance}}</td>
		                        <td> <span style="color:#000;"><mark>{{payment.status}} </mark></span></td>
		                       </tr>
		                      {% endfor %}

		                    </tbody>
	                    </table>
								
					</div>
				</div>
			</div>
		</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}


<script type="text/javascript">
    function printDiv() {    
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>




{% endblock jsscript %}