{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		<div class="col-sm-8">
	 	  		<a href="{% url 'invoice:detail' invoice.id %}">Cancel</a>
	 	  	</div>
	 	  	<div class="col-sm-4">
	 	  		<a href="{% url 'invoice:payment_details' invoice.id %}"></a>
	 	  	</div>
	 	  	
	 	 </div>
  	       <h3 style="margin-top:20px;">Payment</h3>
  	         <div class="tab-content" id="p1">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="{% url 'invoice:payment' invoice.id %}" method="post">{% csrf_token %}
							
						
								

								
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label" >Payment Method</label>
									<div class="col-sm-8">
										{{payment_form.payment_method}}
										{{payment_form.payment_method.errors}}
									</div>
								</div>
								

								<div class="form-group">
									<div class="col-sm-8">
                						<button class="btn-primary btn">Submit</button>
                					</div>
                				</div>

								
							</form>
						</div>
					</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}




{% endblock jsscript %}