{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		<div class="col-sm-8">
	 	  		<a href="{% url 'invoice:detail' invoice.id %}">Cancel</a>
	 	  	</div>
	 	  	<div class="col-sm-4">
	 	  		<a href="{% url 'invoice:payment_details' invoice.id %}">View Payment Details</a>
	 	  	</div>
	 	  	
	 	 </div>
  	       <h3 style="margin-top:20px;">Payment</h3>
  	         <div class="tab-content" id="p1">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="{% url 'invoice:payment' invoice.id %}" method="post">{% csrf_token %}
							
						
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label">Payment Term</label>
									<div class="col-sm-8">
										<select name="payment_term" class="form-control" id="payment" required="required">
										{% for payment in payment_terms_list %}
											<option value="{{payment.id}}" data-rate="{{payment.payment_terms.percentage_value}}" data-balance="{{payment.balance}}" data-status="{{payment.status}}">
											 	{{payment}}
											</option>
										{% endfor %}
										</select>

									</div>
								</div>

								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label" >Total Amount</label>
									<div class="col-sm-8">
										<input type="number" name="total_amount" step="0.01" class="form-control" required="required" value="{{ invoice.amount }}">
									</div>
								</div>
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label" >Remaining Balance</label>
									<div class="col-sm-8">
										<input type="number" name="remaining_balance" step="0.01" class="form-control" required="required">
									</div>
								</div>
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label">Paid Amount</label>
									<div class="col-sm-8">
										<input type="number" name="paid_amount" step="0.01" class="form-control" required="required">
									</div>
								</div>
								

								<div class="form-group">
									<div class="col-sm-8">
                						<button class="btn-primary btn">Submit</button>
                					</div>
                				</div>

								
							</form>
						</div>
					</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}
<script>
var payment_select = $("#payment")
var invoice_total = {{ invoice.amount }};
payment_select.change(function(){
	console.log($(this).find("option:selected").data("rate"))
	var rate = parseInt($(this).find("option:selected").data("rate"))
	var balance = parseFloat($(this).find("option:selected").data("balance"))
	var status = $(this).find("option:selected").data("status")


	$("input[name='total_amount']").val(invoice_total * rate / 100)
	if (status == "not paid" && balance == 0)
	{
		$("input[name='remaining_balance']").val(invoice_total * rate / 100);

	}
	else{
		$("input[name='remaining_balance']").val(balance)

	}
})
payment_select.trigger("change")


</script>

<script>
function receipt_Pdf()
{

var payment_select = $("#payment")
payment_select.change(function(){
	var payment_id = ($(this).find("option:selected").val())
	window.open('/invoice/{{invoice.id}}/'+payment_id+'/receipt.pdf/')
	})
payment_select.trigger("change")
}

$("form").submit(function(){
    if (parseFloat($("input[name='remaining_balance']").val()) < parseFloat($("input[name='paid_amount']").val()))

	{
		alert("Your paid amount should not exceed remaining balace");
		return false;
	}
});
</script>



{% endblock jsscript %}