{% extends "erp_admin/base.html" %} {% load guardian_tags %} 
{% load static %} 

{% block head %}
<style>

.dropdown-menu {
    min-width: 130px;
    left: -2px;
}
.select2-container .select2-selection--single {
    
    height: 34px!important;
    border-radius: 0px!important;
    border: 2px solid #ccc!important;
 }
 mark {
    background-color:#f0ad4e;
    color:#ffffff;
}
</style>
{% endblock head %}

{% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">
              <div class="col-sm-4">
                <a href="{% url 'invoice:detail' invoice %}">Back</a>
              </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <h2>Receipts   </h2>
                </div>
                
            </div>
            
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Receipt No.</th>
                            <th>Date</th>
                            <th>Amount</th>
                            
                      </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'invoice:invoice_payment_detail' receipt.id %}">{{receipt.code}}</a></td>
                            <td>{{receipt.date}}</td>
                            <td><i class="fa fa-inr"></i>{{receipt.amount}}</td>
                            
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="6">No Receipts for this Payment</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

{% block jsscript %}

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script>

        $("#contact").select2({
            maximumSelectionLength: 10,
            
            });
    </script>
{% endblock jsscript %}
