{% extends "erp_admin/base.html" %}
{% load static %} 
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		<div class="col-sm-8">
	 		<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	 		</div>
	 		
	 	  	<div class="col-sm-4">
	 	  		<p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i> Print Receipt</a></p>
	 	  		
	 	  	</div>
	 	 </div>
	 	 <div class="row" id="print_receipt">
		 	<div class="col-sm-2">
		  		
		  	</div>
		  	<div class="col-sm-6">

	  	       <h3 style="margin-top:20px;" align="center">RECEIPT</h3>
	  	        <div class="tab-content">
	  	        <div class="row">
	  	        	<div class="col-sm-6">
	  	        	<h4>Date : {{receipt.date|date:"m/d/Y"}}</h4>

	  	        	</div>
	  	        	<div class="col-sm-6" align="right">
	  	        	<h4>Receipt : #{{receipt.code}}</h4>

	  	        	<h4>Invoice : #{{receipt.invoice.code}}</h4>

	  	        	</div>
	  	       </div>
					<div class="tab-pane active" id="horizontal-form" style="margin-top:30px;margin-bottom:50px;">

						<table class="table table-bordered">
		                    <thead>
		                        <tr>
		                            <th>#</th>
		                            <th>Service</th>
		                            <th>Total</th>
		                            
		                            
		                        </tr>
		                    </thead>
		                    <tbody>
		                    	{% for item in receipt.invoice.items.all %}
		                        
		                        <tr>
		                            <td>{{forloop.counter}}</td>
		                            <td>{{item.service}}</td>
		                            <td><i class="fa fa-inr" aria-hidden="true"></i> {{item.total_price}}</td>
		                           

		                            
		                        </tr>
		                        {% endfor %}
		                       
		                        <tr>
		                        	<td colspan="2">Travelling Allowance</td>
		                            <td ><i class="fa fa-inr" aria-hidden="true"></i> {{receipt.invoice.travelling_allowance}}</td>
		                        </tr>
		                         <tr>
		                        	<td colspan="2">Amount Paid</td>
		                            <td ><i class="fa fa-inr" aria-hidden="true"></i> {{receipt.amount}}</td>
		                        </tr>

		                    </tbody>
	                    </table>
								
					</div>
				</div>
			</div>
		</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}


<script type="text/javascript">
    function printDiv() {    
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>




{% endblock jsscript %}