
<html>
{% load staticfiles %}
<head>

<style>
.row{
  
}
.pd_size{
  font-size:15px;

}
th,td{
  padding:5px;
}

</style>

<!-- <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' /> <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
 -->    <!-- Custom Theme files -->
<!-- <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
 --></head>

<body>





<section>

  <div class="container">

    <div class="row">
        <div class="col-md-12">
        <p style="font-size:40px;" align="center">RECEIPT </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="pd_size" align="right"><strong>Date : {{payment.date}} </strong></p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <h4 style="font-size:20px;">Invoice : #{{invoice.code}} </h4>
        </div>

        
        
    </div>

    

    

  </div>

</section>

<section>
  <div class="container">
     <div class="row">

      <table class="table" border="1" style="margin-top:20px;font-size:18px;">
                                <thead>
                                    <tr>
                                        <td><strong>Payment</strong></td>
                                        <td><strong>Total Amount</strong></td>
                                        <td><strong>Paid amount</strong></td>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                        <td><strong><i class="fa fa-inr"></i>{{payment}}</strong></td>
                                        <td><strong><i class="fa fa-inr"></i>{{payment.amount}}</strong></td>
                                        
                                        
                                    </tr>

                               

                                </tbody>
                                
                            </table>
              
                

                            
        </div>

      </div>
</section>
    
    


</body>
</html>