
{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
</style>
{% endblock head %}
{% block content %}
    

<!-- Modal -->

    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                        <a href="/admin/location/country/" class="btn btn-primary btn-lg" target="_blank">Add Country
                        </a>
                        <a href="/admin/location/state/" class="btn btn-primary btn-lg" target="_blank">Add State
                        </a>
                        <a href="/admin/location/location/" class="btn btn-primary btn-lg" target="_blank">Add City
                        </a>
                        <a href="/admin/company/designation/" class="btn btn-primary btn-lg" target="_blank">Add Designation
                        </a>
                        <a href="{% url 'invoice:location_listing' %}" class="btn btn-primary btn-lg">Add Location
                        </a>
                        <a href="{% url 'package:list' %}" class="btn btn-primary btn-lg">Package
                        </a>
                                          
            </div>
        </div>
    </div>
{% endblock content %}