<div class="panel-body cl">

<h4>Shipping Address</h4>

    <div class="row">
    {% if not edit %}
        <div class="col-sm-6">
              Select Shipping Address : 
              <select name="shipping_address" class="form-control" id="shipping_address" style="padding: 3px 6px; width: 69%">
                  {% for address in shipping_addresses.all %}
                  <option value="{{ address.id }}">{{ address.addressline1 }}</option>
                  {% endfor %}
              </select>
        </div>
      {% endif %}
            
        <div class="col-sm-12 shipping-address">

            {{shipping_address_formset.management_form }} {% for shipping_address_form in shipping_address_formset %} {% if shipping_address_formset.non_form_errors %} {% for error in shipping_address_formset.non_form_errors %}
            <span class="error_form">{{ error|escape }}</span> {% endfor %} {% endif %}
           
          
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">{{ shipping_address_form.addressline1.label }}</label>
                <div>
                  {{ shipping_address_form.addressline1.errors }}
                  {{ shipping_address_form.addressline1 }}
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label">{{ shipping_address_form.addressline2.label }}</label>
                <div>
                  {{ shipping_address_form.addressline2.errors }}{{ shipping_address_form.addressline2 }}
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">{{ shipping_address_form.area.label}}</label>
                <div>
                  {{ shipping_address_form.area.errors }}{{ shipping_address_form.area }}
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label">{{ shipping_address_form.country.label }}</label>
                <div>
                  {{ shipping_address_form.country.errors }}{{ shipping_address_form.country }}
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label class="control-label">{{ shipping_address_form.state.label }}</label>
                <div>
                  {{ shipping_address_form.state.errors }}{{ shipping_address_form.state }}
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label">{{ invoice_billing_address_form.city.label }}</label>
                <div>
                  {{ shipping_address_form.city.errors }}{{ shipping_address_form.city }}
                </div>
              </div>
            </div>
            <div class="form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{ shipping_address_form.zipcode.label }}</label>
                    <div>
                      {{ shipping_address_form.zipcode.errors }}{{ shipping_address_form.zipcode }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    
                  </div>
            </div>


            {% for field in shipping_address_form.hidden_fields %} {{field}} {% endfor %} {% endfor %}
          </div>
    </div>

    
  <h4>Billing Address</h4>
    <div class="row">
            <div class="col-sm-12 billing-address">
              
                
                <div class="form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.addressline1.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.addressline1.errors }}{{ invoice_billing_address_form.addressline1 }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.addressline2.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.addressline2.errors }}{{ invoice_billing_address_form.addressline2 }}
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.area.label}}</label>
                    <div>
                      {{ invoice_billing_address_form.area.errors }}{{ invoice_billing_address_form.area }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.country.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.country.errors }}{{ invoice_billing_address_form.country }}
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.state.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.state.errors }}{{ invoice_billing_address_form.state }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.city.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.city.errors }}{{ invoice_billing_address_form.city }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <label class="control-label">{{ invoice_billing_address_form.zipcode.label }}</label>
                    <div>
                      {{ invoice_billing_address_form.zipcode.errors }}{{ invoice_billing_address_form.zipcode }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    
                  </div>
                </div>
              </div>
    </div>

</div>