{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.banner>a{
color:rgb(70, 22, 105)!important;
}
.fa-3x {
    color: #b39ddb!important;
}
.i-circle {
    background: #83b9be;
    color: #fff;
    padding: 5px 12px;
    border-radius: 48%;
    font-size: 20px;
}
.profile-fo button:hover {
    background: #1ABC9C;
}
.profile-delete{
border: 0px!important;
padding: 7px 45px;
}
.profile-fo button {
    text-decoration: none;
    font-size: 0.9em;
    color: #fff;
    -webkit-border-radius: 4px;
    background: #D95459;
    display: block;
    text-align: center;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 430px!important;
}

.tab-content {
    padding-left: 16px!important;
}
    .calender-box1 {
    width: 96px;
    height: 97px;
    border-radius: 6px 6px;
    background-color:  #aa00ff;
    position: relative;
    }
    .week1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 15px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .day1 {
    position: relative;
    color: #fff;
    top: -18px;
    font-size: 30px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .year-month1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 15px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }





</style>
{% endblock head %}

{% block content %}
<div class="banner">
    <a href="{% url 'customer:list' %}">Customer</a>
    <i class="fa fa-angle-right"></i>
    <span>Profile</span>
    <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>
    </h2>
</div>
<div class="content-top">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class=" profile">
            <div class="profile-bottom">
                <h3><span class="i-circle">{{ customer.name|first }}</span>&nbsp; {{ customer.name }}</h3>
                <div class="profile-bottom-top">

                    <div class="col-md-8 profile-text">

                        <table>
                            <tr>
                                <td>Phone</td>
                                <td>:</td>
                                <td>{{ customer.phone }}</td>
                            </tr>

                            <tr>
                                <td>Email</td>
                                <td> :</td>
                                <td><a href="info@gmail.com">{{ customer.email }}</a></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td> :</td>
                                <td> {% for addrss in address.all %}{{ addrss.addressline1 }},
                                    {{ addrss.addressline2 }},
                                    {{ addrss.country.name }},
                                    {{ addrss.state.name }},
                                    {{ addrss.city.name }},
                                    {{ addrss.zipcode }}
                                    {% endfor %}
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-bottom-bottom">
                    <div class="col-md-4 profile-fo">
                        <a href="{% url 'calendarapp:create'%}?customer={{customer.pk}}" class="pro"
                           style="background-color:#ab47bc;"><i class="fa fa-plus"></i></a>

                    </div>
                    <div class="col-md-4 profile-fo">

                        <a href="{% url 'customer:edit' customer.pk %}" class="pro"><i class="fa fa-pencil"></i></a>
                    </div>

                    <div class="col-md-4 profile-fo">
                        <form method="post" action="{% url 'customer:delete' customer.pk %}"
                              onsubmit="remove(this, event)" id="form1">
                            {% csrf_token %}
                            <a style="background: #ef5350;" type="submit" class="pro profile-delete"
                               onclick="document.getElementById('form1').submit();"><i class="fa fa-trash"></i></a>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <div class="weather" style="margin-top:2%;">
                <div class="weather-top">
                    <div class="weather-top-left">
                        <div class="degree">
                            <figure class="icons">

                            </figure>
                            <span style="color:#9ccc65;">AED
                                </span><span>{% if sales.grand_total__sum %}{{ sales.grand_total__sum}}{% else %}0{% endif %}</span>
                            <div class="clearfix"></div>
                        </div>


                    </div>
                    <div class="weather-top-right">
                        <p>Total
                            <label><b>Sales</b></label>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="weather-bottom">
                    <h4 class="" align="center">Bookings</h4>
                    <div class="weather-bottom1">
                        <div class="weather-head">
                            <!--<h4>Cloudy</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar fa-3x"></i>
                            </figure>
                            <h6 class="count">{{ all_bookings }}</h6>
                            <div class="bottom-head">
                                <p>All</p>
                                <!--<p>Bookings</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1 ">
                        <div class="weather-head">
                            <!--<h4>Sunny</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-check-o fa-3x"></i>
                            </figure>
                            <h6 class="count">{{ completed }}</h6>
                            <div class="bottom-head">
                                <p>Completed</p>

                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1">
                        <div class="weather-head">
                            <!--<h4>Rainy</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-times-o fa-3x"></i>
                            </figure>
                            <h6 class="count">{{ cancelled }}</h6>
                            <div class="bottom-head">
                                <p>Cancelled</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1 ">
                        <div class="weather-head">

                            <figure class="icons">
                                <i class="fa fa-calendar-minus-o fa-3x"></i>
                            </figure>
                            <h6 class="count">{{ no_shows }}</h6>
                            <div class="bottom-head">
                                <p>No Shows</p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="block" id="tab1">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home"
                       aria-expanded="true">
                        Upcoming({{ upcoming }})
                    </a>
                </li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                           aria-controls="profile">Past({{ past }})</a></li>
                <li role="presentation">
                    <a href="#invoice" id="myTabDrop1" data-toggle="tab"
                       aria-controls="invoice" role="tab">Invoices({{ invoices|length }})</a>
                </li>
                <li role="presentation">
                    <a href="#package" id="myTabDrop2" data-toggle="tab"
                       aria-controls="package" role="tab">Packages({{ purchased|length }})</a>
                </li>


            </ul>
            <div class="mailbox-content">
                <div class="mail-toolbar clearfix" id="example-2">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    {% for upcoming in upcoming_appointments %}
                                    <tr class="table-row">
                                        <td class="table-img">
                                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-6">
                                                <div class="calender-box1">
                                                    <div class="box-1">
                                                            <span class="fa fa-chevron-left"
                                                                  style="top: 39px;font-size: 21px;left: 3px;color: #fff;position: relative;"></span>
                                                        <span class="fa fa-chevron-right" style="float: right; top: 39px;font-size:
                                                            21px; right: 3px; color: #fff;position: relative;"></span>
                                                        <div class="week1">
                                                            {{ upcoming.appointment_date_time|date:"D" }}
                                                        </div>
                                                        <div class="day1">
                                                            {{ upcoming.appointment_date_time|date:"d" }}
                                                        </div>
                                                        <div class="year-month1">
                                                            {{ upcoming.appointment_date_time|date:"F Y"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-text">
                                            <h6><a href="{% url 'calendarapp:detail' upcoming.id %}">
                                                {% for appointment in upcoming.services.all %}
                                                {{ appointment.service }}
                                                {% if not forloop.last %},{% endif %}
                                                {% endfor %}</a></h6>
                                            <p>{{ upcoming.appointment_date_time|time:"H:i" }}
                                                with
                                                {{ upcoming.employee }} </p>
                                        </td>
                                        <td>

                                            <span class={{ upcoming.status }}>{{ upcoming.status }}</span>


                                        </td>

                                        {% if upcoming.status != "closed" %}

                                        <td>
                                            <a href="{% url 'invoice:createinvoice' %}?appointment_pk={{upcoming.pk}}"
                                               class="btn btn-primary btn-xs">Invoice <i class="fa fa-plus"></i></i></a>
                                        </td>
                                        {% endif %}


                                    </tr>
                                    {% empty %}
                                    <tr>
                                        No upcomings Appointments
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            {% if past_appointments %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>
                                    {% for upcoming in past_appointments %}
                                    <tr class="table-row">
                                        <td class="table-img">
                                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-6">
                                                <div class="calender-box1">
                                                    <div class="box-1">
                                                            <span class="fa fa-chevron-left"
                                                                  style="top: 39px;font-size: 21px;left: 3px;color: #fff;position: relative;"></span>
                                                        <span class="fa fa-chevron-right" style="float: right; top: 39px;font-size:
                                                            21px; right: 3px; color: #fff;position: relative;"></span>
                                                        <div class="week1">
                                                            {{ upcoming.appointment_date_time|date:"D" }}
                                                        </div>
                                                        <div class="day1">
                                                            {{ upcoming.appointment_date_time|date:"d" }}
                                                        </div>
                                                        <div class="year-month1">
                                                            {{ upcoming.appointment_date_time|date:"F Y"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-text">
                                            <h6><a href="{% url 'calendarapp:detail' upcoming.id %}">
                                                {% for appointment in upcoming.services.all %}
                                                {{ appointment.service }}
                                                {% if not forloop.last %},{% endif %}
                                                {% endfor %}
                                            </a></h6>
                                            <p>{{ upcoming.appointment_date_time|time:"H:i" }}


                                        </td>
                                        <td>

                                            <span class={{ upcoming.status }}>{{ upcoming.status }}</span>


                                        </td>


                                        {% if upcoming.status != "closed" %}

                                        <td>
                                            <a href="{% url 'invoice:createinvoice' %}?appointment_pk={{upcoming.pk}}"
                                               class="btn btn-primary btn-xs">Invoice <i class="fa fa-plus"></i></i></a>
                                        </td>
                                        {% endif %}


                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="invoice" aria-labelledby="myTabDrop1">
                            {% if sales %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Invoice#</th>
                                    <th>Invoice Date</th>
                                    <th>Total</th>
                                    </thead>
                                    <tbody>
                                    {% for invoice in invoices %}
                                    <tr class="table-row">
                                        <td><a href="{% url 'invoice:detail' invoice.id %}">{{ invoice.code }}</a></td>
                                        <td>{{ invoice.created_at|date }}</td>
                                        <td>AED {{ invoice.grand_total }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr class="table-row">
                                        <td>No invoices</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="package" aria-labelledby="myTabDrop2">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Package</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    {% for purchased in purchased %}
                                    <tr class="table-row">
                                        <td>{{ purchased.package.name}}</td>
                                        <td>{% if purchased.crossed_validity %}
                                            Expired on {{purchased.validity_date}}
                                            {% else %}
                                            <a class="btn btn-primary"
                                               href="{% url 'invoice:detail' purchased.invoice.pk %}">Redeem
                                                Services</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr class="table-row">
                                        <td>No Packages Purchased</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}








   $('.count').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
    duration: 1000,
    easing: 'swing',
    step: function () {
      $this.text(Math.ceil(this.Counter));
    }
  });
});
























</script>

{% endblock jsscript %}
