{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h2>Service</h2>
                <div class="row" style="margin-top:30px;">
                    <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="border_style bg1" align="center">
                            <a href="{% url 'service:create' %}" style="text-decoration:none;">
                            <span style="color:#ffffff;">Add Service</span>
                            <div>
                            <span style="color:#ffffff;margin-top:3px;"><i class="fa fa-plus fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                     
                    </div>
                    <div class="col-sm-12 col-md-4  col-xs-12">

                         <div class="border_style bg2" align="center">
                                <a href="{% url 'service:list' %}" style="text-decoration:none;">
                                <span style="color:#ffffff;">Services</span>
                                <div>
                                <span style="color:#ffffff;"><i class="fa fa-list fa-2x"></i></span>
                                </div>
                                </a>
                        </div>
                    
                    </div>
                    
                </div>
                
          </div>

        </div>
    </div>
</div>
        
   

{% endblock content %}
