{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
    <style>
    .row{
    margin-left:5px;
    margin-right:5px;
    }
    </style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'service:list' %}">Service</a>
        <i class="fa fa-angle-right"></i>
        <span>{{ service_type.name }}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>
    </h2>
</div>


    <div>
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-8 col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                        <thead>
                            <th>Service</td>
                            <th>Price (AED) </td>
                        </thead>
                        <tbody>

                            {% for service in service_type.services.all %}

                            <tr>
                                <td>{{ service.name }}</td>
                                <td> {{ service.price_hour }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Edit</td>
                                <td><a style="margin: 0px -10px;" href="{% url 'service:edit' service_type.pk %}" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Delete</td>
                                <td><form class="delete" method="post" action="{% url 'service:delete' service_type.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="fabutton">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                         </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script>
$('form.delete').submit( function (e){
    e.preventDefault()
    e.stopPropagation()
    if(confirm('Are you sure?')){
        this.submit()
    }
})
</script>
{% endblock jsscript %}