{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}


<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">

		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Service Details</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Service Details</h2>
		 		{% endif %}
		 	</div>

		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'service:dashboard' %}">cancel </a>
			</div>
		</div>
		<hr>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{ serviceform.non_field_errors }}
				{{ serviceform.field_errors }}

					<div class="form-group">
						<label for="cost_price" class="col-sm-2 col-xs-12 control-label">Service Type<span class="req">*</span></label>{{ serviceform.service_type.errors }}
						<div class="col-sm-8 col-xs-12">
							{{ serviceform.service_type }}
						</div>
						<a href="{% url 'service:service_type:create' %}"><i class="fa fa-plus"></i></a>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-2 col-xs-12 control-label">Code <span class="req">*</span></label>{{ serviceform.code.errors }}
						<div class="col-sm-8 col-xs-12">
							{{ serviceform.code }}
						</div><a href="{% url 'service:code_settings' %}"><i class="fa fa-pencil">Manage Code</i></a>
					</div>
				

					<div class="form-group">
						<label for="name" class="col-sm-2 col-xs-12 control-label">Name <span class="req">*</span></label>{{ serviceform.name.errors }}
						<div class="col-sm-4 col-xs-12">
							{{ serviceform.name }}
						</div>

						<label for="price" class="col-sm-2 col-xs-12 control-label">Unit Price <span class="req">*</span></label>{{ serviceform.price_hour.errors }}
						<div class="col-sm-2 col-xs-12">
							{{ serviceform.price_hour }}
						</div>
						
					</div>

					<div class="form-group">
                    <label class="col-sm-2 control-label col-xs-12">Pricing</label>


                    {% for choice in serviceform.is_price_hour %}
                            <label class="col-sm-2 control-label col-xs-12">{{ choice.choice_label }}</label>
                             <div class="col-sm-2">{{ choice.tag }}</div>
                    {% endfor %}
                	</div>
                	<hr>
                	
                	<h4 style="padding-bottom:3%;"> Tools ,servicing asset and consumables required</h4>
					

				<div class="form-group">
						<label for="belongs_to" class="col-sm-2 control-label col-xs-12">Servicing Asset<span class="req"></span></label>{{ serviceform.servicing_asset.errors }}
						<div class="col-sm-6">
							{{ serviceform.servicing_asset }}
						</div>
					</div>
					<div class="form-group">
					 	
							<label for="belongs_to" class="col-sm-2 control-label col-xs-12">Tools Required<span class="req"></span></label>{{ serviceform.tools_for_servicing.errors }}
							<div class="col-sm-6">
								{{ serviceform.tools_for_servicing }}
							</div>
					</div>
					<div class="form-group">
					 	
							<label for="belongs_to" class="col-sm-2 control-label col-xs-12">Consumables Required</label>{{ serviceform.consumables.errors }}
							<div class="col-sm-6">
								{{ serviceform.consumables }}
							</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10 col-xs-12">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        // $('.tdate').daterangepicker({
        //   singleDatePicker: true,
        //   // calender_style: "picker_4",
        //   showDropdowns: true,
        //   locale: {
        // 		format: 'YYYY-MM-DD',
      		// 	},

        // }, function(start, end, label) {
        //   console.log(start.toISOString(), end.toISOString(), label);
        // });
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        minDate:new Date(),
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
		$("#service_type").select2({
			
			});
		$("#id_servicing_asset").select2({
			
			});
		$("#id_tools_for_servicing").select2({
			
			});
		$("#id_employee_skills").select2({
			
			});
		$("#gst").select2({
			
			});
		$("#id_consumables").select2({
			
			});



</script>

{% endblock jsscript %}