{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    {# {{ filter.form }} #}
                    <!--<div class="col-sm-6">-->
                        <!--<div class="form-group">-->
                            <!--<label class="control-label">{{ filter.form.code.label }}</label>-->
                            <!--{{ filter.form.code }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.service.label }}</label>
                            {{ filter.form.service }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.service_type.label }}</label>
                            {{ filter.form.service_type }}
                        </div>
                    </div>

                    <div class="clearfix"></div>


                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6">
                <h2>
                    Services
                    <a href="{% url 'service:create' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h2>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="{% url 'service:list' %}" class="btn btn-primary">
                        <i class="fa fa-refresh"></i>
                    </a>


                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Service</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td><a href="{% url 'service:detail' service.pk %}">{{service}}</td>

                            <td>
                                <a href="{% url 'service:edit' service.pk %}" class="btn btn-link">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>
                                </a>
                            </td>
                            <td>
                                <form class="delete" method="post" action="{% url 'service:delete' service.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No Services</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{pagination|safe}}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}

<script>
    $('form.delete').submit( function (e){
		e.preventDefault()
		e.stopPropagation()
		if(confirm('Are you sure?')){
			this.submit()
		}
	})

</script>

{% endblock jsscript %}