{% extends "erp_admin/base.html" %} {% load guardian_tags %}
{% load static %}

{% block head %}
<style>
.status-open {
    background-color:#afeeee;
    font-size:11px;
}
.status-rejected {
    background-color:#00bfff;
    font-size: 11px;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
@media print {

  
  .sales{
    display:block!important;

  }
  }


</style>
{% endblock head %}

{% block content %}


<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">

                <div class="col-sm-9 col-md-9">
                    <h2>Sales By Service</h2>
                    <h4>

                        {% if from_date == to_date %}
                        Date :
                        {{from_date}}
                        {% else %}
                        Duration :
                        {{from_date}} to {{to_date}}

                        {% endif %}
                    </h4>
                </div>
                <div class="col-sm-3 col-md-3">

                </div>

                <div class="row" style="padding: 16px;">
                    <form id="form" action="/reports/salesbyservice/" method="post">
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div id="date"
                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b
                                    class="caret"></b>
                            </div>
                        </div>
                        <input type="hidden" name="from" id="from" required>
                        <input type="hidden" name="to" id="to" required>

                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button>
                            <a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i>
                        </a>
                        <a href="{% url 'service:sales_by_service' %}" class="btn btn-primary"><i
                            class="fa fa-refresh"></i></a>
                        </div>

                    </form>
                </div>


            </div>
        </div>
        <div class="row show-grid" id="print_receipt">
            <div class="col-sm-12">
                <div style="display:none" class="sales">
                    <h2>Sales By Service</h2>
                    <h4>

                        {% if from_date == to_date %}
                        Date :
                        {{from_date}}
                        {% else %}
                        Duration :
                        {{from_date}} to {{to_date}}

                        {% endif %}
                    </h4>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Sold Quantity</th>
                            <th>Total Cost Price</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}

                        <tr>
                            <td>{{service.services__name}}</td>
                            <td>{{service.quantity}}</td>
                            <td>{{service.total_cp}}</td>

                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript">
      //  var a = document.getElementById('linkId'); //or grab it by tagname etc
      //  var d = new Date();
  // // d.getMonth();
      // //   var from_date =
      //  a.href = "/reports/salesbycustomer/"
  $("#form").submit(function(){
  
    from_val = $('#from').val();
    if (from_val==""){
      var url = "/reports/salesbyservice/";
    }
    else{
      var url = "/reports/salesbyservice/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
    }
    $("#form").attr("action", url);
  });
  
  $(document).ready(function() {
    // var start = moment().subtract(29, 'days');
    //    var end = moment();
    function cb(start, end) {
      $('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      $("#from").val(start.format('YYYY-MM-DD'));
      $("#to").val(end.format('YYYY-MM-DD'));
    
    }
  
    $('#date').daterangepicker({
        //    startDate: start,
        // endDate: end,
      showDropdowns: true,
      locale: {
          format: 'YYYY-MM-DD',
        },
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
      cb(start, end);
    
    });

</script>
<script>

    function printDiv() {    

    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }

</script>
{% endblock jsscript %}

