<!--Last Modified By:REMYA M S-->
{% extends "erp_admin/base.html" %}
{% load static %}

{% block css %}
<style>
label.control-label {
    
    font-size: 1.2em;
   
}

</style>
{% endblock css %}



{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'service:list' %}">Service</a>
        <i class="fa fa-angle-right"></i>
        <span>Create</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<form class="" action="{{form_url}}" method="post">{% csrf_token %}

 
<div class="blank">
    <div class="grid-form1">

        <div class="row"> 


            {{ service_type_form.non_field_errors }}
            {{ service_type_form.field_errors }}
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Service Type<span class="req">*</span></label>
                    <div class="">
                        {{ service_type_form.name.errors }}{{ service_type_form.name }}
                    </div>
                </div>
            </div>
               
        </div>

        <div class="row">
            <div class="col-sm-12">
                {{ service_formset.field_errors }}
                {{ service_formset.management_form }}

                
                    <div id="products">
                        
                        <h4 style="margin-top:20px;">Categories<span class="req">*</span></h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Price (AED) </th> 
                                        
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item_form in service_formset %}
                                        <tr class="item">
                                            <td style="min-width: 250px;">
                                                
                                                    {{ item_form.id }}
                                                    {{ item_form.name }}
                                                    {{ item_form.name.errors }}
                                                
                                            </td>
                                            <td>
                                                
                                                    {{ item_form.price_hour }}
                                                    {{ item_form.price_hour.errors }}
                                                
                                            </td>
                                            
                                            <td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                    
                                </table>
                                                        
                            </div>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-top:2%;">
                    <input type="submit" class="btn btn-primary btn-sm pull-right">
                </div>
            </div>

    </div>
</div>
</form>

        
{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>

   $(document).ready(function() {
        $('.item').formset({
          prefix: '{{ service_formset.prefix }}',
          addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Service">',
          deleteText: '<font color="red">REMOVE</font>',
        });



      });

</script>
{% endblock jsscript %}


