{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
    
{% endblock head %}

{% block content %}
    
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
           
             
            <div class="clearfix"></div>
                
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


    <div class="blank">
        <div class="grid-form1">
           
            <div class="row show-grid">
                <div class="col-sm-6 col-xs-12">
                    <h3 align="left">Discounts
                     <a href="/admin/discount/discount/add/" class="btn btn-link" target="_blank">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                       
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-search"></i>
                        </button>
                        <a href="{% url 'discount:list' %}" class="btn btn-primary">
                             <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Percentage(%)</th>
                                    <th>Amount</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for discount in discounts %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ discount.name }}</td>
                                        <td>{{ discount.percentage }}</td>
                                        <td>{{ discount.minimum_amount }}</td>

                                        
                                        </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No Discounts</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{ pagination|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jsscript %}
    
{% endblock jsscript %}