.form-inline .form-control{
        width: 100%!important;
    }

.cl {
	margin-bottom:10px!important;
    padding-top: 30px;
    padding-bottom:30px;
    margin-left:30px;
    margin-right:30px;
    border: 1px solid rgb(234, 234, 234);
    background-color:#ffffff;
}

.tfont{
    font-size:14px!important;
    color:#000000!important;
}

mark {
    background-color:#f0ad4e;
    color:#ffffff;
    padding: 5px;
    font-size:12px;

}

.date_font{
	color:#d95459;font-size:15px;}

.marl_color{
	background-color:#79c27b;
}
.select2-container--default .select2-selection--multiple{
    border-radius:0px!important;
   
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 0px!important;
    border: 1px solid #ccc!important;
}

.select2-container .select2-selection--single {
    
    height: 34px!important;
 }
 .sidebarsub{
    color: #fff!important;
 }
 .status-open {
    background-color: #2fd22f;
    font-size: 16px;
    }
    .status-rejected {
    background-color: red;
    
    }


thead th{
            color: #c51162!important;
           
        }
.btn-success{
    cursor:default!important;
}
.statuss {
    background-color: red;
    font-size: 12px;
}
.status-paid {
    background-color: #2fd22f;
    font-size: 12px;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
p{
    color:#333!important;
}