<template>
<div class="edit-item">
	<table class="table table-bordered table-responsive">
		<thead>
			<tr>
				<th>Product</th>
				<th>Details</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th>Done</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td :class="{'has-error': errors.has('product') }">
					<product-select v-model="selected_product"
													name="selected_product"
													class="form-control"
													style="width:150px;"
													:options="options"
													v-validate.initial
													data-vv-rules="required"
					></product-select>
					<!-- <select class="form-control" v-model="item.product" name="product"  v-validate.initial data-vv-rules="required">
						<option v-for="(prod,index) in products" :disabled="selected.includes(prod.id)" :value="prod">
							 {{ prod.name }}
						</option>
					</select> -->
					<span v-show="errors.has('product')" class="help-block">
							<i class="fa fa-warning"></i>{{ errors.first("product") }}
					</span>
				</td>
				<td>
					<input type="text" class="form-control" v-model="item.description">
				</td>
				<td>
					<b>{{ item.price }}</b>
				</td>
				<td>
					<input type="number" min="1" class="form-control" v-model="item.quantity">
				</td>
				<td>
					<b> {{ total }} </b>
				</td>
				<td>
					<button class="btn btn-success btn-xs" @click.prevent="add_item">
						<i class="fa fa-check-circle fa-2x"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	
</div>
</template>

<script>
import ProductSelect from './select_product.vue'
import { mapGetters, mapMutations } from 'vuex'
export default {
	name: 'edit-item',
	props: {
		index: Number,
		// 'products': Array,
		// editItem: Object,
		item: {
			type: Object,
			default: function () {
				return {
					id: '',
					product: {},
					price: 0.00,
					quantity: 1,
					total: 0.00,
					description: null,
				}
			}
		},
		valErrors: Array
	},
	data(){
		return {
			selected_product: null,
			show: false,
		}
	},

	created(){
		console.log('created edit-enquiry-item', this.item)
		if(this.item){
			this.selected_product = this.item.product.id
			this.set_total()
		}
		// this.$validator.attach('item.product', 'required', 'Product')
	},

	components: {
		ProductSelect
	},
	
	computed: {
		options(){
			// debugger
			return this.products.map(product => {
				return {id: product.id, text: product.name, disabled: product.disabled}
			})
		},
		total(){
			return this.item.price * this.item.quantity
		},
		...mapGetters({
			products: 'products'
		})
	},

	watch:{
		item:{
			handler: function(){
				console.log('item changed')
				this.$set(this.item, 'total', this.item.price * this.item.quantity)
			},
			deep: true
		},
		selected_product(){
			if(this.selected_product){
				this.item.product = this.products.find(product => product.id == this.selected_product)
				this.item.price = Number(this.item.product.price)
				this.product_selected(this.item.product)
			}
		},
		valErrors(){
				// this.$validator.errorBag.clear()
			this.handle_validation_errors(this.valErrors)
				// for(var key in this.valErrors){
				//     this.$validator.errorBag.add(key, this.valErrors[key][0])
				// }
		}
	},

	methods : {
		add_item(){
			this.$validator.validateAll()
			if (this.errors.any()){
				console.log(this.errors)
				return
			}
			
			this.$emit('add_item', JSON.parse(JSON.stringify(this.item)))
			// this.item = {
			// 	id: "",
			// 	product: {},
			// 	price: 0.00,
			// 	quantity: 1,
			// 	total: 0,
			// 	description: null,
			// }
		},

		remove(){
			this.$emit("remove")
		},

		set_total(){
			this.$set(this.item, "total", this.item.price * this.item.quantity)
		},

		handle_validation_errors(errors){
			this.$validator.errorBag.clear()
			this.update_error_bag(errors)
		},

		update_error_bag(errors){
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach( error_msg => {
						this.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},

		...mapMutations({
			product_selected: "PRODUCT_SELECTED"
		})
	}
}
</script>

<style>
@media (min-width: 768px){
	.form-inline .form-control {
		width: auto 
	}
}
.edit-item table td {
	padding: 10px;
}
.edit-item table td span {
	padding: 0px;
	font-size: 14px;
}
a.done {
	color: #5cb85c;
	border-color: #4cae4c;
}
a.done:hover {
	color: #449d44;
	border-color: #398439;
}
</style>