{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.grid-form1{
    border: 0px;
}

.row{
    padding-bottom: 1%;
}
</style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        {% if type == 'Edit' %}
                <a href="{% url 'invoice:list' %}">Invoices</a>

        {% else %}
        <a href="{% url 'package:list' %}">Packages</a>
        {% endif %}
        <i class="fa fa-angle-right"></i>
        <span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>
    </h2>
</div>

<form method="post" action="{{form_url}}">{% csrf_token %}
    <div class="blank">
        <div class="grid-form1">
            <div class="row">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Invoice Code<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.code.errors }}{{ invoice_form.code }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Customer<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.customer.errors }}{{ invoice_form.customer}}
                        </div>
                        {% if type != "Edit" %}
                        <a href="{% url 'invoice:createcustomer' %}" class="btn btn-link">
                            <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Employee<span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.supervisor.errors }}{{ invoice_form.supervisor }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Invoice Date <span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.date.errors }}{{ invoice_form.date}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-md-2 control-label">Paid Date <span class="req">*</span></label>
                        <div class="col-md-5">
                            {{ invoice_form.paid_date.errors }}{{ invoice_form.paid_date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--service-->
        {{ service_formset.management_form }}

        {% if service_formset.non_form_errors %}
        {% for error in service_formset.non_form_errors %}
        <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
        {% endfor %}
        {% endif %}
        <!--00-->
        <div id="services">
            <div class="grid-form1">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 table-responsive">
                        <table class="table table-bordered table-responsive" id="service_table">
                            <thead>
                            <tr>
                                <th>Service</th>
                                <th>Employee</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for service_form in service_formset %}
                            <tr class="serviceitem">

                                <td style="min-width: 250px;">
                                    <div>
                                        {{ service_form.id }}
                                        {{ service_form.service}}
                                        {{ service_form.service.errors }}
                                    </div>
                                </td>
                                <td>

                                        {{ service_form.employee}}
                                        {{ service_form.employee.errors }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="hidden" id="discount_percentage">

                <div class="row" style="padding-top:10px;display:none">
                    <div class="col-md-9 offset-md-3" align="right">Cost Price :</div>
                    <div class="col-md-3"><input type="text" class="form-control" id="excluding_tax" value="0"></div>
                </div>

                <div class="row">
                    <div class="col-md-9 offset-md-3" align="right">Package Price :</div>
                    <div class="col-md-3"><input type="text" class="form-control" id="total_cost_price" value="{{package}}"></div>
                </div>

                <div class="row">
                    <div class="col-md-9 offset-md-3" align="right">VAT :</div>
                    <div class="col-md-3"><input type="text" class="form-control" id="tax" value="5%"></div>
                </div>

                <div class="row">
                    <div class="col-md-9 offset-md-3" align="right">
                        Total Price :
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="selling_price" value="{{selling_price}}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
names_arr = []
function checkValue(value){
    var status = 'Not exist';
    if (names_arr.length == 0)
    {
        names_arr[0] = value;
    }
    else
    {
        for(var i=0; i<names_arr.length; i++){
            var name = names_arr[i];
            if(name == value){
                status = 'Exist';
                return status;

            }


         }
        lt = names_arr.length+1;
        names_arr[lt] = value;
    }
   return status;
}
$(document).ready(function() {
    $('.pldate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {format: 'YYYY-MM-DD',},
        }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});

 <!--kalabha's code-->
var cp = $('#excluding_tax').val();

$(document).on('focusin', 'select', function(){
    $(this).data('val', $(this).val());
}).on('change','input', function(){
    var prev = $(this).data('val');
    var current = $(this).val();
});

$(".service").change(function(event){

    value_status = checkValue($(this).val());
    if(value_status == "Not exist")
    {
        var pre_el = $(this);
        var prev = $(this).data('val');
        var current = $(this).val();
        $.ajax({
            type: "GET",
            url: "/get_price/",
            data: {
                id: $(this).val(),
                prev:prev,
                current:current,
                cp:$('#excluding_tax').val(),
                minimum_purchase_amount:{{minimum_purchase_amount}}
            },
            success: function(result) {
                $('#excluding_tax').val(result['cp']);
            },
            error: function(result) {

                alert(result.responseJSON.message);
                $(pre_el).val(prev);

            }
        });
    }
    else
    {
        alert("Service already selected");
        $(this).prop('selectedIndex',0);
    }
    <!--kalabha's code end-->

 });

</script>
{% endblock jsscript %}
