{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}"/>

{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'package:list' %}">Packages</a>
        <i class="fa fa-angle-right"></i>
        <span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<div class="blank">
    <div class="grid-form1">
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label col-xs-12">
                            {{ field.label }}
                            {% if field.form.use_required_attribute %}
                                <span class="req">*</span>
                            {% endif %}
                        </label>
                        <div class="col-sm-8">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% if field.label == "supplier" %}
                            <a href="{% url 'supplier:create' %}" style="font-size: 0.8em;" target="_blank">Add</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn-primary btn pull-right">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          minDate:new Date(),
          locale: {
        		format: 'YYYY-MM-DD',
      			},

        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });


</script>

<script>
	$("#tax").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});
</script>
{% endblock jsscript %}