{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name.label }}</label>
                            {{ filter.form.name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            {{ filter.form.price }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h2>Packages
                    <a href="{% url 'package:create' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h2>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="pull-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="{% url 'package:list' %}" class="btn btn-primary"> <i
                            class="fa fa-refresh"></i></a>

                </div>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price(AED)</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th>Validity Days</th>
                            <th>Minimum Purchase Order</th>
                            <th>Number Of Services</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Buy</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in packages %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{product.name }}
                            </td>
                            <td>{{product.price }}</td>
                            <td>{{product.description }}</td>
                            <td>{{product.active }}</td>
                            <td>{{product.validity_days }}</td>
                            <td>{{product.minimum_purchase_amount }}</td>
                            <td>{{product.no_services }}</td>
                            <td>
                                <a href="{% url 'package:edit' product.pk %}"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <form class="delete" method="post" action="{% url 'package:delete' product.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </form>
                            </td>
                            <td><a href="{% url 'package:buy_package' product.pk %}" ><i class="fa fa-shopping-cart"></i></a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="11">No Products</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{ pagination|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block jsscript %}
<script>
$('form.delete').submit( function (e){
    e.preventDefault()
    e.stopPropagation()
    if(confirm('Are you sure?')){
        this.submit()
    }
})
</script>
{% endblock jsscript %}