{% extends "erp_admin/base.html" %}
{% load static util %}

{% block head %}
	<style type="text/css">
		.calendar-time{
			display: none!important;}
		.form-group{
			width:100%;
		}
		.tab-content {
    padding-left: 20px;
}
		
	</style>
{% endblock head %}
{% block content %}
	<div class="blank">
		<div class="grid-form1">
			<div class="row show-grid">
				<div class="col-sm-6">
					<h4 align="left">{{employee.name}} Skills</h4>
				</div>
				<div class="col-sm-6">
					<p align="right"><a href="{% url 'employee:list' %}">Cancel</a></p>
				</div>
			</div>

		</div>
	</div>


	<form class="form-horizontal form-inline" action="" method="post" id="form">{% csrf_token %}
	
	<div class="blank">
		<div class="grid-form1">
			<div class="tab-content">
				<div class="tab-pane active" id="horizontal-form">
						
				<div class="grid-form1">
				        {{ items_formset.management_form }}
				        {% if items_formset.non_form_errors %}
				            {% for error in items_formset.non_form_errors %}
				                <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
				            {% endfor %}
				        {% endif %}

				        

					<div id="items">
						
						
							<h4 style="margin-top:20px;">Add Employee Skills</h4>
							<div class="table-responsive">
								
								<table class="table table-bordered">
										<thead>
											<tr>
												<th>Name</th>
												<th>Expertise ( 0 -5 )</th>
												<th>Performance</th>
												<th></th>
												
												
											</tr>
										</thead>
										<tbody>
											{% for item_form in items_formset %}
						                    {% for hidden in item_form.hidden_fields %}
						                        {{ hidden }}
						                    {% endfor %}

											<tr class="batch_item">

												<td>
													
												<div>
														{{ item_form.skill }}

														{{ item_form.skill.errors }}
												</div>
												</td>
												<td style="">
													
													<div>
														{{ item_form.expertise }}
														{{ item_form.expertise.errors }}
													</div>
												</td>
												<td>
													<div>
														{{ item_form.performance }}
														{{ item_form.performance.errors }}
													</div>
												</td>
												<td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}
												</td>
												
												
												
												
											</tr>
											{% endfor %}
											
										</tbody>
										
									</table>
															
								</div>
							
							</div>
						</div>
						
						<div class="row" style="padding-top:20px;">
							<div class="col-sm-12 col-md-12 col-xs-12">
								<div class="form-group">
									<input type="submit" name="Submit" class="btn btn-primary pull-right" value="Submit">
								</div>
							</div>
						</div>

					
				
				</div>
			</div>
			
		  	
		</div>
	</div>

	

</form>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

	<script>
	$(document).ready(function() {
	 $('.batch_item').formset({
      prefix: '{{ items_formset.prefix }}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Item">',
      deleteText: '<font color="red">REMOVE</font>',
	  

      
    });


});
	
</script>
	
{% endblock jsscript %}