{% extends "erp_admin/base.html" %} {% load guardian_tags util %}

{% block head %}
<style>


</style>
{% endblock %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.code.label }}</label>
                            {{ filter.form.code }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name.label }}</label>
                            {{ filter.form.name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.designation.label }}</label>
                            {{ filter.form.designation }}
                        </div>
                    </div>


                    <div class="clearfix"></div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-6">
                <h2>Employees
                    <a href="{% url 'employee:create' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h2>

            </div>
            <div class="col-sm-6">
                <a href="{% url 'employee:list' %}" class="btn btn-primary pull-right"> <i
                        class="fa fa-refresh"></i></a>
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal"
                        data-target="#filter-modal"><i class="fa fa-search"></i>
                </button>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive" style="">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Mobile No.</th>
                        <th>Email</th>

                        {% if perms.employee.change_employee %}
                        <th colspan="3" align="center"></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for employee in employees%}
                    <tr class={{col}}>
                        <td>{{ forloop.counter }}</td>
                        <td>

                            <a href="{% url 'employee:profile' employee.code %}">
                                {{employee}}
                            </a>
                        </td>
                        <td>
                            {{employee.employee_contact.phone}}
                        </td>
                        <td>
                            {{employee.user.email}}
                        </td>


                        {% if perms.employee.change_employee %}
                        <td>

                            <a href="{% url 'employee:edit' employee.code %}" class="pull-right">

                                <i class="fa fa-edit"></i>
                            </a>

                        </td>
                        {% endif %}
                        {% if perms.employee.delete_employee %}
                        <td>
                            <form class="delete" method="post" action="{% url 'employee:delete' employee.code %}">
                                {% csrf_token %}
                                <button type="submit" class="fabutton">
                                    <i class="fa fa-trash-o fa-fw"></i>
                                </button>
                            </form>

                        </td>
                        {% endif %}


                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="4">No Employees in System</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div id="pagination" class="pull-right">
                    {{pagination|safe}}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}
<script>

$('form.delete').submit( function (e){
    e.preventDefault()
    e.stopPropagation()
    if(confirm('Are you sure?')){
        this.submit()
    }
})



</script>
{% endblock jsscript %}