{% extends "erp_admin/base.html" %} {% load guardian_tags %}
{% block content %}

{% get_obj_perms employee.user for employee as "employee_permissions" %}

<div class="blank">
    <div class="blank-page">
        <!--{% if "can_access" in employee_permissions %}-->
            <!--<a style="float:right;" href="/pages/delete/">Remove page <i class="fa fa-trash-o fa-fw"></i></a>-->
        <!--{% endif %}-->
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>Permission Levels</h2>
                <p>Setup which sections are accessible to each user permission level. </p>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Permission</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>Employee</th>
                            <th>
                                <input type="checkbox" name="can_access" class="accept" {% if can_access in employee.user.user_permissions.all %}checked{% endif %}>
                            </th>
                            <th>
                                <input type="checkbox" name="change_employee" class="accept" {% if change_employee in employee.user.user_permissions.all %}checked{% endif %}>
                                
                                 
                            </th>
                            <th>
                                 <input type="checkbox" name="delete_employee" class="accept" {% if delete_employee in employee.user.user_permissions.all %}checked{% endif %}>

                            </th>

                            
                        </tr>
                        
                        <tr>
                            <th>2</th>
                            <th>Customer</th>
                            <th><input type="checkbox" name="view_customer_list" class="accept" {% if view_customer_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_customer" class="accept" {% if change_customer in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_customer" class="accept" {% if delete_customer in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Supplier</th>
                            <th><input type="checkbox" name="view_supplier_list" class="accept" {% if view_supplier_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_supplier" class="accept" {% if change_supplier in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_supplier" class="accept" {% if delete_supplier in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                            
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>Product</th>
                            <th><input type="checkbox" name="view_product_list" class="accept" {% if view_product_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_product" class="accept" {% if change_product in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_product" class="accept" {% if delete_product in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>Service</th>
                            <th><input type="checkbox" name="view_service_list" class="accept" {% if view_service_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_service" class="accept" {% if change_service in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_service" class="accept" {% if delete_service in employee.user.user_permissions.all %}checked{% endif %}></th>
                            
                        
                        <tr>
                            <th>6</th>
                            <th>Appointment</th>
                            <th><input type="checkbox" name="view_appoinment_list" class="accept" {% if view_appoinment_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_appoinment" class="accept" {% if change_appoinment in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_appoinment" class="accept" {% if delete_appoinment in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>Invoice</th>
                            <th><input type="checkbox" name="view_invoice_list" class="accept" {% if view_invoice_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_invoice" class="accept"  {% if change_invoice in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_invoice" class="accept" {% if delete_invoice in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>Expense</th>
                            <th><input type="checkbox" name="view_expense_list" class="accept" {% if view_expense_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="change_expense" class="accept" {% if change_expense in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th><input type="checkbox" name="delete_expense" class="accept" {% if delete_expense in employee.user.user_permissions.all %}checked{% endif %}></th>
                        </tr>
                        <tr>
                            <th>9</th>
                            <th>Discount</th>
                            <th><input type="checkbox" name="view_discount_list" class="accept" {% if view_discount_list in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>10</th>
                            <th>Report</th>
                            <th><input type="checkbox" name="view_report" class="accept" {% if view_report in employee.user.user_permissions.all %}checked{% endif %}></th>
                            <th></th>
                            <th></th>
                            
                        </tr>

                    

                        
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}   
 <script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$(document).ready(function() {

    $(".accept").click(function(event){
        // alert("test");
        event.preventDefault();
        var elem = this;

        console.log(elem.name,"ui");

        if (confirm("Are you sure?"))
        {
            $.ajax(
            {
                url : $(this).attr("href"),
                type: "POST",
                data: {
                  'permission': elem.name
                },
                success:function(data, textStatus) 
                {

                    
                    accepted(elem);
                },
                error: function(jqXHR, textStatus, errorThrown) 
                {
                    console.log(jqXHR.responseText);
                    $("#error_div").empty();
                    $("#error_div").html(jqXHR.responseText);     
                }
            });
            
        }else{
            return false;
        }

        function accepted(elem) {

            elem = $(elem);
            // console.log("elemyu")
            // console.log(elem)
            if(elem.is(':checked'))
            {
                console.log("on")

                elem.prop('checked',false);
            }
            else
            {
                console.log("off")

                elem.prop('checked',true);
            }


            // var x = elem.next().css("display", "none");
            // elem.css("display", "none");
            // elem.attr('checked',true);



            
            // .css("display", "none");
            // elem.parent().next().empty();
        }
        
    });
   
    });
</script>

 {% endblock scripts %}

