{% extends "erp_admin/base.html" %}
{% block title %} Profile{% endblock title %}
{% block head %}
<style>
    .profile {
min-height: 180px!important;
}

</style>
{% endblock head %}
{% block content %}

<div class="content-main">
    <!--banner-->
    <div class="banner">
        <h2>
            <a href="/">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Profile</span>
        </h2>
    </div>
    <!--//banner-->

    <div class="profile" id="mydiv">
        <div class="profile-bottom">
            <h3><i class="fa fa-user"></i>Profile

            <a class="pull-right" href="{% url 'employee:list' %}"> <i class="fa fa-close"></i></a>

            </h3>

            <div class="profile-bottom-top">
                <div class="col-md-4 profile-bottom-img">
                    <img src="{%if employee.photo %} {{employee.photo.url}}{% else %}/static/images/userphoto.jpg{% endif %}" width="130px" height="130px">
                </div>
                <div class="col-md-8 profile-text">
                    <h6>{{employee.user.first_name}}</h6>
                    <table>
                        <tr><td>Employee Code</td>
                            <td>:</td>
                            <td>{{employee.code}}</td></tr>
                        <tr><td>Designation</td>
                            <td>:</td>
                            <td>{{employee.primary_designation.name}}</td></tr>
                        <tr>
                            <td>Email</td>
                            <td> :</td>
                            <td><a href="{{employee.user.email}}">{{employee.user.email}}</a></td>
                        </tr>
                        <tr>
                            <td>Country </td>
                            <td>:</td>
                            <td>{{employee.employee_address.country}}</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile-bottom-bottom profile-btn" style="margin-top:15px;">
                <div class="col-md-4 profile-fo">
                    <a href="#" class="pro"><i class="fa fa-home"></i> Personal Details</a>
                </div>
                <div class="col-md-4 profile-fo">
                    <a href="#" class="pro1"><i class="fa fa-building-o"></i> Company Details</a>
                </div>
                <div class="col-md-4 profile-fo">
                    <a href="{% url 'employee:edit' employee.code %}" class="bg-red"><i class="fa fa-pencil"></i> Edit</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="profile" id="myDiv1" style="display:none;">
        <div class="profile-bottom">
            <h3><i class="fa fa-home"></i>Personal Details
                <a id="move-up"><i class="fa fa-arrow-up pull-right"></i></a>
            </h3>
            <div class="profile-bottom-top">
                <div class="col-md-8 profile-text">
                    <table>
                        {% if employee.dob %}
                        <tr><td>Date Of Birth</td>
                            <td>:</td>
                            <td>{{employee.dob|date:'d/m/y'}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.gender %}
                        <tr>
                            <td>Gender</td>
                            <td> :</td>
                            <td>{{employee.gender}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.marital_status %}
                        <tr>
                            <td>Marital Status </td>
                            <td>:</td>
                            <td>{{employee.marital_status}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.blood_group %}
                        <tr>
                            <td>Blood Group</td>
                            <td>:</td>
                            <td>{{employee.blood_group}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.languages_known %}
                        <tr>
                            <td>Languages</td>
                            <td>:</td>
                            <td>{{employee.languages_known}}</td>
                        </tr>
                        {% endif %}
                        <!-- -&#45;&#45;   -->
                        {% if employee.id_proof_type %}
                        <tr>
                            <td>ID Proof</td>
                            <td>:</td>
                            <td>{{employee.id_proof_type}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.id_proof_no %}
                        <tr>
                            <td>ID Proof No.</td>
                            <td>:</td>
                            <td>{{employee.id_proof_no}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.age %}
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>{{employee.age}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.joining_date %}
                        <tr>
                            <td>Joining Date</td>
                            <td>:</td>
                            <td>{{employee.joining_date}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.salary_date %}
                        <tr>
                            <td>Salary Date</td>
                            <td>:</td>
                            <td>{{employee.salary_date}}</td>
                        </tr>
                        {% endif %}
                        <!-- -&#45;&#45;-->
                        {% if employee.birth_place %}
                        <tr>
                            <td>Birth Place</td>
                            <td>:</td>
                            <td>{{employee.birth_place}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.cast %}
                        <tr>
                            <td>Cast & Religion</td>
                            <td>:</td>
                            <td>{{employee.cast}}, {{employee.religion}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.citizenship %}
                        <tr>
                            <td>Citizenship</td>
                            <td>:</td>
                            <td>{{employee.citizenship}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.addressline1 %}
                        <tr><td>Address</td>
                            <td>:</td>
                            <td>{{employee.employee_address.addressline1}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.addressline2 %}
                        <tr><td></td>
                            <td>:</td>
                            <td>{{employee.employee_address.addressline2}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.area %}
                        <tr>
                            <td>Area</td>
                            <td> :</td>
                            <td>{{employee.employee_address.area}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.city %}
                        <tr>
                            <td>City </td>
                            <td>:</td>
                            <td>{{employee.employee_address.city}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.state %}
                        <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>{{employee.employee_address.state}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.country %}
                        <tr>
                            <td>Country</td>
                            <td>:</td>
                            <td>{{employee.employee_address.country}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_address.zipcode %}
                        <tr>
                            <td>Zipcode</td>
                            <td>:</td>
                            <td>{{employee.employee_address.zipcode}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_contact.phone %}
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td>{{employee.employee_contact.phone}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.employee_contact.alternate_phone %}
                        <tr>
                            <td> Alternate Phone Number</td>
                            <td>:</td>
                            <td>{{employee.employee_contact.alternate_phone}}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="profile" id="myDiv2" style="display:none;">
        <div class="profile-bottom">
            <h3><i class="fa fa-building-o"></i>Company Details
            <a id="move-ups"><i class="fa fa-arrow-up pull-right"></i></a>
            </h3>
            <div class="profile-bottom-top">
                <div class="col-md-8 profile-text">
                    <table>
                        {% if employee.primary_designation.name %}
                        <tr><td>Primary Designation</td>
                            <td>:</td>
                            <td>{{employee.primary_designation.name}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.reporting_officer %}
                        <tr><td>Reporting Officer</td>
                            <td>:</td>
                            <td>{{employee.reporting_officer.user.first_name}} &nbsp;{{employee.reporting_officer.user.last_name}}-
                                {{employee.reporting_officer.primary_designation.name}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.office.location.name %}
                        <tr><td>Location</td>
                            <td>:</td>
                            <td>{{employee.office.location.name}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.office %}
                        <tr><td>Office</td>
                            <td>:</td>
                            <td>{{employee.office}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.primary_designation.department.name %}
                        <tr><td>Department</td>
                            <td>:</td>
                            <td>{{employee.primary_designation.department.name}}</td>
                        </tr>
                        {% endif %}
                        {% if employee.primary_designation.division.name%}
                        <tr><td>Division</td>
                            <td>:</td>
                            <td>{{employee.primary_designation.division.name}}</td>
                        </tr>

                        {% endif %}
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% endblock content %}

    {% block jsscript %}
    <script>
$(document).ready(function() {

    $(".pro").click(function() {
       $("#myDiv2").hide()

     $("#myDiv1").toggle()

    $('html, body').animate({
        scrollTop: $("#myDiv1").offset().top
    }, 1000);

});

 $(".pro1").click(function() {
     $("#myDiv1").hide()

     $("#myDiv2").toggle()

    $('html, body').animate({
        scrollTop: $("#myDiv2").offset().top
    }, 1000);
});

$("#move-up").click(function() {
     $("#myDiv1").hide()

     $("#myDiv2").hide()

    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 1000);
});


$("#move-ups").click(function() {
     $("#myDiv2").hide()

     $("#myDiv1").hide()

    $('html, body').animate({
        scrollTop: $("#myDiv").offset().top
    }, 1000);
});


});

</script>

    {% endblock jsscript %}