{% extends "erp_admin/base.html" %} {% load guardian_tags %}
{% load static %}

{% block head %}
<style>
.status-open {
    background-color:#afeeee;
    font-size:11px;
}
.status-rejected {
    background-color:#00bfff;
    font-size: 11px;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;

}
@media print {


  .sales{
    display:block!important;

  }
  }





</style>
{% endblock head %}

{% block content %}


<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">

                <div class="col-sm-9 col-md-9">
                    <h2>Sales By Employee</h2>
                    <h4>

                        {% if from_date == to_date %}
                        Date :
                        {{from_date}}
                        {% else %}
                        Duration :
                        {{from_date}} to {{to_date}}

                        {% endif %}
                    </h4>
                </div>
                <div class="col-sm-3 col-md-3">


                </div>

                <div class="row" style="padding: 16px;">
                    <form id="form" action="/employee/reports/salesbyemployee/" method="post">
                        {% csrf_token %}
                        <div class="col-sm-4">
                            <div id="date"
                                 style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                <span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b
                                    class="caret"></b>
                            </div>
                        </div>
                        <input type="hidden" name="from" id="from" required>
                        <input type="hidden" name="to" id="to" required>

                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i></button>
                             <a href="{% url 'employee:sales_by_employee' %}" class="btn btn-primary"><i
                            class="fa fa-refresh"></i></a>
                        </a>
                        </div>

                    </form>
                </div>


            </div>
        </div>
        <div class="row show-grid" id="print_receipt">
            <div class="col-sm-12">
                <div style="display:none" class="sales">
                    <h2>Sales By Employee</h2>
                    <h4>

                        {% if from_date == to_date %}
                        Date :
                        {{from_date}}
                        {% else %}
                        Duration :
                        {{from_date}} to {{to_date}}

                        {% endif %}
                    </h4>
                </div>
                <div class="col-xs-14 col-sm-14 col-md-14">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #f4f4f4!important;">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1"><h4>Total Services Done <i style="float:right;" class="fa fa-align-justify"></i></h4></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="table-responsive">
                                <table class="table table-bordered servicetable">
                                    <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Total Number Of Services</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for invoice in totalservice %}
                                    <tr>
                                        <td class="employeename">{{ invoice.employee__user__first_name }}</td>
                                        <td>{{ invoice.tp}} </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="table-responsive">
                    <table class="table table-bordered servicetable">
                        <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Type Of Service</th>
                            <th>Number Of Service</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td class="employeename">{{ invoice.employee__user__first_name }}</td>
                            <td>{{ invoice.services__name}} </td>
                            <td>{{ invoice.tp}} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript">
  $("#form").submit(function(){

    from_val = $('#from').val();
    if (from_val==""){
      var url = "/employee/reports/salesbyemployee/";
    }
    else{
      var url = "/employee/reports/salesbyemployee/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
    }
    $("#form").attr("action", url);
  });

  $(document).ready(function() {

    function cb(start, end) {
      $('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      $("#from").val(start.format('YYYY-MM-DD'));
      $("#to").val(end.format('YYYY-MM-DD'));

    }

    $('#date').daterangepicker({
        //    startDate: start,
        // endDate: end,
      showDropdowns: true,
      locale: {
          format: 'YYYY-MM-DD',
        },
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
      cb(start, end);

    });


</script>
{% endblock jsscript %}