{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

<style>
.row{
    margin-left:35px;
    margin-right:35px;
}

</style>
{% endblock head %}

{% block content %}

<div class="panel-body cl">

		<div class="row">
			<div class="col-sm-6 col-xs-12 col-md-12">
				  
					<h3>Add Skills</h3>
				  
			</div>
			<div class="col-sm-6 col-xs-12 col-md-12" align="right">
				<a href="{% url 'employee:list' %}">Cancel</a>
			</div>
		</div>

	<form class="form-horizontal" action="{{form_url}}" method="post">{% csrf_token %}
	
	
							
					<div class="row" style="padding-top:30px;">
						<div class="form-group">

							<div class="form-inline">
								
			                        <label class="col-md-2 col-xs-12 control-label">Skills</label>
			                        <div class="col-md-5 col-xs-12">
			                           {{form.name}}
			                           {{form.name.errors}}
			                        </div>
			                </div>


		                </div>
		            </div>
		            <div class="row" style="padding-top:20px;margin-bottom:40px;">
		               
						
							<div class="col-xs-12 col-md-7 col-sm-7">
								
			                        <button class="btn btn-primary pull-right">Submit</button>
			                </div>
			        </div>

	</form>

</div>
					
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {
	
	$("#items").select2({
    allowClear: true,
    placeholder: "Select Items",


});
});

</script>




{% endblock jsscript %}