{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}

<div class="blank">
    <div class="blank-page">
        <div class="row pull-right" style="padding-right:2%;">
            <a href="{% url 'employee:list' %}">cancel </a>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>Insurace details of {{ employee }}</h2>
                
                <a href="{% url 'employee:staff_insurance_add' employee.code %}" class="btn btn-success pull-right">Add Insurance <i class= "fa fa-plus"></i></a>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive" style="padding-bottom:180px;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Insurance Id/Name</th>
                            <th>Period From</th>
                            <th>Period To</th>

                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for insurance in insurance_details %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{ insurance.insurance }}
                            </td>
                            <td>
                                {{ insurance.period_from }}
                            </td>
                            <td>
                                {{ insurance.period_to }}
                            </td>
                            
                            
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No Insurance Added</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
