{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Staff Insurance Details</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Staff Insurance Details</h2>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'employee:list' %}">cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{ staff_insurance_form.non_field_errors }}
				{{ staff_insurance_form.field_errors }}
				
					<div class="form-group">
						<label for="period_to" class="col-sm-2 col-xs-12 control-label">Insurance Id/Name </label>{{ staff_insurance_form.insurance.errors }}
						<div class="col-sm-7 col-xs-12">
							{{ staff_insurance_form.insurance }}
						</div>
					</div>
					

					<div class="form-group">
						<div class="form-inline">
							<label class="col-sm-2 col-xs-12 control-label">{{ staff_insurance_form.period_from.label}}</label>
							{{ staff_insurance_form.period_from.errors }}
							<div class="col-sm-7 col-xs-12">
								{{ staff_insurance_form.period_from }} 
							</div>
						</div>

					</div>
					<div class="form-group">
						<label for="period_to" class="col-sm-2 col-xs-12 control-label">Period To </label>{{ staff_insurance_form.period_to.errors }}
						<div class="col-sm-7 col-xs-12">
							{{ staff_insurance_form.period_to }}
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-10" style="padding-left:10%;">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}


<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {

        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        autoApply: true,
        showDropdowns: true,
        minDate:new Date(),
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        // console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
	$("#location").select2({
		
		});

</script>

<script>

</script>
{% endblock jsscript %}