{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	<div class="col-sm-10 col-xs-12">
		 		<h2>Checklist</h2>
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{{request.META.HTTP_REFERER}}">Cancel </a>
			</div>
		</div>
		<div class="row" style="padding-top: 20px;">
			<div class="col-sm-10 col-xs-6">
		 		<a href="{% url 'service:create_checklist' service %}" class="btn btn-primary ">Edit/Create Checklist</a>
		 	</div>
		 	<div class="col-sm-2 col-xs-6">
		 		<a href="{% url 'service:delete_checklist' service %}" class="btn btn-link "><i class="fa fa-trash"></i></a>
			</div>
		</div>
		</div>
 	       
 	    {% if checklist_entries %}
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				<div class="row show-grid">
						<div class="col-sm-12 col-xs-12">
							<div class="table-responsive" style="padding: 5%;">
							<table class="table table-bordered">
								<thead>
								</thead>
								<tbody>
									{% for entry in checklist_entries %}
									<tr>
										<td>{{ entry.text }}</td>
										<td >
											{% if entry.field != "OPTIONS" %}

												<input type="{{ entry.field }}" name="{{ entry.id }}" {% if entry.field != "CHECKBOX" %}class="form-control"{% endif %}>
											{% else %}
												<div class="col-sm-10">
												<select class="form-control">
													{% for option in entry.option_set.all %}
														<option value="{{ option_id }}">{{ option }}</option>
													{% endfor %}
												</select>
												</div>
												<div class="col-sm-2">
												<a class="fa fa-plus" href="{% url 'service:add_options' entry.id%}"></a>
												</div>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							</div>
						</div>
						
				</div>
				
				
				<div class="row show-grid">
					<div class="col-sm-12 col-xs-12">
						<button type="submit" class="btn-primary btn">Submit</button>	
					</div>
				</div>
				
				</form>
				</div>
			</div>
		</div>	
		{% endif %}		
	</div>

{% endblock content %}
{% block jsscript %}
<script>
</script>
{% endblock jsscript %}