{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		
		 		<h2>Add/Edit Options</h2>
		 		
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{{request.META.HTTP_REFERER}}">Cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				<div class="row show-grid">
						<div class="col-sm-12 col-xs-12">
							
						</div>
							
				</div>
				<div class="row show-grid">
						{{ option_formset.management_form }}
						{% if option_formset.non_form_errors %}
							{% for error in option_formset.non_form_errors %}
								<div class="col-sm-12 col-xs-12">
									<span class="error_form">{{ error|escape }}</span>
								</div>
							{% endfor %}
						{% endif %}
				</div>
				<div class="row show-grid">
						<div id="option" class="grid-form1">
							{% for option_form in option_formset %}
								{% for hidden in item_form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								<div class="stock-option">
									{{ option_form.id }}
									<div class="form-group">
										<div class="col-sm-5">
											<label class="control-label">
											{{ option_form.option.label }} 
											</label>
											{{ option_form.option }}
											{{ option_form.option.errors }}
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							{% endfor %}
							
						</div>
						
				</div>
				<div class="row show-grid">
					<div class="col-sm-12 col-xs-12">
						<button type="submit" class="btn-primary btn">Submit</button>	
					</div>
				</div>
				
				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
$(document).ready(function() {


$('.stock-option').formset({
prefix: '{{ option_formset.prefix }}',
addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Options">',
deleteText: '<font color="red">REMOVE OPTION</font>',

});



});
</script>
{% endblock jsscript %}