{% extends "erp_admin/base.html" %} 
{% load static tz %} 
{% get_current_timezone as TIME_ZONE %} 
{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
mark {
    background-color:#f0ad4e;
    color:#ffffff;
}
</style>
{% endblock head %} 
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'product:view_products' %}">Product</a>
        <i class="fa fa-angle-right"></i>
        <span>{{product}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<div id="quotation-block" v-cloak>


    <div class="block">
        
        <div class="row show-grid">
            <div class="row">
                 <h3>Product : {{ product.name }}</h3>
                <div class="col-sm-6 col-xs-12" style="">
                    <span style="color:#d95459;font-size:14px;">
                        Date and Time: {{ product.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span style="color:#d95459;font-size:14px;" class="pull-right">
                        Last Update: {{ product.updated_at | date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 20px; color:black;">Product Details</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ product.code }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td><i class="fa fa-inr" aria-hidden="true"></i>{{ product.price }}</td>
                        </tr>
                        <tr>
                            <th>Cost Price</th>
                            <td><i class="fa fa-inr" aria-hidden="true"></i>{{ product.cost_price }}</td>
                        </tr>
                        <tr>
                            <th>Belongs to</th>
                            <td>{{ product.belongs_to }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ product.category }}</td>
                        </tr>
                        <tr>
                            <th>Raw Material</th>
                            <td>
                                {% if product.raw_material %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Consumable</th>
                            <td>
                                {% if product.consumable %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Taxes</th>
                            <td>
                                {% for tax in product.taxes.all %}
                                     {{ tax }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><a href="{% url 'product:edit_product' product.pk %}" class="btn btn-link pull-right"><i class="fa fa-pencil-square-o fa-fw fa-2x"></i> </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
    




{% endblock content %} 

{% block jsscript %}

{% endblock jsscript %}