{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.code.label }}</label>
                            {{ filter.form.code }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name.label }}</label>
                            {{ filter.form.name }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Price</label>
                            {{ filter.form.price }}
                        </div>
                    </div>


                    <div class="clearfix"></div>


                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <h2>Products
                    <a href="{% url 'product:add_products' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h2>
            </div>

        </div>
        <div class="row">
            <div class="pull-right">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    <i class="fa fa-search"></i>
                </button>
                <a href="{% url 'product:view_products' %}" class="btn btn-primary"> <i
                        class="fa fa-refresh"></i></a>
                <a href="{% url 'product:code_settings' %}" class="btn btn-primary">
                    <i class="fa fa fa-cog"></i>
                </a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Price(AED)</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'product:detail' product.pk %}">{{product.name }}</a>
                            </td>
                            <td>{{ product.code }}</td>
                            <td>{{product.price }}</td>

                            <td>
                                <a href="{% url 'product:edit_product' product.pk %}"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <form class="delete" method="post" action="{% url 'product:delete' product.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="7">No Products</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{ pagination|safe }}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block jsscript %}

<script>
$('form.delete').submit( function (e){
    e.preventDefault()
    e.stopPropagation()
    if(confirm('Are you sure?')){
        this.submit()
    }
})

</script>

{% endblock jsscript %}