{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="blank">
    <div class="grid-form1">
        <div class="row">
            <div class="col-sm-8">
                <a href="{% url 'expense:bill:detail' bill.id %}">Cancel</a>
            </div>

        </div>
        <h3 style="margin-top:20px;">Add Payment Terms</h3>
        <div class="tab-content" id="p1">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{form_url}}" method="post">{% csrf_token %}


                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Payment Term</label>
                        <div class="col-sm-8">
                            <select name="payment" class="form-control" id="payment_term" required="required" multiple="true">
                                {% for payment in payment_terms %}
                                <option value="{{payment.id}}" data-rate="{{payment.payment_terms.percentage_value}}" data-balance="{{payment.balance}}" data-status="{{payment.status}}">
                                    {{payment}}
                                </option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %} {% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>
<script>
    $("#payment_term").select2({
        maximumSelectionLength: 10,

    });

</script>
{% endblock jsscript %}