<!--Last Modified By:REMYA M S-->
{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="blank">
    <div class="grid-form1">
        <a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        <h3 style="margin-top:20px;">Prefix</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{% url 'expense:bill:code_settings' %}" method="post">{% csrf_token %} {{ code_form.non_field_errors }} {{ code_form.field_errors }}

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Prefix</label>
                        <div class="col-sm-8">{{ code_form.prefix.errors }} {{ code_form.prefix }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Count</label>
                        <div class="col-sm-8">{{ code_form.count_index.errors }} {{ code_form.count_index }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Number Of Characters</label>
                        <div class="col-sm-8">{{ code_form.no_of_characters.errors }} {{ code_form.no_of_characters }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}