{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
    .row {
        margin-left: 5px;
        margin-right: 5px;
    }

    .dropdown-menu {
        min-width: 178px;
        left: -2px;
    }

    mark {
        background-color: #f0ad4e;
        color: #ffffff;
    }
</style>
{% endblock head %}

{% block content %}

<div id="quotation-block">
    <div class="block">
        <div class="row">
            <div class="col-sm-8">
                <a href="{% url 'expense:bill:list' %}">Back</a>
            </div>
            <div class="col-sm-4" align="right">
               
            </div>
        </div>
        <div class="row show-grid">
            
            <div class="col-sm-8">
                <h4>Bill paid to {{bill.payee }} <span class="label label-info"> {{ bill.status }}</span></h4>
            </div>
            <div class="col-sm-4">
                <p align="right">
                    <a href="{% url 'expense:bill:edit' bill.id %}"><i class="fa fa-edit fa-fw"></i>Edit</a>               
                </p>
            </div>
            
            
            <div class="col-sm-8">
                <span style="color:#000;font-size:15px;"><mark># {{bill.code}}</mark></span>
                
            </div>

            <div class="col-sm-4" align="right">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select More<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">    
                        <li><a data-toggle="modal" data-target="#myModal">Delete</a></li>
                    </ul>
                </div>
            </div>
        
        </div>
    </div>

    <div class="block">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="">
                    <span style="color:#d95459;font-size:15px;">
                        Created Date: {{ bill.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span style="color:#d95459;font-size:15px;" class="pull-right">
                        Last Update: {{bill.updated_at | date }}
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                
                <div class="col-sm-6 col-xs-12">
                    <h3> {{ bill.payee.name }} </h3>
                    <p style="margin-top:10px;"> {{ bill.payee.customer.name }} </p>
                    <p>{{ bill.payee.designation }}
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p style="margin-top:15px;">
                        <i class="fa fa-phone"></i> {{ bill.payee.phone }} 
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> {{ bill.payee.alternate_phone }}
                    </p>
                    <p style="margin-top:15px;">
                        <i class="fa fa-envelope"></i> {{ bill.payee.email }}
                    </p>
                </div>
                <div class="col-sm-2 col-xs-12">

                </div>
            </div>
            
                    

            <div class="row">

                <div class="col-sm-8 col-xs-12">
                 <h3>Details</h3>

                <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:18px;">
                    <thead>
                        <tr>
                            <th class="tfont">Order Number</th>
                            <th>{{bill.order}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tfont">
                                Amount
                                ({% if bill.tax_inclusive %}
                                INCLUSIVE OF TAX
                                {% else %}
                                EXCLUSIVE OF TAX
                                {% endif %})
                            </th>
                            <th><i class="fa fa-inr"></i>{{bill.amount}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Tax</th>
                            <th><i class="fa fa-inr"></i>{{bill.tax}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Balance to be paid</th>
                            <th><i class="fa fa-inr"></i>{{bill.balance}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Billed Date</th>
                            <th>{{bill.billed_date|date}}</th>
                        </tr>
                        {% if bill.paid_date %}
                        <tr>
                            <th class="tfont">Paid Date</th>
                            <th>{{bill.paid_date|date}}</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="tfont">Due Date</th>
                            <th></i>{{bill.due_date|date}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Status</th>
                            <th>
                                <mark>{{bill.status|title}}</mark>
                            </th>
                        </tr>
        
                        
                            
                        
                    </tbody>
                </table>
                </div>
            </div>
              
            </div>

           

            <div class="row">
                <div class="col-sm-12 col-xs-12 table-responsive" style="">

                    <h3>Payment Terms</h3>
                    <table class="table table-bordered" style="margin-top:20px;">
                        <thead>
                            <tr>
                                <th>
                                    <h4>Term</h4>
                                </th>
                                <th>
                                    <h4>Type</h4>
                                </th>
                                <th>
                                    <h4>%</h4>
                                </th>
                                <th>Amount</th>
                                <th>To be Paid</th>
                                <th>Status</th>
                                <th>Remove</th>
                                <th>Receipts</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% for bill_payment in bill.payment_terms.all %}
                            <tr style="font-size:20px;">
                                <td>{{bill_payment.payment_term.term}}</td>
                                <td>{{bill_payment.payment_term.type}}</td>
                                <td>{{bill_payment.payment_term.percentage_value}}</td>
                                <td>{{bill_payment.payment_term_amount}}</td>
                                <td>{{bill_payment.balance}}</td>
                                <td>{{bill_payment.status}}</td>
                                <td align="center">
                                    <a href="{% url 'expense:bill:payment_term:delete' bill_payment.pk %}"><span style="color:red;"><i class="fa fa-times fa-2x"></i></span></a>
                                </td>
                                <td>
                                    <a href="{% url 'expense:bill:payment_term:receipt:list' bill_payment.id %}" class="btn btn-primary">Receipts</a>

                                </td>



                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'expense:bill:add-payment-terms' bill.id %}" class="btn btn-primary"> Add Payment Terms</a>
                </div>
                <div class="col-sm-6 col-xs-12 " style="">
                    <p style="color: #d95459;"><label>Due Date</label>:{{bill.due_date}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{@ $data @} </pre>-->
</div>

<!--Modal for delete -->



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete {{bill.code}}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete Invoice {{bill.code}} ?</p>
                <p align="right">
                    <a class="btn btn-primary" href="Javascript:Void(0);">No</a>
                    <a class="btn btn-primary" href="{% url 'expense:bill:delete' bill.id %}">Yes</a>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> BILL NO : {{bill.code}}</h4>
            </div>
            <div class="modal-body">

                <p>Order Number : {{bill.order_number}} </p>
                <p>Amount : {{bill.amount}}</p>
                <p>Tax : {{bill.tax}}</p>
                <p>Balance : {{bill.balance}}</p>
                <p>Billed Date : {{bill.billed_date|date}}</p>
                <p>Paid Date : {{bill.paid_date}}</p>
                <p>Due Date :{{bill.due_date}}</p>
                    
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- End Modal -->

<!--Modal for delete -->



<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Invoice status will be changed to 'Sent' once the payment is recorded.</h4>
            </div>
            <form action="{#{% url 'expense:bill:payment' bill.id %}#}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                    <p>Payment Date : <input id="pdate" name="payment"></p>
                    <p align="right">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </p>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>


<!-- End Modal -->











{% endblock content %} {% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
    $('#pdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
        },
    }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

</script>


{% endblock jsscript %}