{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

<style>
.row {
    margin-left: 35px;
    margin-right: 35px;
}

td span {
    font-size: 1em;
    padding: 0px;
}

.form-inline .form-control {
    width: 100%!important;
}

.cl {
    margin-bottom: 10px!important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    margin-right: 30px;
    border: 1px solid rgb(234, 234, 234);
    background-color: #ffffff;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0px!important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 0px!important;
    border: 1px solid #ccc!important;
}

.select2-container .select2-selection--single {

    height: 34px!important;
}

.pleft {
    padding-left: 40px;
}

.pleft1 {
    padding-left: 20px;
}
</style>
{% endblock head %}
{% block content %}

<div class="panel-body cl">
    <div class="row">
        <div class="col-sm-6">
            <h3 style="margin-top:20px;margin-left:30px;">Create Bill</h3>
        </div>
        <div class="col-sm-6" align="right">
            <a href="{% url 'expense:bill:list' %}">Cancel</a>
        </div>
    </div>
</div>

<form class="form-horizontal" action="{{form_url}}" method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ bill_form.non_field_errors }} {{ bill_form.field_errors }}

    <div class="panel-body cl">
        <h3 style="margin-left:30px;">Details</h3>

        <div class="row">
            <div class="form-group">
                
                <div class="form-inline">
                    <label class="col-md-2 control-label">Paid To</label>
                    <div class="col-md-5">
                    {% if edit != "edit" %}
                        {{ payee_form.payee.errors }}{{ payee_form.payee }}
                    {% else %}
                        <h4>{{bill.payee}}</h4>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 control-label">Order</label>
                    <div class="col-md-5">
                    {% if edit != "edit" %}
                        {{ order_form.order.errors }}{{ order_form.order }}
                    {% else %}
                        <h4>{{bill.order}}</h4>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 control-label">Bill Number</label>
                    <div class="col-md-5">
                    {% if edit != "edit" %}
                        {{ bill_form.code.errors }}{{ bill_form.code }}
                    {% else %}
                        <h4>{{bill.code}}</h4>
                    {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'expense:bill:code_settings' %}"><i class="fa fa-pencil"></i>Manage Bill Number</a>
                        
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="form-group">
                <div class="form-inline">

                    <label class="col-md-2 control-label">Billed Date:</label>
                    <div class="col-md-5">
                        {{ bill_form.billed_date.errors }}{{ bill_form.billed_date }}
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="form-inline">

                    <label class="col-md-2 control-label">Due Date:</label>
                    <div class="col-md-5">
                        {{ bill_form.due_date.errors }}{{ bill_form.due_date }}
                    </div>

                </div>

            </div>
        </div>
        
    </div>

    <div class="panel-body cl">
        <h3 style="margin-left:30px;">Payment Terms <small><a href="{% url 'admin:erp_core_paymentterm_changelist' %}"><i class="fa fa-edit"></i>edit</a></small></h3>
        <div class="row" style="margin-top:30px;">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-2 col-xs-8 control-label">Select payment terms</label> {% if edit %}
                    <div class="col-md-5 col-xs-10">
                        <select name="payment" class="form-control" id="payment_term" multiple="true">
                            {% for payment_term in payment_terms %}
                                {% if payment_term.bills.exists %}
                                    {% for payment in payment_term.bills.all %}
                                        {% if payment.bill == bill %}
                            <option value="{{payment_term.id}}" selected>{{payment_term}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                            <option value="{{payment_term.id}}">{{payment_term}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <div class="col-md-4 col-xs-10">
                        <select name="payment" class="form-control" id="payment_term" multiple="true">
                            {% for payment_term in payment_terms %}
                            <option value="{{payment_term.id}}">{{payment_term}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="panel-body cl" id="additional_charges">
        <!--
        <div class="row" style="margin-top:30px;">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-9 control-label">Shipping Charge</label>
                    <div class="col-md-2">
                        {{ bill_form.shipping_charges.errors }}{{ bill_form.shipping_charges }}
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row" style="margin-top:30px;">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-9 control-label">Tax</label>
                    <div class="col-md-2">
                        {{ bill_form.tax.errors }}{{ bill_form.tax }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-9 control-label">Tax Inclusive </label>
                    <div class="col-md-2">
                        {{ bill_form.tax_inclusive.errors }}{{ bill_form.tax_inclusive }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="form-group">
                <div class="form-inline">
                    <label class="col-md-9 control-label">Amount</label>
                    <div class="col-md-2">
                        {{ bill_form.amount.errors }}{{ bill_form.amount }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="form-group">
                <div class="col-sm-9">
                    <p align="right"><button class="btn-primary btn">Submit</button></p>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function () {

    function attachDateRangePicker(input_date) {
        input_date.daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'YYYY-MM-DD',
            },
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    }

    attachDateRangePicker($('#billed_date'))
    attachDateRangePicker($('#due_date'))
});

</script>



<script>
    $("#payment_term").select2({
        maximumSelectionLength: 10,

    });

    $("#id_payee").select2();
    
    $("#sales_person").select2({
        maximumSelectionLength: 10,

    });

    var shipping_address = $("#shipping_address")
    var address_id = shipping_address.val()
    shipping_address.change(function () {
        console.log(this, address_id, this.value)
        $.ajax({
            url: "/api/addresses/" + this.value + '/',
        }).then(function (data, textStatus, jqXHR) {
            $(".shipping-address #shipping-addressline1").val(data.addressline1)
            $(".shipping-address #shipping-addressline2").val(data.addressline2)
            $(".shipping-address #shipping-area").val(data.area)
            $(".shipping-address #shipping-zipcode").val(data.zipcode)
            $(".shipping-address #shipping-country").val(data.country.id).change()
            setState(data.state.id, data.city.id)
        })


        function setState(state_id, city_id) {
            state = $(".shipping-address #shipping-state")
            setTimeout(function () {
                if (state[0].options.length > 1) {
                    state.val(state_id).change()
                    setCity(city_id)
                }
            }, 500)
        }

        function setCity(city_id) {
            city = $(".shipping-address #shipping-city")
            setTimeout(function () {
                if (city[0].options.length > 1) {
                    city.val(city_id).change()
                }
            }, 500)
        }
    })
    if (address_id)
        shipping_address.trigger("change")

</script>








{% endblock jsscript %}