{% extends "erp_admin/base.html" %}
{% load guardian_tags static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;   
}
</style>
{% endblock head %}
{% block content %}
<!--Filter Start-->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                {% with form=filter.form  %}
                <form action="" method="get">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.code.label }}</label> {{ form.code }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Status</label> {{ form.status }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.payee_type.label }}</label> {{ form.payee_type }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.payee_name.label }}</label> {{ form.payee_name }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.order_type.label }}</label> {{ form.order_type }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.order_code.label }}</label> {{ form.order_code }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.amount__gt.label }}</label> 
                            {{ form.amount__gt }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.amount__lt.label }}</label> 
                            {{ form.amount__lt }}
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <h4 style="padding: 10px;">Sort By</h4>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.order_by_amount.label }}</label> {{ form.order_by_amount }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.order_by_created_at.label }}</label> {{ form.order_by_created_at }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.order_by_due_date.label }}</label> {{ form.order_by_due_date }}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a href="{% url 'expense:bill:list' %}" class="btn btn-primary">Refresh</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
                {% endwith %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="blank">
    <div class="blank-page">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left:20px;">
                <a href="{% url 'expense:dashboard' %}">Back</a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h2>
                        Bills
                        <a href="{% url 'expense:bill:pre-create' %}" class="btn btn-link" title="Create a bill">
                            <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h2>
                </div>
                <div class="col-sm-4 col-xs-12">

                    <div class="dropdown  pull-right">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="fa fa-cog"></i> settings
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{% url 'expense:bill:code_settings' %}">Manage code</a></li>
                        </ul>
                    </div>
                    <div class="dropdown pull-right">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                            <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'expense:bill:list' %}">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>     
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Bill No.</th>
                                <th>Amount </th>
                                <th>Balance</th>
                                <th>Paid To</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in bills %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'expense:bill:detail' bill.id %}">{{bill.code}}</a>
                                </td>
                                <td>
                                    <i class="fa fa-inr"></i> {{bill.get_amount}}
                                    
                                </td>
                                <td>
                                     <i class="fa fa-inr"></i> {{bill.balance}}       
                                </td>
                                <td>{{bill.payee}}</td>
                                <td>
                                    {% if bill.due_date %} {{ bill.due_date }} {% endif %}
                                </td>
                                <td>
                                    <span style="color:#000;font-size:15px;">
                                        <mark> {{ bill.status }} </mark>
                                    </span>
                                </td>
                                
                            </tr>

                            {% empty %}
                            <tr>
                                <td colspan="8">No bills in System</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %} {% block jsscript %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
    $("#id_contact").select2({
        maximumSelectionLength: 10,

    });

</script>


<script>
$(document).ready(function () {

    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));
    }
    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()

        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)
    })
})
</script>
{% endblock jsscript %}
