<!--Last Modified By:REMYA M S-->
{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="blank">
    <div class="grid-form1">
        <a href="{% url 'expense:bill:list' %}">Cancel</a>
        <h3 style="margin-top:20px;">New Bill Details</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{ form_url }}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">{{ form.order_type.label }}</label>
                        <div class="col-sm-4">{{ form.order_type.errors }} {{ form.order_type }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">{{ form.payee_type.label }}</label>
                        <div class="col-sm-4">{{ form.payee_type.errors }} {{ form.payee_type }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}