{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css'/>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<style>

    .record-expense{
        margin-right: 150px;
        margin-left: 60px;
    }
    .view-expense{
        margin-right: 150px;
        margin-left: 60px;
    }
    .Purple-expensive{
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 5px 0px 50px 25px;
        box-shadow: 3px 4px 10px #adadad;
        border: 0.5px solid #e2e2e2;
    }
    .Purple-bulk{
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 5px 0px 45px 25px;
        box-shadow: 3px 4px 10px #adadad;
        border: 0.5px solid #e2e2e2;
    }
    .Purple-expense-view{
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 5px 0px 40px 25px;
        box-shadow: 3px 4px 10px #adadad;
        border: 0.5px solid #e2e2e2;
    }
    .Purple-card-bill{
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 5px 0px 80px 25px;
        box-shadow: 3px 4px 10px #adadad;
        border: 0.5px solid #e2e2e2;
    }
    .expense-ribbon{
        background: linear-gradient(60deg,#ffa726,#fb8c00);padding: 45px;border-radius: 5px;box-shadow: 3px 4px 10px #adadad;
    }
    .bulk-ribbon{
        background: linear-gradient(60deg,#26c6da,#00acc1);padding: 45px;border-radius: 5px;box-shadow: 3px 4px 10px #adadad;
    }
    .view-ribbon{
        background: linear-gradient(60deg,#66bb6a,#43a047);padding: 45px;border-radius: 5px;box-shadow: 3px 4px 10px #adadad;
    }
    .bill-ribbon{
        background: linear-gradient(60deg,#ec407a,#d81b60);padding: 45px;border-radius: 5px;box-shadow: 3px 4px 10px #adadad;
    }
    .record-p{
        padding: 0px 160px;font-size: 20px;margin: -10px 20px 0px 30px;
    }
    .bulk-p{
        padding: 0px 160px;font-size: 20px;margin: -10px 20px 0px 30px;
    }
    .view-p{
        padding: 0px 160px;font-size: 20px;margin: -10px 20px 0px 30px;
    }
    .bill-p{
        padding: 0px 160px;font-size: 20px;margin: -10px 20px 0px 30px;
    }
    .card-bill{
        margin-top: -10px;
    }

    @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : landscape){
                .record-expense{
                    margin-right: 150px;
                    margin-left: 60px;
                    width: 45%;
                    margin: 10px;
                }
                .view-expense{
                    margin-right: 150px;
                    margin-left: 60px;
                    width: 45%;
                    margin: 10px;
                }
                .bulk-add{
                    width: 45%;
                    margin-top: 12px;
                }
                .card-bill{
                    width: 45%;
                }
        }

        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : portrait) {
            .record-expense{
                    margin-right: 150px;
                    margin-left: 60px;
                    width: 80%;
                    margin: 10px;
                }
                .view-expense{
                    margin-right: 150px;
                    margin-left: 60px;
                    width: 80%;
                    margin: 10px;
                }
                .bulk-add{
                    width: 80%;
                    margin: 10px;
                    margin-bottom: -50px;
                }
                .card-bill{
                    width: 80%;
                    margin: 10px;
                }
         }

         @media only screen
            and (maximum-width : 767px) {
                .record-expense{
                    margin: 10px;
                    margin-bottom: 40px;
                    width: 80%;
                }
                .view-expense{
                    margin-right: 150px;
                    margin-left: 60px;
                    width: 80%;
                    margin: 10px;
                }
                .bulk-add{
                    width: 80%;
                    margin: 10px;

                }
                .card-bill{
                    width: 80%;
                    margin: 10px;
                }

             }


</style>
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="row" style="margin-top:30px;margin-bottom: 60px;">
                    <!-- -Record Expense-->
                    <div class="col-sm-4 col-md-4  col-xs-12 card-bottom record-expense">
                        <article class="material-card Purple-expensive">
                            <div class="mc-content" style="box-shadow: azure;">
                        <span class="ribbon expense-ribbon"><a href="{% url 'expense:supplier_or_vendor' %}" style="text-decoration:none;"><img src="{% static 'images/Add.png' %}" alt="" /></a></span>
                                <div class="img-container" style="">
                                    <p class="record-p"><b>Record Expense</b></p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- -&#45;&#45;-->

                    <!-- -Bulk Add Expense-->
                    <div class="col-sm-4 col-md-4  col-xs-12 card-bottom bulk-add" style="">
                        <article class="material-card Purple-bulk">
                            <div class="mc-content" style="box-shadow: azure;">
                        <span class="ribbon bulk-ribbon"><a href="{% url 'expense:bulk_supplier_or_vendor' %}" style="text-decoration:none;"><img src="{% static 'images/Add.png' %}" alt="" /></a></span>
                                <div class="img-container" style="">
                                    <p class="bulk-p"><b>Add Bulk</b></p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- -&#45;&#45;-->


                </div>

                <div class="row">
                    <!--View expenses-->
                    <div class="col-sm-4 col-md-4  col-xs-12 card-bottom view-expense">
                        <article class="material-card Purple-expense-view">
                            <div class="mc-content" style="box-shadow: azure;">
                        <span class="ribbon view-ribbon"><a href="{% url 'expense:index' %}" style="text-decoration:none;"><img src="{% static 'images/View.png' %}" alt="" /></a></span>
                                <div class="img-container" style="">
                                    <p class="view-p"><b>View Expenses</b></p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- -&#45;&#45;-->

                    <!-- -bill-->
                    <div class="col-sm-4 col-md-4  col-xs-12 card-bottom card-bill" style="">
                        <article class="material-card Purple-card-bill">
                            <div class="mc-content" style="box-shadow: azure;">
                        <span class="ribbon bill-ribbon"><a href="{% url 'bill:list' %}" style="text-decoration:none;"><img src="{% static 'images/File.png' %}" alt="" /></a></span>
                                <div class="img-container" style="">
                                    <p class="bill-p"><b>Bill</b></p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!--&#45;&#45;-->

                </div>

            </div>
        </div>

    </div>
</div>


{% endblock content %}
