{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} 
{% block head %}
<style type="text/css">
.status-notpaid {
    background-color: red;
    font-size: 12px;
}
.status-paid {
    background-color: #2fd22f;
    font-size: 12px;
}
</style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'expense:index' %}">Expense</a>
        <i class="fa fa-angle-right"></i>
        <span>{{expense.expense_type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>
    </h2>
</div>

<div class="block">

    <div class="row show-grid">
        
            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Created Date: {{ expense.created_at | date }}
                </span>
            </div>
            <div class="pull-right" class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Last Update: {{expense.updated_at | date }}
                </span>
            </div>
        
        
    </div>
    
    <div class="row show-grid" style="padding-left:10px;">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h4>Expense Details</h4>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-8 col-xs-12">
                <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:18px;">
                    <thead>
                        <tr>
                            <th class="tfont">Date</th>
                            <th>{{expense.date}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tfont">Expense Type</th>
                            <th>{{expense.expense_type}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Amount</th>
                            <th><i class="fa fa-inr"></i> {{ expense.amount }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Paid</th>
                            <th>
                                {% if expense.paid %} 
                                    <span class="label status status-paid">PAID</span> 
                                {% else %}
                                    <span class="label status status-notpaid">NOT PAID</span>
                                {% endif %}
                            </th>
                        </tr>
                        {% if expense.payee_type%}
                            <tr>
                                <th class="tfont">{{expense.payee_type}}</th>
                                <th>
                                    {{expense.payee}}
                                </th>
                            </tr>
                        {% endif %}
                        {% if expense.refernce%}
                            <tr>
                                <th class="tfont">Reference</th>
                                <th>
                                    {{ expense.refernce }}
                                </th>
                            </tr>
                        {% endif %}
                        <!--
                        {% if expense.attachment%}
                            <tr>
                                <th class="tfont">Attachment</th>
                                <th>
                                    <a class="btn btn-primary" href="/media/{{expense.attachment }}" target="blank">View Attachment</a>
                                </th>
                            </tr>
                        {% endif %}
                        -->
                        {% if expense.note%}
                            <tr>
                                <th class="tfont">Note</th>
                                <th>{{ expense.note }}</th>
                            </tr>
                        {% endif %}
                        {% if expense.customer%}
                            <tr>
                                <th class="tfont">Customer</th>
                                <th>{{ expense.customer }}</th>
                            </tr>
                        {% endif %}
                        {% if expense.tax.all %}
                        
                            <tr>
                                <th class="tfont">Tax</th>

                                <th>
                                    {% for t in expense.tax.all %}
                                        {{ t }}<br>
                                    {% endfor %}
                                </th>
                            </tr>
                        {% endif %}
                        {% if expense.attachment%}
                            <tr>
                                <th colspan="2">
                                    <a  href="/media/{{expense.attachment }}" target="blank">View Attachment</a>
                                </th>
                            </tr>
                        {% endif %}
                            <tr>
                                <th class="tfont">Edit</th>
                                <th>
                                    <a  href="{% url 'expense:edit_Expense' expense.pk %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </th>
                            </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
    </div>

</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}