{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

<style>

 .pleft{
 	padding-left:40px;
 }
 .pleft1{
 	padding-left:20px;
 }

 td span{
	font-size: 1em;
	padding: 0px;
}
.leftalign{
	text-align: left !important;
	padding-left: 40px !important;
}
label{
	padding: 7px 12px 0 !important;
	
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'expense:index' %}">Expense</a>
        <i class="fa fa-angle-right"></i>
		 <span>
			 {% if not type == "edit" %}

			 		create
			  {% endif %}

		 </span>

        <span>{{expense.expense_type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<div class="blank">
	<div class="grid-form1">
		<div class="row">

		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Record Expense</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Record Expense</h3>
		 		{% endif %}
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ expense_formset.non_field_errors }}
				{{ expense_formset.field_errors }}
					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="date" class="col-sm-2 control-label col-xs-12">Date <span class="req">*</span></label>{{ expense_form.date.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.date }}
								</div>
							</div>
							<div class="form-inline">

								<label for="expense_type" class="col-sm-2 control-label col-xs-12">Expense Type <span class="req">*</span></label>{{ expense_form.expense_type.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.expense_type }}
								</div>
								<!--
								<div class="col-sm-1 col-xs-12">
									<a href="/admin/expense/typeofexpense/" target="blank">ADD</a>
								</div>
								-->
							</div>
						</div>
					</div>
												
					
					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="amount" class="col-sm-2 control-label col-xs-12">Amount (<i class="fa fa-inr"></i>) <span class="req">*</span></label>{{ expense_form.amount.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.amount }}
								</div>
							</div>
							<div class="form-inline">
			                    {% if type == "add" %}
									<label class="col-md-2 control-label">{{ payee_form.payee.label }} <span class="req">*</span></label>
								{% else %}
									<label class="col-md-2 control-label">{{expense.payee_type}} <span class="req">*</span></label>
								{% endif %}	

			                    <div class="col-sm-3 col-xs-12">
			                    {% if type != "edit" %}
			                        {{ payee_form.payee.errors }}{{ payee_form.payee }}
			                    {% else %}
			                        <h4>{{expense.payee}}</h4>
			                    {% endif %}
			                    </div>

							</div>
							
						</div>
					</div>
	

					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="customer" class="col-sm-2 control-label col-xs-12">Customer</label>{{ expense_form.customer.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.customer }}
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="note" class="col-sm-2 control-label col-xs-12">Note</label>{{ expense_form.note.errors }}
								<div class="col-sm-8 col-xs-12">
									{{ expense_form.note }}
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label class="col-md-2 control-label col-xs-12">Paid</label>
		                        <div class="col-sm-3 col-md-3 col-xs-12">
		                            {{ expense_form.paid.errors }}{{ expense_form.paid}}
		                        </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							
							<div class="form-inline">
								{% if type == 'add' %}
									<label for="attachment" class="col-sm-2 col-xs-12 control-label">Attachment</label>{{ expense_form.attachment.errors }}
									<div class="col-sm-3 col-xs-12">
										{{ expense_form.attachment }}
									</div>
								{% else %}

									<label for="attachment" class="col-sm-2 col-xs-12 control-label">Attachment</label>{{ expense_form.attachment.errors }}
									<div class="col-sm-3 col-xs-12">
										{{ expense_form.attachment }}
									</div>
									{% if expense.attachment %}
									<div class="col-sm-4 col-xs-12 col-md-3">
										<label><a href="/media/{{expense.attachment }}" target="blank">View Attachment</a></label>
									</div>
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>

					
					<div class="form-group">
						<div class="col-sm-12" style="padding-left:5%;">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          // timePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          minDate:new Date(),
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });

        $("#tax").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});
		
		$("#expense_type").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});

		$("#id_payee").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});

		$("#customer").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});
		
      });
</script>

<script>
// $(document).ready(function() {
//     var subtask_input = $("#id_sub_task");
//     var subtask = subtask_input.select2({
//       ajax: {
//         url: "/select_list/",
//         dataType: 'json',
//         delay: 250,
//         data: function (params) {
//           return {
//             subtask_code: params.term, // search term
//           };
//         },
//         processResults: function (data) {
//           // parse the results into the format expected by Select2
//           // since we are using custom formatting functions we do not need to
//           // alter the remote JSON data, except to indicate that infinite
//           // scrolling can be used
//           console.log(data);
//           return {
//             results: data,
//           };
//         },
//         cache: true
//       },
//       escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
//       minimumInputLength: 3,
//       // templateResult: formatRepo, // omitted for brevity, see the source of this page
//       // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
//     });
    
// });
</script>
{% endblock jsscript %}