<!--Last Modified By:REMYA M S-->
{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'expense:index' %}">Expense</a>
        <i class="fa fa-angle-right"></i>
        <span>Payee Type</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<div class="blank">
    <div class="grid-form1">
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{ form_url }}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">{{ form.payee_type.label }}</label>
                        <div class="col-sm-4">{{ form.payee_type.errors }} {{ form.payee_type }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4">
                            <button class="btn-primary btn pull-right">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}