<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h4>Contact</h4>
                <div class="contact-details">
                    <i class="fa fa-user fa-fw"></i> <span> {{ contact.name }}</span> <br>
                    <i class="fa fa-id-badge fa-fw"></i> <span> {{ contact.designation }}</span> <br>
                    <i class="fa fa-envelope fa-fw"></i> <span> {{ contact.email }}</span> <br>
                    <i class="fa fa-phone fa-fw"></i> <span> {{ contact.phone }}</span>, <span> {{ contact.alternat_phone }}</span> <br>
                    <i class="fa fa-calender fa-fw"></i> <span> {{ contact.dob | date('MMMM Do YYYY') }}</span><br>
                </div>
                
                
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h4>Addresses</h4>
                <ul class="list-group">
                    <li v-for="(address, index) in contact.addresses" class="list-group-item">
                        <span> {{ address.addressline1 }}, </span><br>
                        <span> {{ address.addressline2 }}, </span>
                        <span> {{ address.area }}, </span><br>
                        <span> {{ address.country.name }}, </span>
                        <span> {{ address.state.name }}, </span>
                        <span> {{ address.city.name }}, </span>
                        <span> {{ address.zipcode }} </span>
                        <div class="billing-checkbox">
                            <label class="control-label">Billing address: </label>
                            <input type="checkbox" v-model="address.billing" @change.prevent="updateBilling(address, index)">
                        </div>
                        <a :href="'/addresses/' + address.id + '/edit'">
                            <span class="badge">Edit</span>
                        </a>
                    </li>
                </ul>
                <div class="contact-addresses">
                    <div v-if="add" class="contact-address">
                        <form role="form" id="address-form" method="post" class="" @submit.prevent="saveAddress">

                            <div class="form-group col-sm-6" :class="{'has-error': hasError(apiErrors,'addressline1') }">
                                <label class="control-label">Address Line 1: </label>
                            
                                <input type="text" class="form-control" v-model="newAddress.addressline1">
                                <span v-show="hasError(apiErrors, 'addressline1')" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'addressline1') }}
                                </span>
                            </div>
                            <div class="form-group col-sm-6" :class="{'has-error': hasError(apiErrors, 'addressline2') }">
                                <label class="control-label">Adddress Line 2: </label>
                                <input type="text" class="form-control" v-model="newAddress.addressline2">
                                <span v-show="hasError(apiErrors, 'addressline2')" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'addressline2') }}
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6" :class="{'has-error': hasError(apiErrors, 'area') }">
                                    <label class="control-label">Area:</label>
                                    <input type="text" class="form-control" v-model="newAddress.area">
                                    <span v-show="hasError(apiErrors, 'area')" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'area') }}
                                    </span>
                                </div>
                                <div class="col-sm-6" :class="{'has-error': hasError(apiErrors, 'zipcode') }">
                                    <label class="control-label">Zipcode:</label>
                                    <input type="text" class="form-control" v-model="newAddress.zipcode">
                                    <span v-show="hasError(apiErrors, 'zipcode')" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'zipcode') }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, 'country') }">
                                    <label class="control-label">Country:</label>
                                    <select id="countries" class="form-control" v-model="newAddress.country">
                                        <option v-for="option in choices.countries" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, 'country')" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'country') }}
                                    </span>
                                </div>
                                <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, 'state') }">
                                    <label class="control-label">State:</label>
                                    <select id="states" class="form-control" v-model="newAddress.state">
                                        <option v-for="option in countryStates(newAddress.country)" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, 'state')" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'state') }}
                                    </span>
                                </div>
                                <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, 'city') }">
                                    <label class="control-label">City:</label>
                                    <select id="cities" class="form-control" v-model="newAddress.city">
                                        <option v-for="option in stateCities(newAddress.state)" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, 'city')" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, 'city') }}
                                    </span>
                                </div>
                            </div>
                            <!--<button @click.remove="newAddress.splice(index, 1)" class="btn btn-danger pull-right">Remove</button>-->
                            <button type="submit" class="btn btn-default pull-right">Save</button>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                    <button v-if="!add" @click.prevent="add = true" class="btn btn-primary">Add address</button>
                </div>
            </div>
        </div>
    </div>
</div>
