
{% extends "erp_admin/base.html" %}
{% load staticfiles %}
{% block head %}
<style type="text/css">
    .calendar-month-header{
        font-size:75px;
    }

@media screen and (max-width: 768px) {

  .calendar-month-header{
        font-size:45px;
    }

}
.dow-clickable:hover{
background-color:#d378f7!important;
}
</style>
<!-- include the calendar js and css files -->
<script src="{% static 'js/zabuto_calendar.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">

{% endblock head %}
{% block content %}
<div class="blank row" style="background-color: #fdf0ee;border-color:#fdf0ee;">
    <div class="blank-page col-xs-12" style="background-color: #fdf0ee;border-color:#fdf0ee;">


        <div id="my-calendar"></div>



    </div>
</div>
{% endblock content %}

{% block jsscript %}
<script type="text/javascript">

    window.onload = function() {
      $( ".badge-today" ).parent().parent().css( "background-color", "rgba(211, 120, 247, 0.33)" );
    };
    
    $(document).ready(function () {
        $('#my-calendar').zabuto_calendar({
        	cell_border: true,
			today: true,
			weekstartson: 0,
			nav_icon: {
			  prev: '<i class="fa fa-chevron-circle-left"></i>',
			  next: '<i class="fa fa-chevron-circle-right"></i>'
			},
            language: 'en',
            data : [
            	{% for dateobj in date_list %}		
				  {"date": '{{ dateobj }}' ,"badge":true,"title":"Example"},
				{% endfor %} 
				],
            action: function () {
            		{ myDateFunction(this.id); }
            }
        });
    });

    function myDateFunction(id) {
	    var date = $("#" + id).data("date");
	    var hasEvent = $("#" + id).data("hasEvent");
	    window.location = window.location.href.replace("/dashboard","")+date;
	}

</script>
{% endblock jsscript %}



