{% extends "erp_admin/base.html" %}
{% load static tz util%}
{% get_current_timezone as TIME_ZONE %}
{% block content %}

{% block head %}
<link rel="stylesheet" href="/static/css/clndr.css" type="text/css" />


<style>

.content-graph {
     background-color:None!important;
    border:None!important;
}

.graph-container {

    height: 482px!important;
}


.top-content h5 {
    font-size: 1.1em!important;
  }
  .fa-style{
      font-size: 40px!important;

      padding: 11px!important;
  }

 .top-content label {
    font-size: 1.7em!important;
}




</style>


{% endblock head %}

<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Dashboard</span>
    </h2>
</div>

<div class="content-top">
    <div class="col-md-12 col-lg-4">
        <!-- box1 -->
        <div class="content-top-1 col-xs-12 col-sm-4 col-md-4 col-lg-12" style="background-color:#608830;color:#fff;">
            <div class="col-md-6 top-content1">
                <div><span><a href="{% url 'calendarApp:list' today %}"><i class="fa fa-calendar-check-o fa-style"
                                                                           style="color: #fff!important;"></i></a></span>
                </div>
            </div>
            <div class="col-md-6 top-content" >
                <h5 style="margin: 0px 0px 10px -15px;color: #fff!important;">Today's Appointments <b>{{pendingDate}}</b></h5>
                <label class="Count" style="color: #fff!important;">{{todays_appointments_count}}</label>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- Box3 -->
        <div class="content-top-1 col-xs-12 col-sm-4 col-md-4 col-lg-12" style="background-color:#f50057;color:#fff;">
            <div class="col-md-6 top-content1">
                <div><span><a href="{% url 'calendarApp:list' tomorrow %}"><i class="fa fa-calendar-plus-o fa-style"
                                                                              style="color: #fff!important;"></i></a></span>
                </div>
            </div>
            <div class="col-md-6 top-content">
                <h5 style="margin: 0px 0px 10px -15px;color: #fff!important;">Tomorrow's Appointments</h5>
                <label class="Count" style="color: #fff!important;">{{tomorrow_appointments_count}}</label>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Box2 -->
        <div class="content-top-1 col-xs-12 col-sm-4 col-md-4 col-lg-12" style="background-color:#C3A71F;">
            <div class="col-md-6 top-content1">
                <div>
                    <span>
                        <a href="{% url 'calendarApp:list' today %}">
                            <i class="fa fa-calendar-check-o fa-style" style="color: #fff!important;">

                            </i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-md-6 top-content">
                <h5 style="margin: 0px 0px 10px -15px;color: #fff!important;">Upcoming Appointments</h5>
                <label class="Count" style="color: #fff!important;">{{upcoming_appointments_count}}</label>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <div class="clearfix hidden-lg"></div>
    <div class="col-md-12 col-lg-8 content-top-2" style="padding:2%;">
        <div class="cal1 cal_2">
            <div class="clndr">
                <div class="clndr-controls">
                    <div class="clndr-control-button"><p class="clndr-previous-button">previous</p></div>
                    <div class="month">July 2015</div>
                    <div class="clndr-control-button rightalign"><p class="clndr-next-button">next</p></div>
                </div>
                <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr class="header-days">
                        <td class="header-day">S</td>
                        <td class="header-day">M</td>
                        <td class="header-day">T</td>
                        <td class="header-day">W</td>
                        <td class="header-day">T</td>
                        <td class="header-day">F</td>
                        <td class="header-day">S</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="day adjacent-month last-month calendar-day-2015-06-28">
                            <div class="day-contents">28</div>
                        </td>
                        <td class="day adjacent-month last-month calendar-day-2015-06-29">
                            <div class="day-contents">29</div>
                        </td>
                        <td class="day adjacent-month last-month calendar-day-2015-06-30">
                            <div class="day-contents">30</div>
                        </td>
                        <td class="day calendar-day-2015-07-01">
                            <div class="day-contents">1</div>
                        </td>
                        <td class="day calendar-day-2015-07-02">
                            <div class="day-contents">2</div>
                        </td>
                        <td class="day calendar-day-2015-07-03">
                            <div class="day-contents">3</div>
                        </td>
                        <td class="day calendar-day-2015-07-04">
                            <div class="day-contents">4</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="day calendar-day-2015-07-05">
                            <div class="day-contents">5</div>
                        </td>
                        <td class="day calendar-day-2015-07-06">
                            <div class="day-contents">6</div>
                        </td>
                        <td class="day calendar-day-2015-07-07">
                            <div class="day-contents">7</div>
                        </td>
                        <td class="day calendar-day-2015-07-08">
                            <div class="day-contents">8</div>
                        </td>
                        <td class="day calendar-day-2015-07-09">
                            <div class="day-contents">9</div>
                        </td>
                        <td class="day calendar-day-2015-07-10">
                            <div class="day-contents">10</div>
                        </td>
                        <td class="day calendar-day-2015-07-11">
                            <div class="day-contents">11</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="day calendar-day-2015-07-12">
                            <div class="day-contents">12</div>
                        </td>
                        <td class="day calendar-day-2015-07-13">
                            <div class="day-contents">13</div>
                        </td>
                        <td class="day calendar-day-2015-07-14">
                            <div class="day-contents">14</div>
                        </td>
                        <td class="day calendar-day-2015-07-15">
                            <div class="day-contents">15</div>
                        </td>
                        <td class="day calendar-day-2015-07-16">
                            <div class="day-contents">16</div>
                        </td>
                        <td class="day calendar-day-2015-07-17">
                            <div class="day-contents">17</div>
                        </td>
                        <td class="day calendar-day-2015-07-18">
                            <div class="day-contents">18</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="day calendar-day-2015-07-19">
                            <div class="day-contents">19</div>
                        </td>
                        <td class="day calendar-day-2015-07-20">
                            <div class="day-contents">20</div>
                        </td>
                        <td class="day calendar-day-2015-07-21">
                            <div class="day-contents">21</div>
                        </td>
                        <td class="day calendar-day-2015-07-22">
                            <div class="day-contents">22</div>
                        </td>
                        <td class="day calendar-day-2015-07-23">
                            <div class="day-contents">23</div>
                        </td>
                        <td class="day calendar-day-2015-07-24">
                            <div class="day-contents">24</div>
                        </td>
                        <td class="day calendar-day-2015-07-25">
                            <div class="day-contents">25</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="day calendar-day-2015-07-26">
                            <div class="day-contents">26</div>
                        </td>
                        <td class="day calendar-day-2015-07-27">
                            <div class="day-contents">27</div>
                        </td>
                        <td class="day calendar-day-2015-07-28">
                            <div class="day-contents">28</div>
                        </td>
                        <td class="day calendar-day-2015-07-29">
                            <div class="day-contents">29</div>
                        </td>
                        <td class="day calendar-day-2015-07-30">
                            <div class="day-contents">30</div>
                        </td>
                        <td class="day calendar-day-2015-07-31">
                            <div class="day-contents">31</div>
                        </td>
                        <td class="day adjacent-month next-month calendar-day-2015-08-01">
                            <div class="day-contents">1</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<!---->
{% endblock content %}

{% block jsscript %}
<script>
   $('.Count').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
    duration: 1000,
    easing: 'swing',
    step: function () {
      $this.text(Math.ceil(this.Counter));
    }
  });
});

$('.day-contents').click(function(){
  console.log($(this).innerHTML());
});

</script>

			<script src="/static/js/underscore-min.js" type="text/javascript"></script>
			<script src= "/static/js/moment-2.2.1.js" type="text/javascript"></script>
			<script src="/static/js/clndr.js" type="text/javascript"></script>
			<script src="/static/js/site.js" type="text/javascript"></script>

{% endblock jsscript %}