{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.btn{
text-align: left!important;
}
.cl{
padding:30px;
border: 1px solid rgb(234, 234, 234);
margin-left:3px;
}
.cl1{
padding:20px;
border: 1px solid rgb(234, 234, 234);
margin-left:20px;
margin-right:20px;
margin-top:0px!important;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 294px!important;
}

.weather-bottom1{
width: 16% !important;
}

.badge-today{
color: #000 !important;
}

</style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{{ request.META.HTTP_REFERER }}">Appointments</a>
        <i class="fa fa-angle-right"></i>
        <span>{{ dates.customer }}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>


<div class="content-bottom">
    <div class="col-md-12">
        <div class="weather">
            <div class="weather-top">
                <div class="weather-top-left">
                    <div class="degree">
                        <figure class="icons">
                            <i class="fa fa-user-circle-o fa-3x"></i>
                        </figure>
                        <span>{{ dates.customer }}</span>
                        <div class="clearfix"></div>
                    </div>

                    <p><i class="fa fa-calendar appointmentdate" data-id="{{ dates.appointment_date_time}}"></i>&nbsp; {{ dates.appointment_date_time}}
                    </p>
                </div>
                <div class="weather-top-right">
                    <p><i class="fa fa-phone"></i>{{ dates.customer.phone }}</p>

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="weather-bottom">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Service</th>
                            <th width="50%">Employee</th>
                            <th width="50%">Price-AED</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in dates.services.all %}
                        <tr>
                            <td>{{ appointment.service }}</td>
                            <td><span class="badge">{{ appointment.employee }}</span></td>
                            <td>{{ appointment.service.price_hour }}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div style="padding-left: 72px;padding-bottom:1%;">
                <br>
                {% if dates.status == 'cancelled' or dates.status == 'noshows' %}
                <a type="button" class="btn btn-primary" href="{% url 'calendarApp:edit' dates.pk %}">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i> Rebook</a>
                {% else %}
                <a type="button" class="btn btn-primary" href="{% url 'calendarApp:edit' dates.pk %}">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</a>
                {% endif %}
                <a type="button" class="btn btn-danger" href="{% url 'calendarApp:delete' dates.pk %}"><i
                        class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                <div class="dropup">
                    <button class="btn btn-warning dropdown-toggle " type="button" data-toggle="dropdown">
                        <span class="statusdropdown">{{dates.status}}</span>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for status in statuses %}
                        {% if dates.status != status.0 %}
                        <li class='statuslist'><a href="#">{{status.0}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}

function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});



$(document).ready(function() {
   $(".dropdown-menu li").click(function(event){
       var appoinment_date = Date.parse($('.appointmentdate').attr("data-id").slice(0,13).replace('.','').trim())
       if(appoinment_date > new Date() && $(this).text() == 'closed' ){
            alert('You cannot close an upcoming appointment')
       }
       else{
           $(".statusdropdown").text($(this).text())
           event.preventDefault();
           var elem = this;
           if (confirm("Are you sure?"))
           {
               $.ajax(
               {
                    url : '/calendar/editstatus/{{dates.pk}}/',
                   type: "POST",
                   data: {
                     'newstatus': ($(this).text())
                   },
                   success:function(data, textStatus)
                   {
                       accepted(elem);
                   },
                   error: function(jqXHR, textStatus, errorThrown)
                   {
                       $("#error_div").empty();
                       $("#error_div").html(jqXHR.responseText);
                   }
               });
           }else{
               return false;
           }
       }
       function accepted(elem) {
           elem = $(elem);
           if(elem.is(':checked'))
           {
               elem.prop('checked',false);
           }
           else
           {
               elem.prop('checked',true);
           }
       }
   });
   });



</script>

{% endblock jsscript %}
