{% extends "erp_admin/base.html" %}
{% load static tz  %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
{% endblock css %}
{% block content %}
<div class="banner">
    <h2>
        <a href="{% url 'calendarapp:dashboard'%}">Appointments</a>
        <i class="fa fa-angle-right"></i>
		<span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
<form class="" action="{{form_url}}" method="post" id="qForm">
    <div class="blank">
        <div class="grid-form1">

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ appointment_form.non_field_errors }}

                    <div class="row" style="padding:1%;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Customer<span class="req">*</span></label>
                                <a href="{% url 'invoice:createcustomer' %}?create=appointment" class="btn btn-link">
                                    <i class="fa fa-plus-square-o "></i>
                                </a>
                                <div class="">
                                    {{ appointment_form.customer.errors }}{{ appointment_form.customer }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="margin-top: 5px;">
                            <div class="form-group">
                                <label class="control-label tdate">Date<span class="req">*</span></label>
                                <div class="tdate">
                                    {{ appointment_form.appointment_date_time.errors }}
                                    {{ appointment_form.appointment_date_time }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="margin-top: 5px;">
                            <div class="form-group">
                                <label class="control-label">Status<span class="req">*</span></label>
                                <div class="">
                                    {{ appointment_form.status.errors }}{{ appointment_form.status}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{ service_formset.field_errors }}
                        {{ service_formset.management_form }}
                        <div id="products" style="padding:2%;">

                            <h4 style="margin-top:20px;">Services</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Employee</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item_form in service_formset %}
                                    <tr class="item">
                                        <td>

                                            {{ item_form.id }}
                                            {{ item_form.service }}
                                            {{ item_form.service.errors }}

                                        </td>
                                        <td>

                                            {{ item_form.employee }}
                                            {{ item_form.employee.errors }}

                                        </td>

                                        <td>{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>

                            </div>
                        </div>

                    </div>

                    <div class="row" style="padding-left:2%;">
                        <button class="btn-primary btn" id="createSubmit" style="float:right;">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#status').on('change', function(){
                console.log($(this).val())
                if($(this).val() == 'closed'){
                    $.ajax({
                        type: "GET",
                        url: "/check_status/",
                        data: {
                            customer : '{{appointment.customer.name}}',
                            mobile : '{{appointment.customer.phone}}'
                        },
                        success: function(result) {
                            if(result['invoice']== 'no')
                            {
                                alert('You cannot select "closed" without creating an invoice!')
                                $('#status option').prop('selected', function() {
                                return this.defaultSelected;
                    });
                            }
                        },
                        error: function(result) {
                            alert('Error');
                        }
                    });
                   }
                });

            $('.item').formset({
                prefix: '{{ service_formset.prefix }}',
                addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Service" style="border-color: #39ca28;background-color: #51ad2b;">',
                deleteText: '<font color="red">REMOVE</font>',
             });
            var $date_inputs = $('.tdate')
          var date_format = 'YYYY-MM-DD HH:mm';
            $date_inputs.daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: true,
                autoApply: true,
                showDropdowns: true,
                startDate: new Date(),
                timePicker: true,
                timePicker24Hour:true,
                locale: {
                    format: date_format,
                },
                    // calender_style: "picker_4",
                }, function(start, end, label) {
                });

                $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
                });

                $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });

{% if type != "Edit" %}

            if($('select[name="status"] option:selected').html() == "New"){
               $('select[name="status"]').prop('disabled', true);
               $('form').bind('submit', function () {
                  $('select[name="status"]').prop('disabled', false);
                 });
            }
{% endif %}



      });



</script>


{% endblock jsscript %}
