{% extends "erp_admin/base.html" %}
{% load static tz %}
{% block head %}
<style type="text/css">
        
    .form-group{
            width:100%;
    }
    .tab-content {
    padding-left: 20px 
    }

</style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'calendarapp:date' %}">Appointments</a>
        <i class="fa fa-angle-right"></i>
        <span>{% if current_date %}{{current_date}} {% else %} All {% endif %}</span>
        <a href="{% url 'calendarApp:create' %}" class="btn btn-link"><i class="fa fa-plus-square-o fa-2x"></i></a>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>


<div class="blank">
    <div class="grid-form1">
        <div class="row">

        </div>

        <div class="row show-grid">
            <form id="search-form" method="get">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"
                                                                             aria-hidden="true"></i></span>
                        <input  id="search" name="search" type="text" class="form-control" placeholder="Name,Phone,Email"
                               aria-describedby="basic-addon1" value="{{ request.GET.search }}">
                    </div>
                </div>
            </form>
            <a style="float:right;" href="{% url 'calendarapp:list' %}" class="btn btn-primary">
                    <i class="fa fa fa-refresh"></i>
                </a>
            <a style="float:right;" href="{% url 'calendarapp:code_settings' %}" class="btn btn-primary">
                    <i class="fa fa fa-cog"></i>
                </a>
        </div>

        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date and time</th>
                            <th>Customer</th>
                            <th>Phone</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Invoice</th>
                            <th>Edit</th>
                            {% if request.user.is_superuser %}
                            <th>Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for dateobj in dates %}
                        {% if reqDate != 1 %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ dateobj.appointment_date_time|localtime }}</td>
                            <td><a href="{% url 'calendarApp:detail' dateobj.pk %}" class="btn btn-link">{{ dateobj.customer }}</a> </td>
                            <td>{{ dateobj.customer.phone }}</td>
                            <td>{% for appointment in dateobj.services.all %}
                                {{ appointment.service }}
                                {% if not forloop.last %},{% endif %}{% endfor %}</td>

                            <td>

                                <span class="{{dateobj.status|lower}}">{{dateobj.status}}</span>

                            </td>
                            <td>{% if dateobj.status != 'Closed' %}
                                    <a href="{% url 'invoice:createinvoice' %}?appointment_pk={{dateobj.pk}}" class="btn btn-pill btn-primary">Invoice <i class="fa fa-plus"></i></a>
                                {% else %}
                                    <a href="{% url 'customer:detail' dateobj.customer.pk %}" class="btn btn-link btn-secondary">View</a>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'calendarApp:edit' dateobj.pk %}" class="btn btn-link"><i
                                    class="fa fa-edit"></i></a></td>
                            {% if request.user.is_superuser %}
                            <td><a href="{% url 'calendarApp:delete' dateobj.pk %}" class="btn btn-link"><i
                                    class="fa fa-trash-o"></i></a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% empty %}
                        <tr>
                            <td colspan="9">No Appointments</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jsscript %}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
$(document).ready(function(){

});

$('#search').on('input', function() {
  $('form#search-form').submit();
});

jQuery.fn.putCursorAtEnd = function() {

  return this.each(function() {

    // Cache references
    var $el = $(this),
        el = this;

    // Only focus if input isn't already
    if (!$el.is(":focus")) {
     $el.focus();
    }

    // If this function exists... (IE 9+)
    if (el.setSelectionRange) {

      // Double the length because Opera is inconsistent about whether a carriage return is one character or two.
      var len = $el.val().length * 2;

      // Timeout seems to be required for Blink
      setTimeout(function() {
        el.setSelectionRange(len, len);
      }, 1);

    } else {

      // As a fallback, replace the contents with itself
      // Doesn't work in Chrome, but Chrome supports setSelectionRange
      $el.val($el.val());

    }

    // Scroll to the bottom, in case we're in a tall textarea
    // (Necessary for Firefox and Chrome)
    this.scrollTop = 999999;

  });

};

(function() {

  var searchInput = $("#search");

  searchInput
    .putCursorAtEnd() // should be chainable
    .on("focus", function() { // could be on any event
      searchInput.putCursorAtEnd()
    });

})();


</script>
{% endblock jsscript %}