{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
    <style type="text/css">

    .form-group{
            width:100%;
    }
    .tab-content {
    padding-left: 20px
    }
    </style>
{% endblock head %}

{% block content %}



    <div class="blank">
        <div class="grid-form1">
            <div class="row show-grid">
                <div class="col-sm-6">
                    <div class="pull-right">
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Added date and time</th>
                                    <th>Employee</th>
                                    <th>Customer</th>
                                    <th>Service</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dateobj in upcoming_appoinments %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ dateobj.appointment_date_time.date }}, {{ dateobj.appointment_date_time.time }}</td>
                                        <td>{{ dateobj.employee }}</td>
                                        <td>{{ dateobj.customer }}</td>
                                        <td>{{ dateobj.service }}</td>
                                        <td>
                                        {% if dateobj.status == 'new' %}
                                            <button type="button" class="btn btn-pill btn-primary">New</button>
                                        {% elif dateobj.status == 'started' %}
                                            <button type="button" class="btn btn-pill btn-danger">Started</button>
                                        {% elif dateobj.status == 'ongoing' %}
                                            <button type="button" class="btn btn-pill btn-warning">Ongoing</button>
                                        {% elif dateobj.status == 'completed' %}
                                            <button type="button" class="btn btn-pill btn-success">Completed</button>
                                        {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">No Appoinments</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsscript %}
<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        var $date_inputs = $('.tdate')
        var date_format = 'YYYY-MM-DD';
        $date_inputs.daterangepicker({
            singleDatePicker: true,
        autoUpdateInput: false,
        // minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
            // calender_style: "picker_4",
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });

        $date_inputs.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });

        $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
      });


    $("#location").select2({

        });

</script>

<script>

</script>

{% endblock jsscript %}