<template src='./detail.template.html'></template>

<script>
import Items from './items.vue'
import Activities from './activities.vue'
import { mapGetters } from 'vuex'

export default {
	name: 'enquiry-detail',
	// name: 'edit-enquiry',
	data() {
		return {
			
		}
	},

	components: { 
		Items,
		Activities,
	},

	computed: {
		enquiry(){
			return this.copy(this.$store.state.enquiryModel.enquiry)
		},
		...mapGetters({
			choices: 'choices',
		}),
	},  

	created(){
		console.log('created enquiry detail')
		this.$store.dispatch('getEnquiry', this.$route.params.id )

	},

	methods: {
		copy(obj){
			return JSON.parse(JSON.stringify(obj))
		},
		set_enquiry(){
			if(this.enquiry.id){
				this.$http.get('/api/enquiries/' + this.editEnquiry.id +'/')
				.then(response => {
					var enquiry = response.data
					this.enquiry = enquiry
				})
				.catch(error => {
					console.log(error)
				})
			}
		},

		set_defaults(){
			if(!this.enquiry.type)
				this.enquiry.type = this.choices.default_type[0]
			if(!this.enquiry.status)
				this.enquiry.status = this.choices.default_status[0]
		},
		

		saveEnquiry: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/enquiries/'
			if (this.enquiry.id){
				url += this.enquiry.id + '/'
				method = 'PUT'
			}
			// console.log(vm.formData())
			this.http({
				method: method,
				url: url,
				data: this.formData()
			})
			.then( response =>  {
				console.log(response)
				this.$validator.errorBag.clear()
				this.$emit('enquiry_saved', response.data, response.statusText)
				// this.enquiries.push(response.data)
				// vm.new_enquiry = {}
			})
			.catch( error =>  {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.handle_validation_errors(error.response.data)
				}
			})
		},

		formData() {
			return { 
				'type': this.enquiry.type,
				'status': this.enquiry.status,
				'note': this.enquiry.note,
				'follow_up_date': this.enquiry.follow_up_date,
				'reason_for_lost': this.enquiry.reason_for_lost,
				'customer': this.enquiry.customer,
				'items': this.format_items(),
				'activities': this.enquiry.activities.length ? this.enquiry.activities : null ,
				'amount': this.enquiry.amount
			}
		},

		format_items(){
			if (this.enquiry.items.length == 0)
				return null
			var items = this.enquiry.items.map((item) => {
				let i = Object.assign({}, item)
				i['product'] = item.product.id
				return i
			})
			return items
		},

		delete_enquiry(){
			if(confirm('Delete enquiry for ' + this.enquiry.customer.name)){
				this.$store.dispatch('deleteEnquiry', this.enquiry.id)
					.then(() => {
						this.$router.go('/')
					})
			}

		},

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		}
	}
}
</script>