<template>
	<select>
		<option></option>
	</select>
		
</template>

<script>
// selector.append($("<option>", {value:"", text:"--"}))
import $ from "jquery"
import "select2"

export default {
	props: ["options", "value"],
	mounted: function () {
		var vm = this
		var select2 = $(this.$el)
			
			// init select2
			.select2({ 
				data: this.options,
				placeholder: "Select a product",
				allowClear: true
			})
			// emit event on change.
			.on("change", function () {
				console.log(this.value)
				vm.$emit("input", this.value)
			})
		select2.val(this.value).trigger("change")
	},
	computed:{
		// options(){
		// 	debugger
		// 	return this.options.map(options => {
		// 		return {id: options.id, text: options.name}
		// 	})
		// }
	},
	watch: {
		value: function (value) {
			console.log(value)
			$(this.$el).val(value).trigger("change")
		},
		options: function (options) {
			// update options
			console.log(options)
			$(this.$el).select2({ 
				data: options,
				placeholder: "Select a product",
				allowClear: true
			})
		}
	},
	destroyed: function () {
		$(this.$el).off().select2("destroy")
	}
}

</script>