{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row show-grid">
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'salary:view_SalaryRules' %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12" align="left">
		 		{% if type == 'add' %}
		 			<h3 align="left">Add Salary Rules</h3>
		 		{% elif type == 'edit' %}
		 			<h3 align="left">Edit Salary Rules</h3>
		 		{% endif %}
		 	</div>
		</div>
 	     <div class="row">
			<div class="col-sm-12">
				{{ form.non_field_errors }}
				{{ form.field_errors }}
			</div>
		</div>
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}

					<div class="form-group">
						<label for="employee" class="col-sm-2 col-xs-12 control-label">Designation<span class="req">*</span></label>
						<div class="col-sm-8 col-xs-12">
							{{ form.designation }}{{ form.designation.errors }}
						</div>
					</div>

					
					<div class="form-group">
						<label for="basic_pay_daily" class="col-sm-2 control-label col-xs-12">Hourly Amount<span class="req">*</span></label>
						<div class="col-sm-8">
							{{ form.basic_pay }}
							{{ form.basic_pay.errors }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>
				</form>
			</div>
		</div>			
	</div>
</div>

{% endblock content %}
{% block jsscript %}
<script type="text/javascript">
	

	$("#deductions").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});

</script>


{% endblock jsscript %}