{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
    <style>
    
    </style>
{% endblock head %} {% block content %}
<div>
    <div class="block">
        <a href="{% url 'salary:single_salary' monthly_salary.pk%}">Back</a>
        <div class="row show-grid">
            <div class="col-xs-12 col-sm-10 col-md-10">
                
                <h3>{{ request.user.employee }} - {{ monthly_salary.date }}</h3>
            </div>
           
        </div>
        <div class="row show-grid">
            <div class="col-sm-9 col-md-9 col-xs-12" align="left">
                <mark># {{request.user.employee.code}} </mark>
                
            </div>
            
            
        </div>
    </div>
</div>
<div class="block">
    
    <div class="row show-grid">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h4>Salary Edit</h4>
            </div>

        </div>
        <div class="row">
        <div class="col-sm-12">
                {{ form.non_field_errors }}
                {{ form.field_errors }}
        </div>
        </div>
        <div class="row">
            
            <div class="col-sm-8 col-xs-12">
                <div class="table-responsive">
                <form method="post" action="{{ form_url }}">{% csrf_token %}
                <table class="table table-bordered" style="margin-top:18px;">
                    <thead>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tfont">House Rent Allowances{{form.house_rent_allowances.errors}}</th>
                            <th>{{form.house_rent_allowances}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Miscellaneous Allowances{{ form.miscellaneous_allowances.errors }}</th>
                            <th>{{ form.miscellaneous_allowances }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">TA Allowances{{form.ta_allowances.errors}}</th>
                            <th>{{form.ta_allowances}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Sales Reimbursemnet{{form.sales_reimbursement.errors}}</th>
                            <th>{{form.sales_reimbursement}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Other Additions{{ form.other.errors }}</th>
                            <th>{{ form.other }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">incentives{{ form.incentives.errors }}</th>
                            <th>{{ form.incentives }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Deduction{{ form.deductions.errors }}</th>
                            <th>{{ form.deductions }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Fine{{ form.fine.errors }}</th>
                            <th>{{ form.fine }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Overtime{{ form.overtime.errors }}</th>
                            <th>{{ form.overtime }}</th>
                        </tr>
                        
                        
                        <tr>
                            <th class="tfont"></th>
                            <th><input type="submit" name="" value="Update" class="btn btn-primary"></th>
                        </tr>
                        
                        
                    </tbody>
                </table>
                </form>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
</div>

{% endblock content %}
{% block jsscript %}
<script type="text/javascript">
    

    $("#deductions").select2({
        maximumSelectionLength: 10,
        allowClear: true,

        });

</script>


{% endblock jsscript %}