{% extends "erp_admin/base.html" %}
{% load static util %}

{% block title %} Salary Details - {{ month_year }}{% endblock title %}
{% block head %}
<style type="text/css">
	
	.form-group{
		width:100%;
	}
	.tab-content {
	padding-left: 15px;
	}
	
	th , td{
		text-align:center;
	}
	.am{
		color:#000000;
		font-size:15px;
	}
	.sal{
		font-size:20px;
	}
	
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
            <a href="{% url 'salary:monthly_salary_details' %}" style="padding-left:20px;"> Back</a>
        </div>
		<div class="row">
			<div class="col-sm-11 col-xs-8">
				<h3>Salary Details</h3>
			</div>
			<div class="col-sm-1 col-xs-4">
				<a onclick="printDiv()" target="__blank"> <i class="fa fa-print fa-fw"></i></a>
			</div>
		</div>
		<p align="right">
				{% if monthly_salary.paid == False %}
				   <a href="{% url 'salary:pay_salary' monthly_salary.pk %}" class="btn btn-primary">
				   <i class="fa fa-arrow-up">
				   	</i> 
				    Make Paid
				   </a>
				{% endif %}
		</p>
		   

			
		</div>
		
</div>

<div class="blank" id="print_salary_details">
	<div class="grid-form1">
		<div class="col-sm-12" style="padding:20px;">
			<p style="font-size: 24px;text-align: center;color: #000;">Salary Details  
			{% if employee %} of {{employee}} {% endif %}
			{% if date %}
			- {{date.month}}/{{ date.year }} 
			{% endif %}
			</p>
		</div>
		<div class="row show-grid">
			<div class="col-sm-12">
				<div class="table-responsive">
				{% if timesheets %}
					<table class="table table-bordered">
						<thead>
							<th>Date</th>
							<th>Normal  Hours</th>
							<th>Over Time Hours</th>
							<th>Total Hours</th>
						</thead>
						
						{% for timesheet in timesheets %}
							<tr>
								<td>{{ timesheet.date|date:'d/m/y' }}</td>
								<td>
									{{timesheet.calculateNormalHours}}
								</td>
								<td>
									{{timesheet.overtimeHours}}
								</td>
								<td>
								{{timesheet.totalHoursPerDay}}
								</td>

							</tr>
							
							
						{% endfor %}
						<tr>
							<td>Total</td>
							<td>{{total_hours|calculateTime}}</td>
							<td>{{over_time_hours|calculateTime}}</td>
							<td>{{total_working_hours|calculateTime}}</td>
						</tr>
						<tr>
							<td><span class="am">Amount</span></td>
							<td><span class="am">{{normal_wage}}</span></td>
							<td><span class="am">{{overtime_wage}}</span></td>
							<td><span class="am">{{total_wage}}</span></td>
						</tr>


					</table>
					{% endif %}
					

 
					    {% if travelling_expense %}
					    
						    <table class="table table-bordered" style="margin-top:5%!important;">
							    <thead>
								    <tr>
									    <th>Date</th>
									    <th>Travelling Expense</th>
									</tr>
								</thead>
								<tbody>
								{% for travelling_expense in travelling_expense %}
									<tr>
									    <td>{{travelling_expense.date}}</td>
									    <td>{{travelling_expense.amount}}</td>
									</tr>
								{% endfor %}
									<tr>
									    <td><span class="am">Total</span></td>
									    <td><span class="am">{{total_expense}}</span></td>
									</tr>
								</tbody>
						    </table>
					   {% endif %}
					    {% if advance_payments %}
						    <table class="table table-bordered" style="margin-top:5%!important;">
							    <thead>
								    <tr>
								    <th>Date</th>
								    <th>Adavnce Amount</th>
								    </tr>
								</thead>
								{% for advance_payment in advance_payments %}
									<tr>
									    <td>{{advance_payment.date}}</td>
									    <td>{{advance_payment.amount}}</td>
									</tr>
								{% endfor %}
								<tr>
									    <td><span class="am">Total</span></td>
									    <td><span class="am">{{total_advance}}</span></td>
								</tr>
						    </table>
					{% endif %}

					{% if timesheets %}
		
						<table class="table table-bordered" style="margin-top:5%!important;">
						    <thead>
							    <tr>
							    <th><span class="sal">Salary : <i class="fa fa-inr"></i> {{salary}} </span></th>
							    </tr>
							</thead>
						</table>
					  
					
				  {% endif %}


				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
$('.tdate').daterangepicker({
"singleDatePicker": true,
"timePicker": true,
locale: {
format: 'MMMM YYYY',
},
// calender_style: "picker_4",
"showDropdowns": false
}, function(start, end, label) {
});
$('#month_year').daterangepicker({
"singleDatePicker": true,
autoUpdateInput: true,
locale: {
format: 'MMMM YYYY',
},
// calender_style: "picker_4",
"showDropdowns": false


}, function(start, end, label) {
});
var $date_inputs = $('.date');
var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
       
    });

    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });


$(".js-data-employee-ajax").select2({
	ajax: {
	url: "/employee/select_list/",
	dataType: 'json',
	delay: 250,
	data: function (params) {
	return {
	employee_name: params.term, // search term
	};
	},
	processResults: function (data) {
	// parse the results into the format expected by Select2
	// since we are using custom formatting functions we do not need to
	// alter the remote JSON data, except to indicate that infinite
	// scrolling can be used
	
	return {
	results: data,
	};
	},
	cache: true
	},
	escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
	minimumInputLength: 3,
	});
});
</script>
<script type="text/javascript">
function printDiv() {
var printContents = document.getElementById('print_salary_details').innerHTML;
var originalContents = document.body.innerHTML;
document.body.innerHTML = printContents;
window.print();
document.body.innerHTML = originalContents;
}
</script>
{% endblock jsscript %}