{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
	<style type="text/css">
		.calendar-time{
			display: none!important;}
		.form-group{
			width:100%;
		}
		.tab-content {
    padding-left: 20px;
}
		
	</style>
{% endblock head %}
{% block content %}
	<div class="blank">
		<div class="grid-form1">
			<div class="row">
                <a href="{% url 'salary:dashboard' %}" style="padding-left:30px;"> Back</a>
            </div>
			<div class="row show-grid">
				<div class="col-sm-12">
					<h3 align="left">Generate Salary</h3>
				</div>
			</div>
			<div class="tab-content">
				<div class="tab-pane active" id="horizontal-form">
					<form class="form-horizontal form-inline" action="" method="post" >
						{% csrf_token %}
						
						<div class="row show-grid">
							<div class="col-sm-5 col-xs-12">
								<div class="form-group" >
									<select name="employee" class="form-control js-data-example-ajax" required="required">
										<option value="" selected="selected">Select Employee</option>
									</select>
									
								</div>
							</div>
							<div class="col-sm-5 col-xs-12">
								<div class="form-group">
									<!-- <input type="text" name="month_year" class="form-control tdate" required="required"> -->
									<input type="text" name="date" class="form-control tdate" required="required">

								</div>
							</div>
							<div class="col-sm-2 col-xs-12">
								<div class="form-group">

									<input type="submit" name="Generate" class="btn btn-primary" value="Generate">
								</div>
							</div>
						</div>
						
					</form>
				</div>
			</div>
			
			
			
		</div>
	</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

	<script>
	$(document).ready(function() {
	$(".js-data-example-ajax").select2({
	ajax: {
	url: "/employee/select_list/",
	dataType: 'json',
	delay: 250,
	data: function (params) {
	return {
	employee_name: params.term, // search term
	};
	},
	processResults: function (data) {
	// parse the results into the format expected by Select2
	// since we are using custom formatting functions we do not need to
	// alter the remote JSON data, except to indicate that infinite
	// scrolling can be used
	console.log(data);
	return {
	results: data,
	};
	},
	cache: true
	},
	escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
	minimumInputLength: 3,
	});
	
	});
	
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
        $('.tdate').daterangepicker({
          "singleDatePicker": true,
          "timePicker": true,


          locale: {
            // format: 'MMMM YYYY',
            format: 'YYYY-MM-DD'
          },

          // calender_style: "picker_4",
          "showDropdowns": false
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
	</script>
{% endblock jsscript %}