
<html>
{% load staticfiles %}
<head>

<style>
.row{
  
}
.pd_size{
  font-size:15px;

}
th,td{
  padding:5px;
}

</style>

<!-- <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' /> <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
 -->    <!-- Custom Theme files -->
<!-- <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/custom.css' %}" rel="stylesheet">
 --></head>

<body>





<section>

  <div class="container">

    <div class="row">
        <div class="col-md-12">
        <p style="font-size:40px;" align="center">Pay Roll</p>
        </div>
    </div>
    {% if monthly_salary.paid_date %}
      <div class="row">
          <div class="col-md-12">
          <p class="pd_size" align="right"><strong>Paid Date : {{monthly_salary.paid_date}} </strong></p>
          </div>
      </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
        <p class="pd_size" align="right"><strong>{{monthly_salary.date}} </strong></p>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <h4 style="font-size:20px;">Employee : {{monthly_salary.employee}}  </h4>
        </div>
    </div>
  </div>

</section>

<section>
  <div class="container">
     <div class="row">
        <div class="col-sm-12 col-xs-12" style="">

        <h3 style="font-size:20px;">Details</h3>
            <table class="table" border="1" style="margin-top:20px;font-size:18px;">
              <thead>
                  
              </thead>
              <tbody>

                  <tr>
                      <td> Basic Pay</td>
                      <td>Rs {{ monthly_salary.basic_pay}}</td>
                  </tr>
                  <tr>
                      <td>House Rent Allowances</td>
                      <td>Rs {{monthly_salary.house_rent_allowances}}</td>
                  </tr>
                  <tr>
                      <td>Miscellaneous Allowances</td>
                      <td>Rs {{ monthly_salary.miscellaneous_allowances }}</td>
                  </tr>
                  <tr>
                      <td>TA Allowances</td>
                      <td>Rs {{monthly_salary.ta_allowances}}</td>
                  </tr>
                  <tr>
                      <td>Sales Reimbursemnet</td>
                      <td>Rs {{monthly_salary.sales_reimbursement}}</td>
                  </tr>
                  <tr>
                      <td>Other Additions</td>
                      <td>Rs {{ monthly_salary.other }}</td>
                  </tr>
                  <tr>
                      <td>Incentives</td>
                      <td>Rs {{ monthly_salary.incentives }}</td>
                  </tr>
                  <tr>
                      <td>Deductions</td>
                      <td>{% for deduction in monthly_salary.deductions.all %}{{ deduction }} - Rs {{ deduction.value }}<br>{% endfor %}</td>
                  </tr>
                  <!-- <tr>
                      <td>Deduction Amount</th>
                      <th>Rs {{monthly_salary.deduction_amount}}</th>
                  </tr>
                   -->
                    <tr>
                            <td>Overtime Amount</td>
                            <td>Rs {{ monthly_salary.overtime }}</td>
                    </tr>
                  <tr>
                      <td>Fine</td>
                      <td>Rs {{monthly_salary.fine}}</td>
                  </tr>
                  <tr>
                      <td>Total Salary</td>
                      <td>Rs {{ monthly_salary.amount }}</td>
                  </tr>
                  <tr>
                            <td>Total Salary</td>
                            <td>Rs {{ monthly_salary.amount }}</td>
                        </tr>
                 
                  
                  
              </tbody>
                    
            </table>
        </div>

        <div class="col-sm-12 col-xs-12 " style="">
          <br>
          <p><label style="font-size: 15px;">Date</label>:</p>
          <p><label style="font-size: 15px;">Signature</label>:</p>

        </div>

                            
      </div>

    </div>
</section>
    
    
</body>
</html>