{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
    <style>
    </style>
{% endblock head %} {% block content %}
<div>
    <div class="block">
        <a href="{% url 'salary:generate_salary' %}">Back</a>
        <div class="row show-grid">
            <div class="col-xs-12 col-sm-10 col-md-10">
                
                <h3>{{ monthly_salary.employee }} - {{ monthly_salary.date}}</h3>
            </div>
            <div class="col-xs-12 col-md-2 col-sm-2">
                <div class="dropdown" style="padding: 18px!important;">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select More<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'salary:generate_pay_roll_pdf' monthly_salary.id %}" target="_blank" >Generate Pay Roll</a></li>
                        {% if not monthly_salary.paid %}<li><a href="{% url 'salary:edit_monthly_salary' monthly_salary.pk %}">Edit</a></li>{% endif %}
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-xs-12 col-sm-3 col-md-3" align="left">
                <mark># {{request.user.employee.code}} </mark>
                
            </div>
            <div class="col-xs-12 col-md-9 col-sm-9">
            {% if monthly_salary.paid %}
                <mark class="marl_color">Paid</mark>
            {% else %}
                <mark class="status-rejected">Not Paid</mark>
            {% endif %}
                    
            </div>
            
        </div>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        
            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Created Date: {{ monthly_salary.created_at | date }}
                </span>
            </div>
            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Last Update: {{monthly_salary.updated_at | date }}
                </span>
            </div>
        
        
    </div>
    <div class="row show-grid">
        
            <div class="col-sm-8 col-xs-12">
                <h4>Salary Details</h4>
            </div>
    </div>
    <div class="row show-grid">
            
            <div class="col-sm-8 col-xs-12">
                <div class="table-responsive">
                <table class="table table-bordered" >
                    <thead>
                        
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tfont"> Basic Pay</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.basic_pay}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">House Rent Allowances</th>
                            <th><i class="fa fa-inr"></i>{{monthly_salary.house_rent_allowances}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Miscellaneous Allowances</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.miscellaneous_allowances }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">TA Allowances</th>
                            <th><i class="fa fa-inr"></i>{{monthly_salary.ta_allowances}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Sales Reimbursemnet</th>
                            <th><i class="fa fa-inr"></i>{{monthly_salary.sales_reimbursement}}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Other Additions</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.other }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Incentives</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.incentives }}</th>
                        </tr>
                        <tr>
                            <th class="tfont">Deductions</th>
                            <th>{% for deduction in monthly_salary.deductions.all %}{{ deduction }} - <i class="fa fa-inr"></i>{{ deduction.value }}<br>{% endfor %}</th>
                        </tr>
                       <!--  <tr>
                            <th class="tfont">Deduction Amount</th>
                            <th><i class="fa fa-inr"></i>{{monthly_salary.deduction_amount}}</th>
                        </tr> -->
                        <tr>
                            <th class="tfont">Fine Amount</th>
                            <th><i class="fa fa-inr"></i>{{monthly_salary.fine}}</th>
                        </tr>

                        <tr>
                            <th class="tfont">Overtime Amount</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.overtime }}</th>
                        </tr>
                        
                        <tr>
                            <th class="tfont">Total Salary</th>
                            <th><i class="fa fa-inr"></i>{{ monthly_salary.amount }}</th>
                        </tr>
                        
                    </tbody>
                </table>
                </div>
            </div>
    </div>
    <div class="row" align="right">
            {% if not monthly_salary.paid %}
                <a data-toggle="modal" data-target="#myModal" class="btn btn-primary">Make as Paid</a>
            {% endif %}<br>

    </div>
        
</div>
    
</div>
</div>
<!-- Modal content-->
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Payment Date</h4>
        </div>
        <form action="{% url 'salary:pay_salary' monthly_salary.pk %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
            <input type="text" name="date" class="form-control tdate">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" >Submit</button>
        </div>
        </form>
    </div>
</div>
</div>
<!--Modal end -->

{% endblock content %}
{% block jsscript %}

<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/daterangepicker.js" %}"></script>
<script type="text/javascript">
        $(document).ready(function() {
        $('.tdate').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,


          locale: {
            format: 'YYYY-MM-DD',
          },

          // calender_style: "picker_4",
          "showDropdowns": false
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>
{% endblock jsscript %}