{% extends "erp_admin/base.html" %}
{% load static %}
{% block title %} Salary Details - {{ month_year }}{% endblock title %}
{% block head %}
<style type="text/css">
	
	.form-group{
		width:100%;
	}
	.tab-content {
	padding-left: 15px;
	}
	
	th , td{
		text-align:center;
	}
	
</style>
{% endblock head %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Filtersoo</h4>
			</div>
			<div class="modal-body">
				<form action="{% url 'salary:monthly_salary_details' %}" method="get">
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label">{{ filter.form.employee.label }}</label>
								{{ filter.form.employee }}
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label">{{ filter.form.paid_date.label }}</label>
								{{ filter.form.paid_date }}
							</div>
						</div>
					</div>
					<div class="row">
						
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label">{{ filter.form.month_year.label }}</label>
								{{ filter.form.month_year }}
							</div>
						</div>
				
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label">{{ filter.form.paid.label }}</label>
								{{ filter.form.paid }}
							</div>
						</div>
					</div>

					<div class="clearfix"></div>
					<div class="col-sm-12">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>
<div class="blank">
	<div class="grid-form1">
		<div class="row">
            <a href="{% url 'salary:dashboard' %}" style="padding-left:20px;"> Back</a>
        </div>
		<div class="row">
			<div class="col-sm-11 col-xs-8">
				<h3>Salary Details</h3>
			</div>
			<div class="col-sm-1 col-xs-4">
				<a onclick="printDiv()" target="__blank"> <i class="fa fa-print fa-fw"></i></a>
			</div>
		</div>
		<div class="row" align="right">
			
			
			<div class="col-xs-6 col-sm-1 col-md-11">
				<a data-toggle="modal" data-target="#filter-modal" class="btn btn-primary">
					<i class="fa fa-filter" aria-hidden="true"></i>
				</a>
				
			</div>
			<div class="col-xs-6 col-sm-2 col-md-1">
				
				<a href="{% url 'salary:monthly_salary_details' %}" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i>
				</a>
				
			</div>
		</div>
		
		
		
	</div>
</div>

<div class="blank" id="print_salary_details">
	<div class="grid-form1">
		<div class="col-sm-12" style="padding:20px;">
			<p style="font-size: 24px;text-align: center;color: #000;">Salary Details - {{ month_year }} </p>
		</div>
		<div class="row show-grid">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<th>Employee</th>
							<th>Amount </th>
							<th>Date</th>
							<th>Paid</th>
							<th>Paid Date </th>
						</thead>
						
						{% for salary_detail in salary_details %}
							<tr>
								<td><a href="{% url 'salary:generate_monthly_salary' salary_detail.employee.pk salary_detail.date %}">{{ salary_detail.employee }}</a></td>
								<td><i class="fa fa-inr"></i>{{ salary_detail.amount }}</td>
								<td>{{ salary_detail.date }}</td>
								<td>
									{% if salary_detail.paid %}
										<span><mark class="marl_color"> PAID </mark></span>
									{% else %}
										<span><mark class="status-rejected"> NOT PAID </mark></span>
									{% endif %}
								</td>
								<td>
									{% if salary_detail.paid_date %}
										{{ salary_detail.paid_date }}
									{% endif %}
								</td>
							</tr>
							{% empty %}
							<tr>
								<td colspan="5">No Salary Details</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
$('.tdate').daterangepicker({
"singleDatePicker": true,
"timePicker": true,
locale: {
format: 'MMMM YYYY',
},
// calender_style: "picker_4",
"showDropdowns": false
}, function(start, end, label) {
});
$('#id_month_year').daterangepicker({
"singleDatePicker": true,
autoUpdateInput: true,
locale: {
format: 'MMMM YYYY',
},
// calender_style: "picker_4",
"showDropdowns": false


}, function(start, end, label) {
});
var $date_inputs = $('.date');
var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
       
    });

    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });


$(".js-data-employee-ajax").select2({
	ajax: {
	url: "/employee/select_list/",
	dataType: 'json',
	delay: 250,
	data: function (params) {
	return {
	employee_name: params.term, // search term
	};
	},
	processResults: function (data) {
	// parse the results into the format expected by Select2
	// since we are using custom formatting functions we do not need to
	// alter the remote JSON data, except to indicate that infinite
	// scrolling can be used
	
	return {
	results: data,
	};
	},
	cache: true
	},
	escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
	minimumInputLength: 3,
	});
});
</script>
<script type="text/javascript">
function printDiv() {
var printContents = document.getElementById('print_salary_details').innerHTML;
var originalContents = document.body.innerHTML;
document.body.innerHTML = printContents;
window.print();
document.body.innerHTML = originalContents;
}
</script>
{% endblock jsscript %}