{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
    <style type="text/css">
        
    .form-group{
            width:100%;
    }
    .tab-content {
    padding-left: 20px 
    }
    </style>
{% endblock head %}

{% block content %}
    


    <div class="blank">
        <div class="grid-form1">
            <div class="row">
                <a href="{% url 'salary:dashboard' %}" style="padding-left:30px;"> Back</a>
            </div>
            <div class="row show-grid">
                <div class="col-sm-10 col-xs-12">
                    <h3 align="left">Salary Rules</h3>
                </div>
                <div class="col-sm-2 col-xs-12">
                <a href="{% url 'salary:add_SalaryRules' %}" class="btn btn-success "> Add Salary Rules</a>
                </div>
            </div>
                    <form action="" method="post" >
                        {% csrf_token %}
                        
                        <div class="row show-grid">
                            <div class="col-xs-12 col-sm-12 col-md-8">
                                
                                    <select id="designation" name="designation" class="form-control js-data-designation-ajax" required="required">
                                        <option value="" selected="selected">Select Designation</option>
                                    </select> 
                                    
                                
                            </div>
                            <div class="col-xs-6 col-sm-2 col-md-2">
                                
                                    <input type="submit" name="Search" class="btn btn-primary" value="Search">
                                
                            </div>
                            
                            <div class="col-xs-6 col-sm-2 col-md-2">
                                
                                    <a href="{% url 'salary:view_SalaryRules' %}">
                                      <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </a>
                                
                            </div>
                        </div>
                    </form>
                


            <div class="row show-grid">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Designation</th>
                                    <th>Salary/Hour</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for salaryrule in salaryrules %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ salaryrule.designation.name }}</td>
                                        <td><i class="fa fa-inr"></i>{{ salaryrule.basic_pay }}</td>

                                        
                                        <td>
                                            <a href="/salary/edit_rule/{{salaryrule.id}}/"><i class="fa fa-edit"></i>
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5">No Salary Rules</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{ pagination|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
        
        $(".js-data-designation-ajax").select2({
        ajax: {
        url: "/company/select_designation/",
        dataType: 'json',
        delay: 250,
        data: function (params) {
        return {
        designation_name: params.term, // search term
        };
        },
        processResults: function (data) {
        // parse the results into the format expected by Select2
        // since we are using custom formatting functions we do not need to
        // alter the remote JSON data, except to indicate that infinite
        // scrolling can be used
        console.log(data);
        return {
        results: data,
        };
        },
        cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 2,
        });

      });
    </script>
    
{% endblock jsscript %}