{% load sitetree %}
{# {{sitetree_items}} #}
{# {{account}} #}
{# {{trunk.children}} #}
{% for item in sitetree_items %}
    <li class="{% if item.has_children %}dropdown{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
        <a href="{% if item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}" {% if item.has_children %}class="dropdown-toggle  dropdown-at" data-toggle="dropdown"{% endif %}>
            <span class="name-caret">{{ item.title_resolved }}
            </span>
            {% if item.has_children %}<b class="caret"></b>{% endif %}

            <span style="display: inline-block; width: 30px; min-height: 60px; vertical-align: middle; margin-left: 10px;"></span>
        </a>
        {% if item.has_children %}
            {% sitetree_children of item for menu template "erp_admin/menu-dropdown.html" %}
        {% endif %}
    </li>
{% endfor %}