{% load sitetree %}
{% load static %}

<div class="modal fade" id="filter-modal-logout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'account_logout' %}">{% csrf_token %}
            <div class="col-sm-6">
                <div class="form-group">
                    Are you sure you want to logout?
                </div>
            </div>
            <div class="clearfix"></div>
            <button style="margin:15px!important;" type="submit" class="btn btn-primary">Yes</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header" style="margin: 1px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1 style="margin: 0px;"> <a class="navbar-brand" href="/"><img src="{% static 'images/jawdrop.png' %}" class="img img-responsive"></a></h1>
    </div>
    <div class=" border-bottom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <button type="button" class="btn btn-primary"  class="pull-right" data-toggle="modal" data-target="#filter-modal-logout" style="margin: 13px;float: right;background-color: #461669!important;border-color: #461669!important;">
            {{request.user}}&nbsp;
            <i class="fa fa-sign-out"></i>
            <span class="nav-label">Logout</span>
        </button>

        <!-- /.navbar-collapse -->
        <div class="clearfix">
        </div>
        <div class="navbar-default sidebar" role="navigation" id="navside">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                     {% if request.user.employee.primary_designation.name == 'Qusais_Admin' %}
                        {% sitetree_menu from "sidebar_qusais_admin" include "trunk" template "erp_admin/sidebar_menu.html" %}

                    {% else %}

                    {% sitetree_menu from "sidebar" include "trunk" template "erp_admin/sidebar_menu.html" %}


                    <li id="Profile" class=" ">
                        <a href=" /employee/{{ request.user.employee.code}}/profile/" class="hvr-bounce-to-right ">
                                <i class="fa fa-male nav_icon"></i>&nbsp;
                            <span class="nav-label">Profile</span>
                        </a>
                    </li>

                    <li id="Settings" class=" ">
                        <a href=" /admin/" class="hvr-bounce-to-right ">
                                <i class="fa fa-suitcase nav_icon"></i>&nbsp;
                            <span class="nav-label">Admin Settings</span>
                        </a>
                    </li>

                    <li id="Password" class=" ">
                        <a href=" /accounts/password/change/" class="hvr-bounce-to-right ">
                                <i class="fa fa-lock nav_icon"></i>&nbsp;
                            <span class="nav-label">Change Password</span>
                        </a>
                    </li>

                     {% endif %}

                </ul>
            </div>
        </div>
    </div>
</nav>
