{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style >
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %} 

{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'expense:view_SalesReimbursement' user.employee.id %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Add Sales Reimbursement</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Sales Reimbursement</h3>
		 		{% endif %}
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ form.non_field_errors }}
				{{ form.field_errors }}

					<div class="form-group">
						<label for="photo" class="col-sm-2 col-xs-12 control-label">Title<span class="req">*</span></label>{{ form.title.errors }}
						<div class="col-sm-8 col-xs-12">
							{{ form.title }}
						</div>
					</div>
					<div class="form-group">
						<label for="photo" class="col-sm-2 col-xs-12 control-label">Photo<span class="req">*</span></label>{{ form.photo.errors }}
						<div class="col-sm-8 col-xs-12">
							{{ form.photo }}
						</div>
					</div>
		
					<div class="form-group">
						<label for="date_and_time" class="col-sm-2 control-label col-xs-12">Date and Time</label>{{ form.date_and_time.errors }}
						<div class="col-sm-8">
							{{ form.date_and_time }}
						</div>
					</div>
					
					<div class="form-group">
						<label for="reimbursement_type" class="col-sm-2 control-label col-xs-12">Reimbursment Type<span class="req">*</span></label>{{ form.reimbursement_type.errors }}
						<div class="col-sm-8">
							{{ form.reimbursement_type }}
						</div>
					</div>								
					
					<div class="form-group">
						<label for="amount" class="col-sm-2 control-label col-xs-12">Amount<span class="req">*</span></label>{{ form.amount.errors }}
						<div class="col-sm-8">
							{{ form.amount }}
						</div>
					</div>

					<div class="form-group">
						<label for="enquiry" class="col-sm-2 control-label col-xs-12">Enquiry<span class="req">*</span></label>{{ form.enquiry.errors }}
						<div class="col-sm-8">
							{{ form.enquiry }}
						</div>
					</div>

					<div class="form-group">
						<label for="activity" class="col-sm-2 control-label col-xs-12">Activity<span class="req">*</span></label>{{ form.activity.errors }}
						<div class="col-sm-8">
							{{ form.activity }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}



<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          timePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
</script>

<script>
// $(document).ready(function() {
//     var subtask_input = $("#id_sub_task");
//     var subtask = subtask_input.select2({
//       ajax: {
//         url: "/select_list/",
//         dataType: 'json',
//         delay: 250,
//         data: function (params) {
//           return {
//             subtask_code: params.term, // search term
//           };
//         },
//         processResults: function (data) {
//           // parse the results into the format expected by Select2
//           // since we are using custom formatting functions we do not need to
//           // alter the remote JSON data, except to indicate that infinite
//           // scrolling can be used
//           console.log(data);
//           return {
//             results: data,
//           };
//         },
//         cache: true
//       },
//       escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
//       minimumInputLength: 3,
//       // templateResult: formatRepo, // omitted for brevity, see the source of this page
//       // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
//     });
    
// });
</script>
{% endblock jsscript %}