{% extends "erp_admin/base.html" %} 
{% load static tz %} 
{% get_current_timezone as TIME_ZONE %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
mark {
    background-color:#f0ad4e;
    color:#ffffff;
}
</style>
{% endblock head %} 
{% block content %}

<div id="quotation-block" v-cloak>
    <div class="block">
        <a href="{% url 'expense:view_SalesReimbursement' user.employee.id %}">Back </a>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-8">
                    <h3>Sales Reimbursement</h3>
                </div>
                <div class="col-sm-4">
                    <p align="right">
                    	{% if salesreimbursement.isApproved %}
                     		<a href="" class="btn btn-success pull-right disabled">Approved</a>
	                    {% else %}
                    		<a href="{% url 'expense:approval_SalesReimbursement' pk %}" class="btn btn-success pull-right">Approve</a>  
	                    {% endif %}
                     </p>

                </div>
            </div>
        </div>
    </div>

    <div class="block">
    	
	    <div class="row show-grid">
	        <div class="row">
	        	
	            <div class="col-sm-6 col-xs-12" style="">
	                <span style="color:#d95459;font-size:20px;">
	                    Date and Time: {{ salesreimbursement.date_and_time | date }}
	                </span>
	            </div>
	            <div class="col-sm-6 col-xs-12">
	                <span style="color:#d95459;font-size:20px;" class="pull-right">
	                    Last Update: {{salesreimbursement.updated_at | date }}
	                </span>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-xs-12">
	        		<div class="col-sm-6 col-xs-12" style="">
	                
	                    <h4>Title : {{ salesreimbursement.title}}</h4> 
	               
	            </div>
	        	</div>
	        </div>
	        <div class="row" style="margin-top:30px;">

	            <div class="col-sm-4 col-xs-12" style="">
	                <h4>Reimbursement Type</h4>
	                <p>{{ salesreimbursement.reimbursement_type }}</p>
	            </div>
	            <div class="col-sm-3 col-xs-12">
	                <h4> Enquiry </h4>
	                <p style="margin-top:10px;"> {{ salesreimbursement.enquiry }} </p>
	            </div>
	            <div class="col-sm-3 col-xs-12">
	                <h4> Activity </h4>
	                <p>{{ salesreimbursement.activity }} </p>
	            </div>
	        </div>

	        <div class="row">
	            <div class="col-sm-3 col-xs-12" style="">
	                <h4>Photo:</h4>
	            </div>
	            <div class="col-sm-8 col-xs-12" style="">
	                <a href="/media/{{salesreimbursement.photo }}" data-lightbox="roadtrip">
					<img class="thumbnail img-responsive" src="/media/{{salesreimbursement.photo }}" alt="{{salesreimbursement.photo }}" width="500px" height="500px ">
					</a>
	            </div>
	        </div>
	        <div class="row" style="">
	        	<div class="col-sm-6 col-xs-12">
	        		<h4 style="color:#d95459;font-size:20px;">Amount :</h4>
	        	</div>
	        	<div class="col-sm-6 col-xs-12">
	        		<h4 style="color:#d95459;font-size:20px;">{{salesreimbursement.amount}}</h4>
	        	</div>
	        </div>
	    </div>
    </div>
</div>

{% endblock content %} 

{% block jsscript %}
	<script src="{% static 'js/lightbox.min.js' %}"></script>
	<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
{% endblock jsscript %}