{% extends "erp_admin/base.html" %}
{% load static guardian_tags %}
{% block head %}
<style type="text/css">
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;   
}
</style>
{% endblock head %} 
{% block content %}

<div class="blank">
    <div class="blank-page">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left:20px;">
                <a href="{% url 'sale:dashboard' %}">Back</a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <h2>Sales Reimbursement</h2>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-offset-1 col-md-4">
                    {% if perms.employee.reporting_officier %}
                        <a href="{% url 'expense:view_approvalSalesReimbursement' pk %}" class="btn btn-success"> Approval Sales Reimbursement</a>
                    {% endif %}
                </div>
                <div class="col-sm-4 col-xs-12 col-md-4">
                    <a href="{% url 'expense:add_SalesReimbursement' request.user.employee.pk %}" class="btn btn-success"> Add Sales Reimbursement</a>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-3">
                    <a href="{% url 'expense:view_SalesReimbursement' pk %}" class="btn btn-success"> Refresh </a>
                </div>

                
                
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
					  		<th>#</th>
					  		<th>Date and Time</th>
					  		<th>Reimbursement Type</th>
                            <th>Amount</th>
                            <th>Enquiry</th>
                            <th>Activity</th>
                            <th>View</th>
                            <th>Edit</th>    
                        </tr>
                    </thead>
                    <tbody>
                        {% for salesreimbursement in salesreimbursements %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
 							<td>{{salesreimbursement.date_and_time|date:'m/d/Y' }}</td>
                            <td>{{ salesreimbursement.reimbursement_type }}</td>
                            <td>{{salesreimbursement.amount }}</td>

                            <td>{{ salesreimbursement.enquiry }}</td>
                            <td>{{salesreimbursement.activity }}</td>
                            <td>
                                <a href="/expense/{{salesreimbursement.pk}}/detail" class="btn btn-link"> 
                                    <i class="fa fa-info-circle fa-fw"></i>View
                                </a>
                            </td>
 							<td>
                                {% if not salesreimbursement.isApproved %}
                                    <a href="{% url 'expense:edit_SalesReimbursement' pk salesreimbursement.pk %}"><i class="fa fa-edit"></i>
                                {% endif %}
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No Sales Reimbursement</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="pagination">
                {{ pagination|safe }}
            </div>
        </div>
    </div>
</div>


{% endblock %}