{% extends "erp_admin/base.html" %}
{% load static %}

{% block content %}
<div class="blank">
    <div class="grid-form1">
        <div class="row">
            <div class="col-sm-9">
                
            </div>
        </div>
        <div class="tab-content" id="p1">
            <div class="tab-pane active" id="horizontal-form">
                <label>Delete Receipt {{ receipt.code }}</label>
                <form style='display:inline;'  action="{{ form_url }}" method="post">
                    {% csrf_token %}
                    <button class="btn-primary btn-xs">Confirm</button>
                </form>
                <a href="{% url 'expense:bill:payment_term:receipt:list' receipt.payment_term.id %}">Cancel</a>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>

function attachDateRangePicker(input_date) {
    input_date.daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
        },
    }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
}
attachDateRangePicker($('.received_date'))
</script>


{% endblock jsscript %}