{% extends "erp_admin/base.html" %} {% load static %} {% block content %}

<div class="blank">
    <div class="grid-form1">
        <div class="row">
            <div class="col-sm-9">
                <a href="{% url 'expense:bill:detail' bill.id %}">Cancel</a>
            </div>
            <div class="col-sm-3">
                <a href="{#{% url 'expense:bill:payment_details' invoice.id %}#}">View Payment Details</a>
            </div>

        </div>
        <h3 style="margin-top:20px;">Receipt</h3>
        <div class="tab-content" id="p1">
            <div class="tab-pane active" id="horizontal-form">
                
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 control-label">Total Bill Amount</label>
                        <div class="col-sm-9">
                            {{ bill.get_amount }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 control-label">Balance To Be Paid</label>
                        <div class="col-sm-9">
                            {{ bill.balance }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 control-label">Payment Term</label>
                        <div class="col-sm-9">
                            {{bill_payment_term}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 control-label">Payment Term Amount</label>
                        <div class="col-sm-9">
                            {{bill_payment_term.amount}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-3 control-label">Payment Term Amount to be paid</label>
                        <div class="col-sm-9">
                            {{bill_payment_term.balance}}
                        </div>
                    </div>
              
                <form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Receipt Number</th>
                                <th>Amount</th>
                                <th>Receipt</th>
                                <th>Received Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="receipt">
                                <td>
                                    {{receipt_form.code}}</td>
                                <td>{{receipt_form.amount}}</td>
                                <td>{{ receipt_form.document.errors }}{{ receipt_form.document }}</td>
                                <td>{{ receipt_form.received_date.errors }}{{ receipt_form.received_date }}</td>
                            </tr>
                            
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>


                </form>
                
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>

function attachDateRangePicker(input_date) {
    input_date.daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
        },
    }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
}
attachDateRangePicker($('.received_date'))
</script>


{% endblock jsscript %}