{% extends "erp_admin/base.html" %}
{% load static guardian_tags %}
{% block head %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
<style>
.dropdown-menu {
    min-width: 130px;
    left: -2px;
}

.select2-container .select2-selection--single {

    height: 34px!important;
    border-radius: 0px!important;
    border: 2px solid #ccc!important;
}

mark {
    background-color: #f0ad4e;
    color: #ffffff;
}
</style>
{% endblock head %}
{% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'expense:bill:detail' bill.id %}">Back</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Receipts </h2>

                    
                </div>
                <div class="col-sm-4">
                    {% if bill_payment_term.isNotPaid %}
                      
                    <a class="btn btn-primary" href="{% url 'expense:bill:payment_term:receipt:create' bill_payment_term.id %}">Add</a>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Receipt No.</th>
                            <th>Received Date</th>
                            <th>Amount</th>
                            <th>Document</th>
                            <th></th>
                            <!--<th></th>-->

                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {{receipt.code}}
                            </td>
                            <td>{{receipt.received_date}}</td>
                            <td><i class="fa fa-inr"></i>{{receipt.amount}}</td>
                            <td>
                                {% if receipt.document %}
                                <a href="{{ receipt.document.url }}"  class="btn btn-primary" data-lightbox="{{ receipt.document.name }}" data-title="">view</a> 
                                <a href="{{ receipt.document.url }}"target="_blank" class="btn btn-info"><i class="fa fa-file fa-fw"></i>download</a>  
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'expense:bill:payment_term:receipt:edit' receipt.payment_term.id receipt.id %}" title="edit">Edit</a>
                            </td>
                            <!--<td>
                                <a href="{% url 'expense:bill:payment_term:receipt:delete' receipt.payment_term.id receipt.id %}" title="delete">Delete</a>
                            </td>-->

                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="5">No Receipts for this Payment</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}

<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script>
    $("#contact").select2({
        maximumSelectionLength: 10,

    });
</script>
{% endblock jsscript %}