{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
#customer-form .customer-contacts,
#customer-form .customer-addresses {
    margin: 10px;
}
#customer-form .customer-contact,
#customer-form .customer-address {
    padding: 5px 30px;
    box-shadow: 2px 2px 5px #e3e3e3;
    margin-bottom: 10px;
}
#customer-form  .form-group {
    margin-bottom: 0px;
}
#customer-form  .form-group:after {
    clear: both;
    display: table;
    content: " "
}
#contacts .contact {
    padding: 10px;
}
.btnsize{
    width:260px!important;
}
</style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'supplier:list' %}">Supplier</a>
        <i class="fa fa-angle-right"></i>
		<span>{{supplier}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-8">
                <h4>{{ supplier.name }}</h4>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'supplier:edit' supplier.pk %}" class="btn btn-lg btn-link">
                    <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                </a>
            </div>
        </div>
    </div>
    <div class="block" id="contacts">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h4>Contacts</h4>
            </div>
            {% for contact in supplier.supplier_contacts.all %}
            <div class="col-sm-4">
                <div class="panel panel-default contact">
                    <div class="contact-details">
                        <i class="fa fa-user fa-fw"></i> <span> {{ contact.name }}</span> <br>
                        <i class="fa fa-id-badge fa-fw"></i> <span> {{ contact.designation }}</span> <br>
                        <i class="fa fa-envelope fa-fw"></i> <span> {{ contact.email }}</span> <br>
                        <i class="fa fa-phone fa-fw"></i> <span> {{ contact.phone }}</span>, <span> {{ contact.alternat_phone }}</span> <br>

                    </div>
                    <div class="contact-actions">
                        <a href="{% url 'supplier:supplier-contact-detail' contact.pk %}" class="btn btn-info">
                          <i class="fa fa-info-circle fa-lg"></i> View
                        </a>
                        <form style="display: inline-block;" method="post" action="" onsubmit="remove(this, event)">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash-o fa-fw"></i> Delete
                            </button>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {% empty %}
                No Contacts
            {% endfor %}
        </div>
    </div>
    <div class="block">
        <div class="row show-grid" style="padding:5px;">
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'product:add_products'  %}" class="btn btn-primary btnsize">
                        Add Product
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'expense:supplier_or_vendor'  %}" class="btn btn-primary btnsize">
                        Record Expense
                    </a>
                </div>
                <div class="col-sm-4">
                     <a href="{% url 'asset:purchase_order:create'  %}" class="btn btn-primary btnsize">
                        Add Asset Purchase Order
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="{% url 'asset:stock:create'  %}" class="btn btn-primary btnsize">
                        Add Asset Stock
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'consumable:purchase_order:create'  %}" class="btn btn-primary btnsize">
                        Add Consumable Purchase Order
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'consumable:stock:create'  %}" class="btn btn-primary btnsize">
                        Add Consumable Stock
                    </a>
                </div>
            </div>






        </div>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}
</script>
{% endblock jsscript %}
