{% extends "erp_admin/base.html" %}
{% load static tz  %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
{% endblock css %}
{% block content %}
<div class="banner">
    <h2>
        <a href="{% url 'supplier:list' %}">Suppliers</a>
        <i class="fa fa-angle-right"></i>
		<span>{{type}}</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>
<form class="" action="{{form_url}}" method="post" id="qForm">
    <div class="blank">
        <div class="grid-form1">

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ supplier_form.non_field_errors }}
                    {{ supplier_form.field_errors }}
                    {{ supplier_address_form.non_field_errors }}
                    {{ supplier_form.field_errors }}
                    
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ supplier_form.name.errors }}{{ supplier_form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Phone No.<span class="req">*</span></label>
                                <div class="">
                                    {{ supplier_form.phone.errors }}{{ supplier_form.phone }}{{ supplier_form.phone.help_text }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Email<span class="req"></span></label>
                                <div class="">
                                    {{ supplier_form.email.errors }}{{ supplier_form.email }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">WhatsApp No.<span class="req"></span></label>
                                <div class="">
                                    {{ supplier_form.whatsup_no.errors }}{{ supplier_form.whatsup_no }}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="">
            
            
            <div id="contacts">
                <div class="grid-form1">
                    <h4 style="padding:1%;">Add Address</h4>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.addressline1.label }} <span class="req">*</span></label>
                                {{ supplier_address_form.addressline1 }}
                                {{ supplier_address_form.addressline1.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.addressline2.label }} <span class="req">*</span></label>
                                {{ supplier_address_form.addressline2 }}
                                {{ supplier_address_form.addressline2.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.area.label }}<span class="req"></span></label>
                                {{ supplier_address_form.area }}
                                {{ supplier_address_form.area.errors }}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.country.label }} <span class="req">*</span></label>
                                {{ supplier_address_form.country }}
                                {{ supplier_address_form.country.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.state.label }} <span class="req">*</span></label>
                                {{ supplier_address_form.state }}
                                {{ supplier_address_form.state.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.city.label }} <span class="req">*</span></label>
                                {{ supplier_address_form.city }}
                                {{ supplier_address_form.city.errors }}
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.zipcode.label }}</label>
                                {{ supplier_address_form.zipcode }}
                                {{ supplier_address_form.zipcode.errors }}
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">{{ supplier_address_form.billing.label }}</label>
                                <div>
                                {{ supplier_address_form.billing }}
                                {{ supplier_address_form.billing.errors }}
                                </div>
                            </div>
                           
                            <div class="clearfix"></div>
                        </div>
                            <button style="float: right; margin: -25px 15px;" class="btn-primary btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}
