{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{{ request.META.HTTP_REFERER }}">Bills</a>
        <i class="fa fa-angle-right"></i>
        <span>Create</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>
    </h2>
</div>

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row show-grid">
		 	<div class="col-sm-2 col-xs-12">
			</div>
		 	<div class="col-sm-10 col-xs-12" align="left">
		 		{% if type == 'add' %}
		 			<h3 align="left">Add Bill</h3>
		 		{% elif type == 'edit' %}
		 			<h3 align="left">Edit Bill</h3>
		 		{% endif %}
		 	</div>
		</div>
 	     
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
					{{ form.non_field_errors }}
					{{ form.field_errors }}
					<div class="form-group">
						<label for="employee" class="col-sm-2 col-xs-12 control-label">{{ form.bill_type.label}}<span class="req">*</span></label>
						<div class="col-sm-8 col-xs-12">
							{{ form.bill_type }}{{ form.bill_type.errors }}
						</div>
					</div>

					<div class="form-group">
						<label for="employee" class="col-sm-2 col-xs-12 control-label">{{ form.name.label}}<span class="req"></span></label>
						<div class="col-sm-8 col-xs-12">
							{{ form.name }}{{ form.name.errors }}
						</div>
					</div>

					<div class="form-group">
						<label for="basic_pay_daily" class="col-sm-2 control-label col-xs-12">{{ form.date.label}}<span class="req">*</span></label>
						<div class="col-sm-8">
							{{ form.date }}
							{{ form.date.errors }}
						</div>
					</div>

					<div class="form-group">
						<label for="employee" class="col-sm-2 col-xs-12 control-label">{{ form.amount.label}}<span class="req"></span></label>
						<div class="col-sm-8 col-xs-12">
							{{ form.amount }}{{ form.amount.errors }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>
			
					</div>
					
					
				</form>
			</div>
		</div>			
	</div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
	$("#location").select2({
		
		});

</script>

<script>

</script>

{% endblock jsscript %}