{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
    <style>
    .row{
    margin-left:5px;
    margin-right:5px;
    }
    </style>
{% endblock head %}
{% block content %}

<div class="banner">
    <h2>
        <a href="{{ request.META.HTTP_REFERER }}">Create</a>
        <i class="fa fa-angle-right"></i>
        <span>Detail</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

        <div class="block">
            
            <div class="row show-grid">
                <div class="row">
                    <div class="col-sm-6 col-xs-12" style="">
                        <span class="date_font">
                            Created Date and Time: {{ bill.created_at | date }}
                        </span>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <span class="date_font pull-right">
                            Last Update: {{ bill.updated_at | date }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-8">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <th colspan="2">Bill Details</td>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Bill Type</th>
                                <td>{{ bill.bill_type }}</td>
                            </tr>
                            {% if bill.name %}

                             <tr>
                                <th>Name</th>
                                <td>{{ bill.name }}</td>
                            </tr>


                             {% endif %}
                           
                            <tr>
                                <th>Bill Date</th>
                                <td>{{ bill.date }}</td>
                            </tr>
                            
                            
                            {% if bill.amount %}
                            <tr>
                                <th>Amount</th>
                                <td>{{ bill.amount }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Edit</th>
                                <td><a href="{% url 'bill:edit_bill' bill.pk %}" class="btn btn-link pull-right"><i class="fa fa-pencil-square-o fa-fw"></i> </a></td>
                            </tr>
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}