{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}

    <style type="text/css">
        
    .form-group{
            width:100%;
    }
    .tab-content {
    padding-left: 20px 
    }
/*blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
*/
    </style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="{% url 'expense:dashboard' %}">Dashboard</a>
        <i class="fa fa-angle-right"></i>
        <span>Bills</span>
        <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right" aria-hidden="true"></i></a>

    </h2>
</div>

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
        
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.bill_type.label }}</label>
                    {{ filter.form.bill_type }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
            
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.amount.label }}</label>
                    {{ filter.form.amount }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.date.label }}</label>
                    {{ filter.form.date }}
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.finishing_date.label }}</label>
                    {{ filter.form.finishing_date }}
                </div>
            </div>
             
            <div class="clearfix"></div>
                
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


    <div class="blank">
        <div class="grid-form1">
            <div class="row">
            </div>
            <div class="row show-grid">
                <div class="col-sm-4 col-xs-12">
                    <h3 align="left">
                    {% if remainder == "remainder" %}
                    
                     <span style="color:#d9534f;"><blink>Remainders <i class="fa fa-clock-o"></i></a></blink></span>
                    {% elif due == "due" %}
                     <span style="color:#d9534f;"><blink>Bills on Due <i class="fa fa-clock-o"></i></a></blink></span>

                    {% else %}
                      Bills 
                        <a href="{% url 'bill:add_bill' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    {% endif %}
                    </h3>
                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="pull-right">
                        
                        <!-- Button trigger modal -->
                        {% if remainder == "" or due == "" %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                        Apply Filters  <i class="fa fa-search"></i>
                        </button>
                        {% endif %}
                        <a href="{% url 'bill:list' %}" class="btn btn-primary">Refresh <i class="fa fa-refresh"></i></a>
                        
                        <a href="{% url 'bill:list' %}?remainder=remainder" class="btn btn-warning">Remainder <i class="fa fa-clock-o"></i></a>
                      
                        <a href="{% url 'bill:list' %}?due=due" class="btn btn-danger">Due Date Crossed <i class="fa fa-warning"></i></a>
                    </div>
                </div>

                <div class="col-sm-2 col-xs-12">
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Bill Type</th>
                                    <th>Date</th>
                                    <th>Paid/Not Paid</th>
                                    <th>View</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bill in bills %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'bill:detail' bill.pk %}">
                                        {% if bill.bill_type == "Other" %}
                                          {% if bill.name %} 
                                          {{ bill.name}} - {{bill.date|date:'m/y'}}
                                          {% else %}
                                          {{ bill.bill_type}} 
                                          {% endif %}
                                        {% else %}
                                            {{ bill.bill_type}} - {{bill.date|date:'m/y'}}
                                        {% endif %}

                                        </a></td>
                                        <td>{% if bill.date %} {{ bill.date|date:'d/m/y' }} {% endif %}</td>

                                        <td>
                                            {% if bill.paid == False %}
                                                 Not Paid
                                            {% else %}
                                                Paid
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'bill:detail' bill.pk %}"><i class="fa fa-eye"></i>
                                        </td>
                                        <td>
                                            <a href="{% url 'bill:edit_bill' bill.pk %}"><i class="fa fa-edit"></i>
                                        </td>
                                        </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="7">No Bills</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{ pagination|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jsscript %}
    
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var $date_inputs = $('.tdate')
            var date_format = 'YYYY-MM-DD';
            $date_inputs.daterangepicker({
                singleDatePicker: true,
            autoUpdateInput: false,
            // minDate:new Date(),
            // timePicker: true,
            // timePicker24Hour: false,
            autoApply: true,
            showDropdowns: true,
            locale: {
                format: date_format,
            },
                // calender_style: "picker_4",
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });

            $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD'));
            });

            $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });      
      });
    </script>
    
{% endblock jsscript %}