{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
    {% load staticfiles %}
    {% block head %}
        <style>
            .status-open {
                    background-color:#337ab7;
                    font-size:13px;
                    color:#ffffff;
                    padding:1%;

                }
               
        </style>
        <link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />
    {% endblock head %}
    <div class="blank">
        <div class="blank-page">
            <div class="row show-grid" style="margin-bottom:300px;">
                <h2><span style="color:#FF0000;"><i class="fa fa-clock-o"></i> Remainder </span></h2><br>


<!---->

   {% if loans %}

        <br><button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Loans <span class="badge  badge-dark">{{ loans.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample1">

                       {% for loan in loans %}
                        <p>
                        <a href="{% url 'loan:detail' loan.loan.pk %}">
                        <span>{{forloop.counter}}. {{loan.loan.bank_name}} 
                         &nbsp;&nbsp; - {{loan.date}}
                        <i class="fa fa-eye">
                        </i></a>
                        </span>
                        </p>
                        {% endfor %}
        </div>&nbsp;
    {% endif %}     

                 
    {% if bills %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Bills <span class="badge  badge-primary">{{ bills.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
                       {% for bill in bills %}
                        <p>
                        <span>
                        <a href="{% url 'bill:detail' bill.pk %}">
                        {{forloop.counter}}. {{bill.bill_type}} 
                         &nbsp;&nbsp; - {{bill.date}}
                        <i class="fa fa-eye"></i>
                        </a>
                        </span>
                        </p>
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if cheques %}
        <button class="btn btn-primary btn-block " type="button" data-toggle="collapse" data-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">Cheques <span class="badge  badge-dark">{{ cheques.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
                       {% for cheque in cheques %}
                        <p>
                        <span>
                        <a href="{% url 'check:detail' cheque.pk %}">
                        {{forloop.counter}}. {{cheque}} 
                         &nbsp;&nbsp; - {{cheque.end_date}}
                         <i class="fa fa-eye">
                        </i>
                        </a>
                        </span>
                        </p>
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if staff_insurances %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">Staff Insurances <span class="badge  badge-primary">{{ staff_insurances.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample5">
                       {% for staff_insurance in staff_insurances %}
                
                        <p>
                        <a href="{% url 'employee:staff_insurance_details' staff_insurance.employee.code %}">
                        <span>{{forloop.counter}}. {{staff_insurance}} 
                         &nbsp;&nbsp; - {{staff_insurance.period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if vehicle_insurance_periods %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">Vehicle Insurance <span class="badge  badge-dark">{{ vehicle_insurance_periods.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample6">
                       {% for vehicle_insurance_period in vehicle_insurance_periods %}
                
                        <p>
                       <a href="{% url 'asset:vehicle_asset_detail' vehicle_insurance_period.pk %}">
                        <span>{{forloop.counter}}. {{vehicle_insurance_period}} 
                         &nbsp;&nbsp; - {{vehicle_insurance_period.insurance_period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if vehicle_tax_periods %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7">Vehicle Tax <span class="badge  badge-primary">{{ vehicle_tax_periods.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample7">
                       {% for vehicle_tax_period in vehicle_tax_periods %}
                
                        <p>
                       <a href="{% url 'asset:vehicle_asset_detail' vehicle_tax_period.pk %}">
                        <span>{{forloop.counter}}. {{vehicle_tax_period}} 
                         &nbsp;&nbsp; - {{vehicle_tax_period.tax_period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if vehicle_pollution_periods %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample8" aria-expanded="false" aria-controls="multiCollapseExample8">Vehicle Pollution <span class="badge  badge-dark">{{ vehicle_pollution_periods.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample8">
                       {% for vehicle_pollution_period in vehicle_pollution_periods %}
                
                        <p>
                       <a href="{% url 'asset:vehicle_asset_detail' vehicle_pollution_period.pk %}">
                        <span>{{forloop.counter}}. {{vehicle_pollution_period}} 
                         &nbsp;&nbsp; - {{vehicle_pollution_period.pollution_period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %}

    {% if vehicle_test_periods %}
        <button class="btn btn-primary  btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample9" aria-expanded="false" aria-controls="multiCollapseExample9">Vehicle Test <span class="badge  badge-primary">{{ vehicle_test_periods.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample9">
                       {% for vehicle_test_period in vehicle_test_periods %}
                
                        <p>
                       <a href="{% url 'asset:vehicle_asset_detail' vehicle_test_period.pk %}">
                        <span>{{forloop.counter}}. {{vehicle_test_period}} 
                         &nbsp;&nbsp; - {{vehicle_test_period.test_period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %} 

    {% if vehicle_insurances %}
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Vehicle Insurance <span class="badge  badge-dark">{{ vehicle_insurances.count }}</span><i style="float: right;" class="fa fa-bars"></i></button>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
                       {% for staff_insurance in vehicle_insurances %}
                
                        <p>
                        <a href="">
                        <span>{{forloop.counter}}. {{staff_insurance}} 
                         &nbsp;&nbsp; - {{staff_insurance.period_to}}
                        <i class="fa fa-eye"></i></a>
                        </span>
                        </p>
                        
                        {% endfor %}
        </div>&nbsp;
    {% endif %} 
            </div>
            
        </div>
    </div>
{% endblock content %}