{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Sinora {% block title %} {% endblock title %} </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Fav-Icon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
    addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
    window.scrollTo(0, 1);
    }


    </script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/jawdrop_style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/screenfull.js' %}"></script>
    <script>
    $(function() {
    $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
    if (!screenfull.enabled) {
    return false;
    }
    $('#toggle').click(function() {
    screenfull.toggle($('#container')[0]);
    });
    });


    </script>
    <!--skycons-icons-->
    <script src="{% static 'js/skycons.js' %}"></script>
    <!--//skycons-icons-->
    {% block head %}
    <style>

        .fa {
        color: #4e1c5a!important;
        }
        @media (min-width: 768px){
        #page-wrapper {
        position: inherit;
        margin: 0px;
        }
        }
        .sidebar .active li {
        background-color: #999!important;
        }




    </style>

    {% endblock head %}
    {% block css %}

    {% endblock css %}
</head>
<body>

<div id="wrapper">
    {% block menu %}
    {% endblock menu %}
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">
            <div class="messages container">
                <div class="row">
                    <div>

                        {% if messages %}

                        {% for message in messages %}
                        {% if message.tags %}{% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" id="warning-alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success " id="success-alert">
                            <strong> {{ message }}</strong>
                        </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                        <div class="alert alert-info" id="info-alert">
                            <strong> {{ message }}</strong>
                        </div>
                        {% endif %}
                        {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}

            {% endblock content %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!---->
<!--scrolling js-->
<!--  <script src="{% static 'js/vue.js' %}"></script> -->
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!--//scrolling js-->
<script src="{% static 'js/bootstrap.min.js' %}">
</script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script type="text/javascript">
    $('document').ready(function() {
    // body...
    $("#success-alert").fadeTo(2000, 500).slideUp(500, function() {
    $("#success-alert").slideUp(700);
    });
    $("#info-alert").fadeTo(2000, 500).slideUp(500, function() {
    $("#info-alert").slideUp(700);
    });
    $("#warning-alert").fadeTo(2000, 700).slideUp(700, function() {
    $("#info-alert").slideUp(700);
    });
});


</script>
</body>
{% block scripts %}

{% endblock scripts %}
{% block jsscript %}

{% endblock jsscript %}
</html>