{% extends "erp_admin/base.html" %} {% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>Employees</h2>
                <a href="{% url "employee:create" %}" class="badge pull-right">Add Employee</a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ employee }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No Employees in System</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
