<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-8">
                <h4>{{ customer.name }}</h4>
            </div>
            <div class="col-sm-4">
                <a :href="edit_customer_url" class="btn btn-primary">Edit Customer</a>
            </div>
        </div>
    </div>
    <div class="block" id="contacts">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h4>Contacts</h4>
            </div>
            <div class="col-sm-4"  v-for="(contact, index) in customer.contacts">
                <div class="panel panel-default contact">
                    <div class="contact-details">
                        <i class="fa fa-user fa-fw"></i> <span> {{ contact.name }}</span> <br>
                        <i class="fa fa-id-badge fa-fw"></i> <span> {{ contact.designation }}</span> <br>
                        <i class="fa fa-envelope fa-fw"></i> <span> {{ contact.email }}</span> <br>
                        <i class="fa fa-phone fa-fw"></i> <span> {{ contact.phone }}</span>, <span> {{ contact.alternat_phone }}</span> <br>
                    </div>
                    <div class="contact-actions">
                        <a :href="'/contacts/' + contact.id" class="btn btn-info">
                          <i class="fa fa-info-circle fa-lg"></i> View
                        </a>
                        <a href="javascript.void(0)" class="btn btn-danger" @click.prevent="deleteContact(contact)">
                          <i class="fa fa-trash-o fa-lg"></i> Delete
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
                <!--<ul class="list-inline">
                    <li v-for="(contact, index) in customer.contacts" class="list-group-item">
                        <i class="fa fa-user fa-fw"></i><span> {{ contact.name }}</span> <br>
                        <i class="fa fa-id-badge fa-fw"></i><span> {{ contact.designation }}</span> <br>
                        <i class="fa fa-envelope fa-fw"></i><span> {{ contact.email }}</span> <br>
                        <i class="fa fa-phone fa-fw"></i><span> {{ contact.phone }}</span>, </label><span> {{ contact.alternat_phone }}</span> <br>
                        <a :href="'/contacts/' + contact.id" class="btn btn-info pull-right">
                          <i class="fa fa-info-circle fa-lg"></i> View
                        </a>
                        <a href="javascript.void(0)" class="btn btn-danger pull-right" @click.prevent="deleteContact(contact)">
                          <i class="fa fa-trash-o fa-lg"></i> Delete
                        </a>
                        
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
</div>
