<template src='./detail.template.html'></template>
<script>
import $ from 'jquery'
import 'bootstrap'
export default {
	// delimiters: ['{{', '}}'],
	name: 'customer-detail',
	
	data() {
		return {
			customer: {
				id: null,
				name: null,
				phase: null,
				phases: [
					{
						name: null,
					}
				],
				contacts:[
					{
						name: null, 
						email: null,
						phone: null,
						alternate_phone: null,
						gender: null,
						dob: null,
					}
				]
			},
			apiErrors: {},
			edit_customer_url: '',
			choices: {
				countries: [],
				states: [],
				cities: [],
				phases: [],
				default_phase: null,
			},
		}
	},
	components: { 
		// 'customer-select2': Select2,s
	},
	created(){
		this.customer = window.customer
		// this.get_customer_options()
		this.edit_customer_url = '/customers/' + this.customer.id + '/edit/'
	},
	mounted(){
		$('.collapse').collapse()
	},
	computed: {
		
	},
	watch: {
		
	},
	methods: {
		deleteContact(contact){
			if(confirm('Confirm Delete')){
				this.$http.delete('/api/contacts/' + contact.id +'/')
				.then( response => {
					console.log(response)
					window.location.assign(window.location.href + '?deleted=1')
				})
				.catch( error => {
					console.log(error)
					if (error.response) {
						if(error.response.status == 404){
							alert('Contact already deleted!')
						}
					} 
				})
			}
			return false
		}
	}
}
</script>
<style>
#customer-form .customer-contacts,
#customer-form .customer-addresses {
	margin: 10px;
}
#customer-form .customer-contact,
#customer-form .customer-address {
	padding: 5px 30px;
	box-shadow: 2px 2px 5px #e3e3e3;
	margin-bottom: 10px;
}
#customer-form  .form-group {
	margin-bottom: 0px;
}
#customer-form  .form-group:after {
	clear: both;
	display: table;
	content: " "
}
#contacts .contact {
	padding: 10px;
}
</style>