<template src='./edit.template.html'></template>

<script>
import Datepicker from 'components/datepicker.vue'

export default {
	// delimiters: ['{{', '}}'],
	name: 'edit-customer',
	props: {
		// editCustomer: {
		// 	type: Object,
		// 	default: function(){
		// 		return {}
		// 	}
		// },
	},
	// name: 'edit-customer',
	data() {
		return {
			editCustomer: {},
			newCustomer: {
				name: null,
				// addresses: [],
				contacts:[
					{
						name: null, 
						email: null,
						phone: null,
						alternate_phone: null,
						gender: null,
						dob: null,
						addresses: []
					}
				]
			},
			deleted_ids: [],
			apiErrors: {},
			choices: {
				countries: [],
				states: [],
				cities: [],
				default_phase: null,
			},
		}
	},
	components: { 
		Datepicker
	},

	created(){
		console.log('created edit-customer')
		this.get_customer_options()
	},

	computed: {
		
	},

	watch: {
		editCustomer: function(){
			console.log('editCustomer changed')
			this.set_customer()
		},
	},

	methods: {
		set_customer(){
			if(window.editCustomer && window.editCustomer.hasOwnProperty('id') && window.editCustomer.id)
				this.newCustomer = window.editCustomer
		},

		get_customer_options: function(){
			// this.new_customer = Object.assign({}, this.new_customer, customer) 
			this.$http.get('/api/customers/choices')
			.then(response => {
				this.choices = response.data
				// this.choices.phases = this.choices.phases.map(phase => {
				//   return {name: phase[1]}
				// })
				this.set_defaults()
				this.set_customer()
				// self.format_choices(response.data)
			})
			.catch(error => {
				console.log(error)
			})
			return
		},

		set_defaults(){
			if(!this.newCustomer.gender){
				this.newCustomer.contacts.forEach(contact => {
					contact.gender = this.choices.default_gender[0]
				})
			}
		},
		
		saveCustomer: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/customers/'
			if (this.newCustomer.hasOwnProperty('id') && this.newCustomer.id){
				url += this.newCustomer.id + '/'
				method = 'PUT'
			}

			// console.log(vm.formData())
			this.$http({
				method: method,
				url: url,
				data: this.get_form_data()
			})
			.then(response => {
				window.location.assign(response.data.success_url + '?created=1')
			})
			.catch( error => {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.handle_validation_errors(error.response.data)
				}
			})
		},

		get_form_data(){
			return this.newCustomer
		},

		handle_validation_errors(errors){
			// var vm = this
			this.apiErrors = errors
			// vm.$validator.errorBag.clear()
			// vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				} else {
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},


		add_contact(){
			this.newCustomer.contacts.push({
				name: null, 
				email: null,
				phone: null,
				alternate_phone: null,
				gender: this.choices.default_gender[0],
				dob: null,
				addresses: []
			})
		},

		remove(index){

			this.deleted_ids.push(this.newCustomer.contacts[index].id)
			this.newCustomer.contacts.splice(index, 1)
		},

		
		hasError: function(errors, key_array) {
			if(key_array.length !== 0){
				var key = key_array[0]
				if(errors.hasOwnProperty(key) || (Array.isArray(errors) && errors.indexOf(key) > -1)){
					return this.hasError(errors[key], key_array.splice(1,key_array.length))
				}
			}
			if(key_array.length === 0 && Array.isArray(errors)){
				return errors[0]
			}
			return false
		},

		// hydrateErrors: function(){
		// 	this.apiErrors.forEach(error => {
		// 		this.newCustomer.hasOwnProperty()
		// 	})

		// }

	}
}
</script>

<style>
#customer-form .customer-contacts,
#customer-form .customer-addresses {
	margin: 10px;
}

#customer-form .customer-contact,
#customer-form .customer-address {
	box-shadow: 2px 2px 5px #e3e3e3;
	margin-bottom: 10px;
}
#customer-form	.form-group {
	margin-bottom: 0px;
}
#customer-form	.form-group:after {
	clear: both;
	display: table;
	content: " "
}
</style>