<div class="block">
    <div class="row show-grid">
        <div class="col-sm-12">
            <form role="form" id="customer-form" method="post" class="" @submit.prevent="saveCustomer">
                <legend>Customer Details</legend>
                <div class="form-group" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'name']) }">
                    <div class="col-sm-6">
                        <label class="control-label">Company Name:</label>
                        <input type="text" class="form-control" v-model="newCustomer.name">
                        <span v-show="hasError(apiErrors, ['contacts', index, 'name'])" class="help-block">
                            <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'name']) }}
                        </span>
                    </div>
                </div>
                <div class="customer-contacts">
                    <legend>Contact details</legend>
                    <div v-for="(contact, index) in newCustomer.contacts" class="customer-contact">
                        <div class="form-group">
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'name']) }">
                                <label class="control-label">Name:</label>
                                <input type="text" class="form-control" v-model="contact.name">
                                <span v-show="hasError(apiErrors, ['contacts', index, 'name'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'name']) }}
                                </span>
                            </div>
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'email']) }">
                                <label class="control-label">Email:</label>
                                <input type="email" class="form-control" v-model="contact.email">
                                <span v-show="hasError(apiErrors, ['contacts', index, 'email'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'email']) }}
                                </span>
                            </div>
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'designation']) }">
                                <label class="control-label">Designation:</label>
                                <input type="text" class="form-control" v-model="contact.designation">
                                <span v-show="hasError(apiErrors, ['contacts', index, 'designation'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'designation']) }}
                                </span>
                            </div>
                            <!--div class="clearfix"></div>-->
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'phone']) }">
                                <label class="control-label">Phone:</label>
                                
                                <input type="number" class="form-control" v-model="contact.phone">
                                <span v-show="hasError(apiErrors, ['contacts', index, 'phone'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'phone']) }}
                                </span>
                            </div>
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'alternate_phone']) }">
                                <label class="control-label">Alternate Phone:</label>
                                <input type="number" class="form-control" v-model="contact.alternate_phone">
                                <span v-show="hasError(apiErrors, ['contacts', index, 'alternate_phone'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'alternate_phone']) }}
                                </span>
                            </div>
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'gender']) }">
                                <label class="control-label">Gender:</label>
                                <select class="form-control" v-model="contact.gender">
                                    <option v-for="option in choices.genders" :value="option[0]">{{ option[1] }}</option>
                                </select>
                                <span v-show="hasError(apiErrors, ['contacts', index, 'gender'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'gender']) }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <div class="col-sm-4" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'dob']) }">
                                <label class="control-label">Date of Birth:</label>
                                <datepicker v-model="newCustomer.dob" ></datepicker>
                                <!--<input type="date" class="form-control" v-model="newCustomer.dob">-->
                                <span v-show="hasError(apiErrors, ['contacts', index, 'dob'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'dob']) }}
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <button v-if="index !== 0" @click.prevent="remove(index)" class="btn btn-danger pull-right">Remove</button>
                                
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <button @click.prevent="add_contact" class="btn btn-primary">Add Contact</button>
                </div>

                
                <!-- :value="newCustomer.customer" -->
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>
